<template>
  <!-- Table -->
  <div id="app">
    <v-app id="inspire">
      <!-- spinner -->
      <div class="text-center">
        <v-dialog v-model="dialog_loader" hide-overlay persistent width="300">
          <v-card color="primary" dark>
            <v-card-text style="text-align:center">
              รอสักครู่ . . .
              <v-progress-linear
                indeterminate
                color="white"
                class="mb-0"
              ></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>
      <!-- icon-top -->
      <v-btn
        v-scroll="onScroll"
        v-show="fab"
        fab
        dark
        fixed
        bottom
        right
        color="#15a5bad9"
        @click="toTop"
      >
        <v-icon>mdi-chevron-up</v-icon>
      </v-btn>
      <!-- Dialog -->
      <v-container>
        <v-dialog v-model="dialog_create_form" persistent max-width="340">
          <v-card>
            <v-card-title class="headline">กรุณาทำการเลือกไฟล์</v-card-title>
            <v-card-text>
              <v-form v-model="form.valid" ref="form">
                <v-file-input
                  v-model="form.filePo"
                  accept="application/pdf"
                  label="ไฟล์แจ้งหนี้"
                  :rules="form.filePoRules"
                  type="file"
                  prepend-icon="mdi-file-document-outline"
                  required
                >
                </v-file-input>
              </v-form>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" dark @click="cancle()">
                ยกเลิก
              </v-btn>
              <v-btn color="green darken-1" dark @click="submit()">
                ตกลง
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-container>

      <!-- search -->
      <v-container>
        <div>
          <v-row no-gutters>
            <v-col cols="12" md="6" sm="12">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="ค้นหา"
                single-line
                hide-details
                style="width:50%"
              ></v-text-field>
            </v-col>

            <!-- create-form -->
            <v-col cols="12" md="6" sm="12">
              <v-btn color="primary" style="float:right" @click="create_form()">
                <v-icon>mdi-plus</v-icon>
                สร้างแบบฟอร์ม
              </v-btn>
            </v-col>
          </v-row>
        </div>
      </v-container>
      <!-- table -->
      <v-container>
        <v-data-table
          :headers="headers"
          :search="search"
          :items="itemsWithIndex"
          :items-per-page="10"
          class="elevation-1"
        >
          <template v-slot:item.actions="{ item }">
            <v-icon small class="mx-0" @click="edit_preset(item)" color="teal">
              mdi-pencil
            </v-icon>
            &nbsp;&nbsp;
            <v-icon
              small
              class="mx-0"
              @click="delete_preset(item)"
              color="pink"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-container>
    </v-app>

    <!-- dialog-edit-preset -->
    <v-dialog v-model="dialog_edit_preset" persistent fullscreen>
      <v-card>
        <v-card-title class="headline ml-6">
          <v-icon style="font-size:40px">mdi-playlist-edit</v-icon>
          แก้ไข แบบฟอร์ม
          <v-spacer></v-spacer>
          <v-btn icon color="pink" @click="dialog_edit_preset = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <hr
          role="separator"
          aria-orientation="horizontal"
          class="my-2 v-divider theme--light"
        />
        <v-row class="ma-0 pa-0">
          <v-col cols="12" xl="6" lg="6" md="6" sm="12" xs="12">
            <!-- <v-card color="red"> -->
            <div style="text-align:center">
              <img :src="get_pic_s3" width="65%" height="600px" />
            </div>
            <!-- </v-card> -->
          </v-col>
          <v-col style="" cols="12" xl="6" lg="6" md="6" sm="12" xs="12">
            <v-sheet class="pa-5">
              <v-form ref="form_edit">
                <v-card-text>
                  <v-text-field
                    label="ชื่อแบบฟอร์ม"
                    v-model="preset_name"
                    :rules="form_edit.name_presetRules"
                  ></v-text-field>

                  <v-text-field
                    label="คอลัมน์รายการที่"
                    v-model="detail"
                    :rules="form_edit.detail_columnRules"
                    type="number"
                  ></v-text-field>

                  <v-text-field
                    label="คอลัมน์จำนวนที่"
                    v-model="quantity"
                    :rules="form_edit.quantity_columnRules"
                    type="number"
                  ></v-text-field>

                  <v-text-field
                    label="คอลัมน์ราคา/ต่อหน่วยที่"
                    v-model="unitprice"
                    :rules="form_edit.unitprice_columnRules"
                    type="number"
                  ></v-text-field>

                  <v-text-field
                    label="คอลัมน์จำนวนเงินที่"
                    v-model="amount"
                    :rules="form_edit.amount_columnRules"
                    type="number"
                  ></v-text-field>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn
                    color="error darken-1"
                    @click="cancle_edit_dialog_preset()"
                    style="width:140px"
                    >ยกเลิก</v-btn
                  >
                  <v-btn
                    color="success darken-1"
                    @click="submit_edit_dialog_preset()"
                    style="width:140px;max-width:100%"
                    >บันทึก</v-btn
                  >
                </v-card-actions>
              </v-form>
            </v-sheet>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <!-- dialog-delete-preset -->
    <v-dialog v-model="dialog_delete_preset" persistent max-width="315">
      <v-card>
        <v-form>
          <v-card-text style="text-align:center;">
            <v-icon small class="mx-0" style="font-size:100px" color="red">
              mdi-delete-variant
            </v-icon>

            <h1 style="text-align: center;color: rgb(0, 0, 0);" class=" mt-6">
              ต้องการลบหรือไม่?
            </h1>
            <h5 style="color:rgb(38, 39, 38)" class="mt-2">
              กดปุ่ม<U>ตกลง</U> เพื่อทำการลบ แบบฟอร์ม
            </h5>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error darken-1" @click="cancle_delete_dialog_preset()"
              >ยกเลิก</v-btn
            >
            <v-btn
              color="success darken-1"
              @click="submit_delete_dialog_preset()"
              >ตกลง</v-btn
            >
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fab: false,
      get_pic_s3: "",
      get_biz_id: localStorage.getItem("biz_id"),
      // dialog_edit
      dialog_edit_preset: false,
      dialog_create_form: false,
      form: {
        valid: false,
        filePo: null,
        filePoRules: [
          (v) => !!v || "กรุณาทำการเลือกไฟล์แจ้งหนี้",
          (v) => v != null || "กรุณาทำการเลือกไฟล์แจ้งหนี้",
        ],
      },
      dialog_loader: false,
      preset_id: "",
      preset_name: "",
      detail: null,
      quantity: null,
      unitprice: null,
      amount: null,
      form_edit: {
        name_presetRules: [
          (v) => !!v || "กรุณากรอกชื่อแบบฟอร์ม",
          (v) => v != null || "กรุณากรอกชื่อแบบฟอร์ม",
        ],
        detail_columnRules: [
          (v) => !!v || "กรุณากรอกเลขคอลัมน์ของรายการ",
          (v) => v != null || "กรุณากรอกเลขคอลัมน์ของรายการ",
        ],
        quantity_columnRules: [
          (v) => !!v || "กรุณากรอกเลขคอลัมน์ของจำนวนที่",
          (v) => v != null || "กรุณากรอกเลขคอลัมน์ของจำนวนที่",
        ],
        unitprice_columnRules: [
          (v) => !!v || "กรุณากรอกเลขคอลัมน์ราคา/ต่อหน่วยที่",
          (v) => v != null || "กรุณากรอกเลขคอลัมน์ราคา/ต่อหน่วยที่",
        ],
        amount_columnRules: [
          (v) => !!v || "กรุณากรอกเลขคอลัมน์จำนวนเงินที่",
          (v) => v != null || "กรุณากรอกเลขคอลัมน์จำนวนเงินที่",
        ],
      },
      //dilog_delete
      dialog_delete_preset: false,
      // table
      search: "",
      dialog: false,
      headers: [
        {
          text: "ลำดับ",
          value: "index",
        },
        {
          text: "ชื่อแบบฟอร์ม",
          align: "start",
          sortable: false,
          value: "preset_name",
        },
        { text: "แก้ไข/ลบ", value: "actions", sortable: false },
      ],
      desserts: [],
    };
  },
  computed: {
    itemsWithIndex() {
      return this.desserts.map((desserts, index) => ({
        ...desserts,
        index: index + 1,
      }));
    },
  },
  mounted() {
    this.getAll_preset();
  },

  methods: {
    // editItem(item) {
    //   this.editedIndex = this.desserts.indexOf(item);
    //   this.editedItem = Object.assign({}, item);
    //   this.dialog = true;
    // },

    // deleteItem(item) {
    //   const index = this.desserts.indexOf(item);
    //   confirm("Are you sure you want to delete this item?") &&
    //     this.desserts.splice(index, 1);
    // },
    // test(item) {
    //   console.log("test", item);
    // },

    onScroll(e) {
      if (typeof window === "undefined") return;
      const top = window.pageYOffset || e.target.scrollTop || 0;
      this.fab = top > 20;
    },
    toTop() {
      this.$vuetify.goTo(0);
    },

    create_form() {
      this.dialog_create_form = true;
    },

    submit() {
      if (this.$refs.form.validate()) {
        this.dialog_create_form = false;
        this.dialog_loader = true;
        console.log(this.form.filePo);
        let form_data = new FormData();
        form_data.append("file_po", this.form.filePo);
        form_data.append("token", localStorage.getItem("token"));
        form_data.append("biz_id", localStorage.getItem("biz_id"));
        this.axios
          .post(
            process.env.VUE_APP_API +
              "/api/v1/preset?biz_id=" +
              this.get_biz_id,
            form_data,
            {
              headers: {
                "Content-Type": "multipart/form-data",
              },
            }
          )
          .then((response) => {
            console.log(response);
            localStorage.setItem(
              "s3link",
              JSON.stringify(response.data["s3link"])
            );
            localStorage.setItem(
              "base64_preset",
              JSON.stringify(response.data["base64"])
            );
            this.$refs.form.reset();
            this.dialog_create_form = false;
            this.dialog_loader = false;
            // this.$router.push({ name: "PageSetPreset" });
            // this.$router.push({ name: "PageSetPresetStepper" });
            this.$router.push({ name: "PageSetPresetSteppers" });
            // this.$router.push({ name: "PageSetPresetStepperTab" });
          })
          .catch((error) => {
            console.log(error);
            this.dialog_create_form = true;
            this.dialog_loader = false;
          });
      }
    },

    cancle() {
      this.dialog_create_form = false;
      this.$refs.form.reset();
    },
    edit_preset(item) {
      console.log(item);
      this.get_pic_s3 = item.s3link[0];
      console.log(this.get_pic_s3);
      this.preset_id = item.preset_id;
      this.preset_name = item.preset_name;
      this.detail = parseInt(item.detail);
      this.quantity = parseInt(item.quantity);
      this.unitprice = parseInt(item.unitprice);
      this.amount = parseInt(item.amount);
      this.dialog_edit_preset = true;
    },

    submit_edit_dialog_preset() {
      this.axios
        .put(process.env.VUE_APP_API + "/api/v1/preset/editcolumn", {
          preset_id: this.preset_id,
          preset_name: this.preset_name,
          detail: this.detail,
          quantity: this.quantity,
          unitprice: this.unitprice,
          amount: this.amount,
        })
        .then((response) => {
          console.log(response);
          this.dialog_edit_preset = false;
          this.getAll_preset();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    cancle_edit_dialog_preset() {
      this.dialog_edit_preset = false;
    },

    delete_preset(item) {
      console.log("delete");
      console.log(item.preset_id);
      this.preset_id = item.preset_id;
      console.log("preset_id", this.preset_id);
      // this.dialog_delete_preset = true;
      this.swal_alert();
    },

    cancle_delete_dialog_preset() {
      this.dialog_delete_preset = false;
    },

    submit_delete_dialog_preset() {
      this.axios
        .delete(
          process.env.VUE_APP_API +
            "/api/v1/preset/deletepreset?preset_id=" +
            this.preset_id
        )
        .then((response) => {
          console.log(response);
          this.dialog_delete_preset = false;
          this.getAll_preset();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getAll_preset() {
      this.axios
        .get(
          process.env.VUE_APP_API + "/api/v1/preset?biz_id=" + this.get_biz_id
        )
        .then((response) => {
          console.log(response.data);
          this.desserts = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    swal_alert() {
      this.$swal({
        title: "ต้องการลบหรือไม่?",
        type: "error",
        // text: "กดปุ่ม ตกลง เพื่อไปยังหน้า HOME",
        confirmButtonText: "ตกลง",
        cancelButtonText: "ยกเลิก",
        cancelButtonColor: "#d33",
        showCancelButton: true,
        allowOutsideClick: false,
      }).then(() => {
        console.log("triggered redirect here");
        this.submit_delete_dialog_preset();
      });
    },
  },
};
</script>

<style></style>
