<template>
  <!-- spinner -->
  <div class="text-center">
    <v-dialog v-model="dialog_loader" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text style="text-align:center">
          รอสักครู่ . . .
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialog_loader: false,
      token: "",
      idcard: "",
    };
  },
  mounted() {
    this.dialog_loader = true;
    this.token = this.$route.query.access_token;
    this.idcard = this.$route.query.tax_id;
    console.log(this.token);
    console.log(this.idcard);
    // this.token = this.$route.params.token;
    // this.idcard = this.$route.params.idcard;
    this.axios
      .post(process.env.VUE_APP_API + "/api/v1/authen/business", {
        id_card: this.idcard,
        // username: "jarindevelop",
        // password: "jarindesign1",
        token: this.token,
      })
      .then((response) => {
        console.log("response", response.data);
        this.set_token(response.data);
        this.dialog_loader = false;
        this.$router.push({ name: "TrackingPO" });
      })
      .catch((error) => {
        console.log(error.response);
        this.dialog_loader = false;
        this.$swal({
          title: "ผิดพลาด",
          type: "error",
          text: "เข้าสู่ระบบไม่สำเร็จ! กรุณาตรวจสอบอีกรอบ",
          confirmButtonText: "ตกลง",
          confirmButtonColor: "#d33",
          allowOutsideClick: false,
        }).then(() => {
          console.log("sweetalert is closed");
          // window.location.href = "http://google.com";
        });
      });
  },
  methods: {
    set_token(data) {
      console.log(data);
      localStorage.setItem("token", data.token);
      localStorage.setItem("username", data.username);
      localStorage.setItem("biz_id", data.biz_id);
    },
  },
};
</script>

<style></style>
