<template>
  <div id="app">
    <v-app>
      <v-content>
        <v-container fluid pa-0>
          <v-layout row wrap>
            <v-flex xs12 sm6 id="sign-in-text-wrapper">
              <v-carousel
                cycle
                height="100%"
                hide-delimiter-background
                show-arrows-on-hover
              >
                <v-carousel-item
                  v-for="(slide, i) in slides"
                  :key="i"
                  :src="slide.src"
                  height="100%"
                >
                </v-carousel-item>
              </v-carousel>
            </v-flex>
            <v-flex xs12 sm6 id="sign-up-form-wrapper" class="active">
              <v-layout column align-center justify-center pa-3 mt-5>
                <v-flex xs12 mb-3 mt-12>
                  <div class="login-wrapper text-xs-center">
                    <div class="display-1 font-weight-black">
                      Login
                    </div>
                  </div>
                </v-flex>
                <v-flex xs12 mb-3>
                  <v-btn fab small color="blue-grey lighten-4">
                    <v-icon color="grey darken-4"
                      >mdi-alpha-b-box-outline</v-icon
                    >
                  </v-btn>
                  <v-btn fab small color="blue-grey lighten-4">
                    <v-icon color="grey darken-4"
                      >mdi-alpha-i-box-outline</v-icon
                    >
                  </v-btn>
                  <v-btn fab small color="blue-grey lighten-4">
                    <v-icon color="grey darken-4">mdi-alpha-l-circle</v-icon>
                  </v-btn>
                  <v-btn fab small color="blue-grey lighten-4">
                    <v-icon color="grey darken-4">mdi-alpha-l-circle</v-icon>
                  </v-btn>
                  <v-btn fab small color="blue-grey lighten-4">
                    <v-icon color="grey darken-4"
                      >mdi-alpha-i-box-outline</v-icon
                    >
                  </v-btn>
                  <v-btn fab small color="blue-grey lighten-4">
                    <v-icon color="grey darken-4"
                      >mdi-alpha-n-box-outline</v-icon
                    >
                  </v-btn>
                  <v-btn fab small color="blue-grey lighten-4">
                    <v-icon color="grey darken-4"
                      >mdi-alpha-g-box-outline</v-icon
                    >
                  </v-btn>
                </v-flex>
                <v-flex xs12 mb-2>
                  <span class="grey--text text--lighten-1"></span>
                </v-flex>

                <v-flex xs12 class="form-wrapper">
                  <v-form @submit.prevent="login()" ref="data_login">
                    <v-text-field
                      full-width
                      single-line
                      v-model="data_login.idcard"
                      :rules="data_login.idcardRules"
                      background-color="#f4f8f7"
                      color="grey darken-2"
                      prepend-inner-icon="mdi-card-account-details-outline"
                      label="เลขประจำตัวผู้เสียภาษี 13 หลัก"
                      maxlength="13"
                      :counter="13"
                    ></v-text-field>

                    <v-text-field
                      full-width
                      single-line
                      label="Username"
                      v-model="data_login.username"
                      :rules="data_login.usernameRules"
                      background-color="#f4f8f7"
                      color="grey darken-2"
                      prepend-inner-icon="mdi-account-outline"
                      mb-0
                    ></v-text-field>

                    <v-text-field
                      v-model="data_login.password"
                      :rules="data_login.passwordRules"
                      :append-icon="
                        show1 ? 'mdi-eye-outline' : 'mdi-eye-off-outline'
                      "
                      :type="show1 ? 'text' : 'password'"
                      full-width
                      single-line
                      label="Password"
                      background-color="#f4f8f7"
                      color="grey darken-2"
                      prepend-inner-icon="mdi-lock-outline"
                      @click:append="show1 = !show1"
                    ></v-text-field>
                  </v-form>
                </v-flex>
                <v-btn
                  large
                  dark
                  ripple
                  color="teal"
                  id="sign-up"
                  type="submit"
                  @click="login()"
                  class="animate__animated animate__bounce"
                  >Sign up</v-btn
                >
                <!-- <a href="" class="animate__animated animate__bounce"
                  >Forget Password?</a
                > -->

                <!-- snackbar -->
                <v-snackbar v-model="snackbar" :timeout="timeout" right="right">
                  {{ text }}
                  <v-btn color="red" text @click="snackbar = false">
                    Close
                  </v-btn>
                </v-snackbar>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>

    <!-- dialog status -->
    <v-row justify="center">
      <v-dialog v-model="dialog_status" persistent max-width="360">
        <!-- <template v-slot:activator="{ on }">
            <v-btn color="primary" dark v-on="on">Open Dialog</v-btn>
          </template> -->
        <v-card>
          <v-card-title class="headline">กรุณากรอกข้อมูลเพิ่มเติม</v-card-title>
          <v-form @submit.prevent="submit_status()" ref="data_status">
            <v-card-text>
              <v-select
                :items="items"
                item-text="viewValue"
                item-value="value"
                label="ชื่อธนาคาร"
                v-model="data_status.bank_name"
                :rules="data_status.bank_nameRules"
                prepend-inner-icon="mdi-bank"
                persistent-hint
                return-object
                single-line
              ></v-select>

              <v-text-field
                label="เลขบัญชีธนาคาร"
                v-model="data_status.bank_number"
                :rules="data_status.bank_numberRules"
                prepend-inner-icon="mdi-card-bulleted"
                maxlength="10"
                :counter="10"
              ></v-text-field>
            </v-card-text>
          </v-form>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red darken-1" text @click="dialog_status = false"
              >Cancle</v-btn
            >
            <v-btn
              type="submit"
              color="green darken-1"
              text
              @click="submit_status()"
              >Submit</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "PageLogin",
  mounted() {
    this.clar_token();
  },
  data() {
    return {
      dialog_status: false,
      slides: [
        {
          src: require("../../assets/413494-PD6UKH-148.jpg"),
        },
        {
          src: require("../../assets/12286287.jpg"),
        },
        {
          src: require("../../assets/invoice-fraud.jpg"),
        },
      ],
      data_login: {
        idcard: "1110201257979",
        idcardRules: [
          (v) => !!v || "IDCard is required",
          (v) => /^[0-9]*$/.test(v) || "กรอกได้เฉพาะตัวเลข",
          (v) => v.length == 13 || "Number must be equal 13",
        ],
        username: "jarindevelop",
        usernameRules: [
          (v) => !!v || "Username is required",
          //   (v) => /.+@.+/.test(v) || "E-mail must be valid",
        ],
        password: "jarindesign1",
        passwordRules: [
          (v) => !!v || "Password is required",
          //   (v) => v.length <= 10 || "Name must be less than 10 characters",
        ],
      },
      // form_data_status: {
      //   bank_name: [],
      //   bank_number: "",
      //   biz_id: localStorage.getItem("biz_id"),
      // },
      data_status: {
        bank_name: "",
        bank_nameRules: [
          (v) => !!v || "กรุณาทำการเลือกชื่อธนาคาร",
          (v) => v != null || "กรุณาทำการเลือกชื่อธนาคาร",
        ],
        bank_number: "",
        bank_numberRules: [
          (v) => !!v || "กรุณากรอกเลขบัญชีธนาคาร",
          (v) => /^[0-9]*$/.test(v) || "กรอกได้เฉพาะตัวเลข",
          (v) => v.length == 10 || "กรุณากรอกเลขบัญชีธนาคาร 10 หลัก",
        ],
        biz_id: localStorage.getItem("biz_id"),
      },
      // showPassword: false,
      show1: false,
      show: false,
      //snackbar
      snackbar: false,
      text: "",
      timeout: 5000,
      //
      user: {},
      //select
      items: [
        { value: "ธนาคารกรุงเทพ", viewValue: "ธนาคารกรุงเทพ" },
        { value: "ธนาคารกรุงไทย", viewValue: "ธนาคารกรุงไทย" },
        { value: "ธนาคารกรุงศรีอยุธยา", viewValue: "ธนาคารกรุงศรีอยุธยา" },
        { value: "ธนาคารกสิกรไทย", viewValue: "ธนาคารกสิกรไทย" },
        { value: "ธนาคารทหารไทย", viewValue: "ธนาคารทหารไทย" },
        { value: "ธนาคารไทยพาณิชย์", viewValue: "ธนาคารไทยพาณิชย์" },
        { value: "ธนาคารธนชาต", viewValue: "ธนาคารธนชาต" },
        { value: "ธนาคารยูโอบี", viewValue: "ธนาคารยูโอบี" },
        { value: "ธนาคารออมสิน", viewValue: "ธนาคารออมสิน" },
        { value: "ธนาคารอาคารสงเคราะห์", viewValue: "ธนาคารอาคารสงเคราะห์" },
      ],
    };
  },
  methods: {
    login() {
      if (!this.$refs.data_login.validate()) {
        return;
      }
      this.user["id_card"] = this.data_login.idcard;
      this.user["username"] = this.data_login.username;
      this.user["password"] = this.data_login.password;
      this.axios
        .post(process.env.VUE_APP_API + "/api/v1/authen/one", this.user)
        .then((response) => {
          console.log("response", response.data);
          this.set_token(response.data);
          if (response.data.status == "yes") {
            if (this.$refs.data_login.validate()) {
              this.$router.push({ name: "TrackingPO" });
              // this.set_token(response.data);
            }
          } else if (response.data.status == "no") {
            console.log("no");
            this.dialog_status = true;
          }
        })
        .catch((error) => {
          if (error.response != undefined) {
            console.log("test == >", error.response);
            console.log("error == >", error.response.data.msg);
            this.snackbar_alert(error.response.data.msg);
            // this.swal_alert(error.response.data.msg, "error");
          }
          // this.$router.push({ name: "Login" });
        });
      // console.log(this.user);
    },
    submit_status() {
      if (this.$refs.data_status.validate()) {
        console.log("bank_name", this.data_status.bank_name.value);
        console.log("bank_number", this.data_status.bank_number);
        console.log("biz_id", this.data_status.biz_id);
        this.axios
          .put(process.env.VUE_APP_API + "/api/v1/vender/upgradebiz", {
            bank_name: this.data_status.bank_name.value,
            bank_number: this.data_status.bank_number,
            biz_id: localStorage.getItem("biz_id"),
          })
          .then((response) => {
            console.log(response);
            this.$router.push({ name: "TrackingPO" });
          })
          .catch((error) => {
            console.log(error.response);
          });
      }
    },
    set_token(data) {
      console.log(data);
      localStorage.setItem("token", data.token);
      localStorage.setItem("username", data.username);
      localStorage.setItem("biz_id", data.biz_id);
    },
    clar_token() {
      localStorage.clear();
    },
    swal_alert(error_msg, casea) {
      this.$swal({
        title: "Oops !",
        type: casea,
        text: error_msg,
        footer: "<a href>Why do I have this issue?</a>",
      });
    },
    snackbar_alert(error_msg) {
      this.snackbar = true;
      this.text = error_msg;
      this.timeout;
      console.log("snackbar_alert");
    },
  },
};
</script>

<style scoped>
.btn-login {
  text-align: center;
  margin-top: 1%;
  padding-bottom: 2%;
}
.bg {
  background-image: url("../../assets/AdobeStock_207372516_Preview.jpeg");
  background-position: center;
  /* background-size: contain; */

  /* Image doesn't repeat */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* css=>new-form-login */
.container {
  min-height: 530px;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(253deg, #40b09b 0, #3fb493 100%);
  color: white;
}

.form-wrapper {
  min-width: 50%;
}

.layout.wrap {
  height: 100vh;
}

.active {
  background: #fff;
  color: #40ae9f;
}

#sign-in {
  width: 60%;
}

#sign-up {
  min-width: 25%;
}

.form-wrapper .v-input__control > .v-input__slot {
  background: rgba(244, 248, 247, 1);
}

.form-wrapper .v-text-field.v-text-field--enclosed .v-text-field__details {
  margin-bottom: 0px;
  height: 0px;
}
</style>
