<template>
  <div>
    <!-- spinner -->
    <div class="text-center">
      <v-dialog v-model="dialog_loader" hide-overlay persistent width="300">
        <v-card color="primary" dark>
          <v-card-text style="text-align:center">
            รอสักครู่ . . .
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <!-- app-bar -->
    <v-app-bar color="primary" dark>
      <v-app-bar-nav-icon @click="back_to_home">
        <v-icon>mdi-home</v-icon>
      </v-app-bar-nav-icon>
      <v-btn color="primary" depressed small @click="profile()">
        <span style="font-size:13.5px">โปรไฟล์</span>
      </v-btn>
      <v-btn color="primary" depressed small @click="all_forms()">
        <span style="font-size:13.5px">แบบฟอร์มทั้งหมด</span>
      </v-btn>

      <v-spacer></v-spacer>

      <v-icon color="white" class="hidden">mdi-account</v-icon>
      &nbsp;
      <span style="color:white" class="ml-2 hidden">{{ username }}</span>

      <v-menu left bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon color="white" v-on="on" @click="logout()">
            <v-icon>mdi-logout</v-icon>
          </v-btn>
        </template>
      </v-menu>
    </v-app-bar>

    <!-- app-bar-not-responsive -->
    <!-- <v-row class="child-flex">
      
      <v-toolbar color="primary">
        <div class="ml-icon">
          <v-btn icon large color="white" @click="back_to_home">
            <v-icon>mdi-home</v-icon>
          </v-btn>
          <v-btn color="primary" depressed small @click="profile()">
            <span style="font-size:13.5px">โปรไฟล์</span>
          </v-btn>
          <v-btn color="primary" depressed small @click="all_forms()">
            <span style="font-size:13.5px">แบบฟอร์มทั้งหมด</span>
          </v-btn>

          <v-dialog v-model="dialog" persistent max-width="290">
            <v-card>
              <v-card-title class="headline">กรุณาทำการเลือกไฟล์</v-card-title>
              <v-card-text>
                <v-form v-model="form.valid" ref="form">
                  <v-file-input
                    v-model="form.filePo"
                    accept="application/pdf"
                    label="ไฟล์แจ้งหนี้"
                    :rules="form.filePoRules"
                    type="file"
                    prepend-icon="mdi-file-document-outline"
                    required
                  >
                  </v-file-input>
                </v-form>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" dark @click="cancle()">
                  ยกเลิก
                </v-btn>
                <v-btn color="green darken-1" dark @click="submit()">
                  ตกลง
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
        <v-spacer></v-spacer>

        <div>
          <v-icon color="white">mdi-account</v-icon>
          &nbsp;
          <span style="color:white" class="ml-2">{{ username }}</span>
        </div>

        <div class="mr-icon">
          <v-menu bottom left transition="scale-transition">
            <template v-slot:activator="{ on }">
              <v-btn icon color="white" v-on="on" @click="logout()">
                <v-icon>mdi-logout</v-icon>
              </v-btn>
            </template>
          </v-menu>
        </div>
      </v-toolbar>
    </v-row> -->
  </div>
</template>

<script>
export default {
  name: "Menu",
  data() {
    return {
      dialog_loader: false,
      username: localStorage.getItem("username"),
      dialog: false,
      form: {
        valid: false,
        filePo: null,
        filePoRules: [
          (v) => !!v || "กรุณาทำการเลือกไฟล์แจ้งหนี้",
          (v) => v != null || "กรุณาทำการเลือกไฟล์แจ้งหนี้",
        ],
      },
      presets: [
        { title: "สร้างแบบฟอร์ม", icon: "mdi-shape-square-plus" },
        { title: "แบบฟอร์มทั้งหมด", icon: "mdi-text-box-search-outline" },
      ],
    };
  },
  methods: {
    profile() {
      // console.log("Profile");
      const path_profile = "/profile";
      if (this.$route.path != path_profile)
        this.$router.push({ name: "PageProfile" });
    },
    all_forms() {
      const path_preset_name = "/presetname";
      if (this.$route.path != path_preset_name) {
        this.$router.push({ name: "PagePresetName" });
      }
    },
    logout() {
      // console.log("ออกจากระบบ");
      this.$router.push({ name: "Login" });
    },
    back_to_home() {
      const path = `/main/TrackingPO`;
      if (this.$route.path !== path) this.$router.push(path);
    },

    check(preset) {
      // console.log(preset);
      if (preset == "สร้างแบบฟอร์ม") {
        this.dialog = true;
      } else if (preset == "แบบฟอร์มทั้งหมด") {
        const path_preset_name = "/presetname";
        if (this.$route.path != path_preset_name) {
          this.$router.push({ name: "PagePresetName" });
        }
      }
    },
    submit() {
      if (this.$refs.form.validate()) {
        this.dialog = false;
        this.dialog_loader = true;
        console.log(this.form.filePo);
        let form_data = new FormData();
        form_data.append("file_po", this.form.filePo);
        form_data.append("biz_id", localStorage.getItem("biz_id"));
        this.axios
          .post(
            process.env.VUE_APP_API + "/api/v1/preset?biz_id=" + this.biz_id,
            form_data,
            {
              headers: {
                "Content-Type": "multipart/form-data",
              },
            }
          )
          .then((response) => {
            console.log(response);
            localStorage.setItem(
              "s3link",
              JSON.stringify(response.data["s3link"])
            );
            localStorage.setItem(
              "base64_preset",
              JSON.stringify(response.data["base64"])
            );
            this.$refs.form.reset();
            this.dialog = false;
            this.dialog_loader = false;
            this.$router.push({ name: "PageSetPreset" });
          })
          .catch((error) => {
            console.log(error);
            this.dialog = true;
            this.dialog_loader = false;
          });
      }
    },
    cancle() {
      this.dialog = false;
      this.$refs.form.reset();
    },
  },
};
</script>

<style scoped>
.ml-icon {
  margin-left: 1%;
}

.mr-icon {
  margin-right: 1%;
}

@media only screen and (max-width: 600px) {
  .hidden {
    display: none;
  }
}
</style>
