<template>
  <v-app>
    <page size="A4">
      <v-container>
        <v-icon @click="print()" style="cursor:pointer;float:right">
          mdi-printer
        </v-icon>

        <div class="row">
          <div class=" ml-5 left">
            <img src="../../assets/inetlogo.png" style="width:250px;" />
          </div>
          <div class="right">
            <span style="font-size:10px">
              <B>บริษัท อินเทอร์เน็ตประเทศไทย จำกัด (มหาชน) สำนักงานใหญ่</B>
              <br />
              <B
                >Internet Thailand Public Company Limited
                เลขประจำตัวผู้เสียภาษี/Tax ID : 0107544000094</B
              >
              <br />
              1768 อาคารไทยซัมมิท ทาวเวอร์ ชั้น 10-12 และชั้น IT
              ถ.เพชรบุรีตัดใหม่ แขวงบางกะปิ เขตห้วยขวาง กรุงเทพมหานคร 10310 1768
              Thai Summit Tower, 10th - 12th Floor and IT Floor New Petchaburi
              Road Khwaeng BangKapi Khet Huay Khwang Bangkok 10310 Tel.
              0-2257-7000 Fax 0-2257-1379
            </span>
          </div>
        </div>

        <center>
          <span style="font-size:13px"><B>ใบแจ้งหนี้/วางบิล/INVOICE</B></span>
        </center>
        <div>
          <v-row>
            <v-col sm6>
              <v-card class="pa-2" outlined tile height="162px">
                <span style="font-size:13px">
                  <B>Vender Name</B> : {{ profile.account_title_th }}
                  {{ profile.first_name_th }}
                </span>
                <br />
                <span style="font-size:13px">
                  <B>Mailing Address </B> : เลขที่
                  {{ profile.address.house_no }} ชั้น
                  {{ profile.address.floor }} ตึก
                  {{ profile.address.building_name }} หมู่ที่
                  {{ profile.address.moo_no }} แยก
                  {{ profile.address.yaek }} ซอย {{ profile.address.soi }} ถนน
                  {{ profile.address.street }} ตำบน
                  {{ profile.address.zipcode_tambon }} อำเภอ
                  {{ profile.address.zipcode_amphoe }} จังหวัด
                  {{ profile.address.zipcode_province }} จังหวัด
                  {{ profile.address.zipcode_zipcode }}
                </span>
                <br />
                <span style="font-size:13px" class="mt-4">
                  <B>Tax ID </B> : {{ profile.id_card_num }} <B>Branch No.</B> :
                  {{ profile.branch_no }}
                </span>
              </v-card>
            </v-col>

            <v-col sm6>
              <v-card class="pa-2" outlined tile height="162px">
                <span style="font-size:13px">
                  <B>Invoice Number</B> : {{ info_invoice.po_id }}
                </span>
                <br />
                <span style="font-size:13px"> <B>Invoice Date </B>: - </span>
                <br />
                <span style="font-size:13px"> <B>Due Date </B>: - </span>
                <br />
                <span style="font-size:13px">
                  <B>Billing Address </B> : เลขที่
                  {{ profile.address.house_no }} ชั้น
                  {{ profile.address.floor }} ตึก
                  {{ profile.address.building_name }} หมู่ที่
                  {{ profile.address.moo_no }} แยก
                  {{ profile.address.yaek }} ซอย {{ profile.address.soi }} ถนน
                  {{ profile.address.street }} ตำบน
                  {{ profile.address.zipcode_tambon }} อำเภอ
                  {{ profile.address.zipcode_amphoe }} จังหวัด
                  {{ profile.address.zipcode_province }} จังหวัด
                  {{ profile.address.zipcode_zipcode }}
                </span>
              </v-card>
            </v-col>
          </v-row>
        </div>
        <v-card>
          <div>
            <v-data-table
              :headers="headers"
              :items="itemsWithIndex"
              hide-default-footer
            ></v-data-table>
          </div>
        </v-card>
        <hr
          role="separator"
          aria-orientation="horizontal"
          class="my-2 v-divider theme--light"
        />
        <div>
          <div class="top">
            <div style="float:right">
              <span style="font-size:13px">
                <B>รวมเป็นเงิน/Total Amount</B>
                <span class="ml-6" style="font-size:14.5px">
                  {{ price }}
                </span>
              </span>
              <br />
              <span style="font-size:13px">
                <B>ภาษีมูลค่าเพิ่ม/Vat</B>
                <span style="font-size:14.5px;margin-left:65px">
                  {{ vat }}
                </span>
              </span>
              <br />
              <span style="font-size:13px">
                <B>ยอดเงินสุทธิ/Grand Total</B>
                <span class="ml-7" style="font-size:14.5px;">
                  {{ grand_total }}
                </span>
              </span>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />

            <br />
          </div>

          <div class="left2">
            <center>
              <span class="ml-7" style="font-size:14.5px;">
                _____________________________
              </span>
              <br />
              <br />

              <span class="ml-7" style="font-size:14.5px;">
                ผู้วางบิล
              </span>
            </center>
          </div>

          <div class="right2">
            <center>
              <span class="ml-7" style="font-size:14.5px;">
                _____________________________
              </span>
              <br />
              <br />

              <span class="ml-7" style="font-size:14.5px;">
                ผู้วางบิล
              </span>
            </center>
          </div>
        </div>
      </v-container>
    </page>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      profile: "",
      info_invoice: "",
      detail_table: "",
      grand_total: "",
      vat: "",
      price: "",
      headers: [
        {
          text: "ลำดับ",
          value: "index",
        },
        { text: "รายการสินค้า/บริการ", value: "detail" },
        { text: "จำนวน", value: "amount" },
        { text: "ราคา/หน่วย", value: "price" },
        { text: "จำนวนเงิน", value: "total" },
      ],
      desserts: [],
    };
  },
  computed: {
    itemsWithIndex() {
      return this.desserts.map((desserts, index) => ({
        ...desserts,
        index: index + 1,
      }));
    },
  },
  mounted() {
    this.get_profile();
    this.detail_po();
  },
  methods: {
    get_profile() {
      // console.log("profile");
      this.axios
        .post(process.env.VUE_APP_API + "/api/v1/vender/getprofile", {
          access_token: localStorage.getItem("token"),
          biz_id: localStorage.getItem("biz_id"),
        })
        .then((response) => {
          console.log("profile:", response.data.msg.data);
          this.profile = response.data.msg.data[0];
        })
        .catch((error) => {
          console.log(error.response);
        });
    },

    detail_po() {
      JSON.parse(localStorage.getItem("PrintItem"));
      let info_po = JSON.parse(localStorage.getItem("printItem"));
      console.log("po-id:", info_po.po_id);

      this.axios
        .get(
          process.env.VUE_APP_API + "/api/v1/bill/getpo?po_id=" + info_po.po_id
        )
        .then((res) => {
          console.log("bill_print:", res.data.msg);
          console.log("grandtotal:", res.data.msg.total);
          console.log("vat:", res.data.msg.vat);
          console.log("price:", res.data.msg.price);
          this.grand_total = res.data.msg.total;
          this.vat = res.data.msg.vat;
          this.price = res.data.msg.price;
          //
          console.log("detail_table:", res.data.msg.orderdetail);
          this.info_invoice = res.data.msg;
          this.detail_table = res.data.msg;
          this.desserts = res.data.msg.orderdetail;
          this.set_time_print();
        })
        .catch((error) => {
          console.log("error", error);
        });
    },
    set_time_print() {
      setTimeout(function() {
        print();
      }, 1000);
    },
    print() {
      print();
    },
  },
};
</script>

<style scoped>
body {
  background: rgb(204, 204, 204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="A4"] {
  /* width: 21cm;
  height: 29.7cm; */
  width: 21.2cm;
  height: 29.9cm;
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}
@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
    /* size: auto; */
  }
}

hr.new4 {
  border: 1px solid red;
}

.left {
  width: calc(40% - (0.5em + 6px));
  float: left;
  min-height: 150px;
  margin-top: 1em;
}

.right {
  width: calc(60% - (0.5em + 6px));
  float: right;
  min-height: 150px;
  margin-top: 1em;
}
.left2 {
  width: calc(50% - (0.5em + 6px));
  float: left;
  min-height: 150px;
  margin-top: 1em;
}

.right2 {
  width: calc(50% - (0.5em + 6px));
  float: right;
  min-height: 150px;
  margin-top: 1em;
}

.top {
  width: calc(100% - 6px);
  min-height: 100px;
}
</style>
