<template>
  <v-app>
    <!-- dialog-loader -->
    <div class="text-center">
      <v-dialog v-model="dialog_loader" hide-overlay persistent width="300">
        <v-card color="primary" dark>
          <v-card-text style="text-align:center">
            รอสักครู่ . . .
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <v-content>
      <v-container fluid pa-0>
        <v-layout row wrap>
          <v-flex xs12 sm6 id="sign-in-text-wrapper">
            <div
              class="login-wrapper col-md-9 col-12 text-xs-center mt-6 mb-3 container "
            >
              <h1>
                {{ data_biz_company.name_on_document_th }}
                <!-- {{ data_biz_company.account_title_eng }}
                {{ data_biz_company.first_name_eng }} -->
              </h1>
              <!-- <h1>Profile</h1> -->
              <!-- <span class="subheading" color="#757575!important"
                >To keep connected with us, please login with your personal info
              </span> -->
              <v-flex row wrap>
                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="คำนำหน้าชื่อ(ไทย)"
                    :value="data_biz.account_title_th"
                    disabled
                    style="width:90%"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="ชื่อ(ไทย)"
                    disabled
                    :value="data_biz.first_name_th"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="นามสกุล(ไทย)"
                    disabled
                    :value="data_biz.last_name_th"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="คำนำหน้าชื่อ(อังกฤษ)"
                    disabled
                    :value="data_biz.account_title_eng"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="ชื่อ(อังกฤษ)"
                    disabled
                    :value="data_biz.first_name_eng"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="นามสกุล(อังกฤษ)"
                    disabled
                    :value="data_biz.last_name_eng"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="วันที่เกิด"
                    disabled
                    :value="data_biz.birth_date"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="อีเมล์"
                    disabled
                    :value="data_biz.thai_email"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="เบอร์โทรศัพท์"
                    disabled
                    :value="data_biz.mobile"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="คำนำหน้าบริษัท(ไทย)"
                    disabled
                    :value="data_biz_company.account_title_th"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="ชื่อบริษัท(ไทย)"
                    disabled
                    :value="data_biz_company.first_name_th"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4"> </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="คำนำหน้าบริษัท(อังกฤษ)"
                    disabled
                    :value="data_biz_company.account_title_eng"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="ชื่อบริษัท(อังกฤษ)"
                    disabled
                    :value="data_biz_company.first_name_eng"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <!-- <v-text-field
                    label="ชื่อผู้ใช้"
                    disabled
                    :value="data_biz.username"
                    style="width:90%"
                  ></v-text-field> -->
                </v-flex>

                <!-- <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="อีเมล์"
                    disabled
                    :value="data_biz.thai_email"
                    style="width:90%"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4 class="mt-4">
                  <v-text-field
                    label="เบอร์โทรศัพท์"
                    disabled
                    :value="data_biz.mobile"
                    style="width:90%"
                  ></v-text-field>
                </v-flex> -->
              </v-flex>
            </div>
          </v-flex>
          <v-flex xs12 sm6 id="sign-up-form-wrapper" class="active">
            <v-layout column pa-3>
              <div
                class="login-wrapper col-md-9 col-12 text-xs-center mt-4 mb-3 container "
              >
                <span style="font-size:28px"><B>ข้อมูลผู้ใช้งาน</B></span>
                <!-- <span class="subheading" color="#757575!important"
                  >To keep connected with us, please login with your personal
                  info
                </span> -->
                <div class="mt-2">
                  <p>
                    <i
                      class="v-icon notranslate mdi mdi-account-circle-outline theme--light"
                      style="font-size: 36px;"
                    ></i>
                    ชื่อผู้ใช้งาน :
                    {{ username }}
                  </p>
                  <hr
                    role="separator"
                    aria-orientation="horizontal"
                    class="my-2 v-divider theme--light"
                  />
                </div>

                <div>
                  <p>
                    <i
                      class="v-icon notranslate mdi mdi-card-account-details-outline theme--light"
                      style="font-size: 30px;"
                    ></i>
                    เลขประจำตัวเสียภาษี :
                    <span> {{ id_card_num }}</span>
                  </p>
                  <hr
                    role="separator"
                    aria-orientation="horizontal"
                    class="my-2 v-divider theme--light"
                  />
                </div>

                <div class="mt-4">
                  <p>
                    <i
                      class="v-icon notranslate mdi mdi-account-details theme--light"
                      style="font-size: 36px;"
                    ></i>
                    ชื่อ-สกุล : {{ first_name_th }} {{ last_name_th }}
                  </p>
                  <hr
                    role="separator"
                    aria-orientation="horizontal"
                    class="my-2 v-divider theme--light"
                  />
                </div>

                <div>
                  <p>
                    <i
                      class="v-icon notranslate mdi mdi-map-marker theme--light"
                      style="font-size: 30px;"
                    ></i>
                    ที่อยู่ :
                    <span>
                      บ.{{ address_name }} {{ house_no }} {{ zipcode_tambon }}
                      {{ zipcode_amphoe }} {{ zipcode_province }}
                      {{ zipcode_zipcode }}</span
                    >
                  </p>
                  <hr
                    role="separator"
                    aria-orientation="horizontal"
                    class="my-2 v-divider theme--light"
                  />
                </div>

                <div>
                  <p>
                    <i
                      class="v-icon notranslate mdi mdi-cellphone-basic theme--light"
                      style="font-size: 36px;"
                    ></i>
                    <span>เบอร์โทรศัพท์ : {{ mobile }}</span>
                  </p>
                  <hr
                    role="separator"
                    aria-orientation="horizontal"
                    class="my-2 v-divider theme--light"
                  />
                </div>

                <div>
                  <p>
                    <i
                      class="v-icon notranslate mdi mdi-email-outline theme--light"
                      style="font-size: 36px;"
                    ></i>
                    <span>อีเมล์ : {{ email }}</span>
                  </p>
                  <hr
                    role="separator"
                    aria-orientation="horizontal"
                    class="my-2 v-divider theme--light"
                  />
                </div>

                <div>
                  <p>
                    <i
                      class="v-icon notranslate mdi mdi-piggy-bank theme--light"
                      style="font-size: 36px;"
                    ></i>
                    <span>
                      ชื่อธนาคาร : {{ bank_name }}
                      <!-- <i
                        class="v-icon notranslate mdi mdi-pencil mt-1 pointer"
                        style="font-size: 24px;float:right"
                        @click="dialog_bank()"
                      ></i> -->
                    </span>
                  </p>
                  <hr
                    role="separator"
                    aria-orientation="horizontal"
                    class="my-2 v-divider theme--light"
                  />
                  <v-dialog
                    v-model="dialog_edit_bank"
                    persistent
                    max-width="360"
                  >
                    <v-card>
                      <v-card-title class="headline"
                        >แก้ไขชื่อธนาคาร</v-card-title
                      >
                      <v-form ref="data_edit_bank">
                        <v-card-text>
                          <v-select
                            :items="items"
                            item-text="viewValue"
                            item-value="value"
                            label="ชื่อธนาคาร"
                            v-model="data_edit_bank.bank_name"
                            :rules="data_edit_bank.bank_nameRules"
                            prepend-inner-icon="mdi-bank"
                            persistent-hint
                            return-object
                          ></v-select>
                        </v-card-text>
                      </v-form>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="error darken-1"
                          @click="cancle_dailog_bank()"
                          >ยกเลิก
                        </v-btn>
                        <v-btn
                          color="success darken-1"
                          @click="submit_dialog_bank()"
                          >บันทึก
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </div>

                <div>
                  <p>
                    <i
                      class="v-icon notranslate mdi mdi-card-account-details-outline theme--light"
                      style="font-size: 36px;"
                    ></i>
                    <span>
                      เลขบัญชีธนาคาร :
                      {{ bank_number }}
                      <!-- <i
                        class="v-icon notranslate mdi mdi-pencil mt-1 pointer "
                        style="font-size: 24px;float:right"
                        @click="dialog_account_bank()"
                      ></i> -->
                    </span>
                  </p>
                  <hr
                    role="separator"
                    aria-orientation="horizontal"
                    class="my-2 v-divider theme--light"
                  />

                  <v-dialog
                    v-model="dialogAccount_bank"
                    persistent
                    max-width="290"
                  >
                    <v-card>
                      <v-card-title class="headline"
                        >แก้ไขเลขบัญชีธนาคาร</v-card-title
                      >
                      <v-form ref="data_edit_account_bank">
                        <v-card-text
                          ><v-text-field
                            label="เลขบัญชีธนาคาร"
                            v-model="form_edit_account_bank.bank_number"
                            :rules="data_edit_account_bank.bank_numberRules"
                            prepend-inner-icon="mdi-card-bulleted"
                            maxlength="10"
                            :counter="10"
                          ></v-text-field
                        ></v-card-text>
                      </v-form>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="error darken-1"
                          @click="cancle_dialog_account_bank()"
                          >ยกเลิก
                        </v-btn>
                        <v-btn
                          color="success darken-1"
                          @click="submit_dialog_account_bank()"
                          >บันทึก
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </div>
                <!-- <v-btn
                  color="primary"
                  style="float:right"
                  @click="$router.push({ name: 'TrackingPO' })"
                >
                  <v-icon>mdi-home </v-icon> &nbsp;&nbsp; Home
                </v-btn> -->
              </div>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      //dialog-loader
      dialog_loader: false,
      data_biz: {},
      data_biz_company: {},
      //dialog
      dialogAccount_bank: false,
      dialog_edit_bank: false,
      first_name_th: "",
      last_name_th: "",
      email: "",
      company: "",
      name: "",
      mobile: "",
      address_name: "",
      house_no: "",
      zipcode_tambon: "",
      zipcode_amphoe: "",
      zipcode_province: "",
      zipcode_zipcode: "",
      username: "",
      id_card_num: "",
      bank_number: "",
      bank_name: "",

      data_edit_account_bank: {
        bank_number: "",
        bank_numberRules: [
          (v) => !!v || "กรุณากรอกเลขบัญชีธนาคาร",
          (v) => /^[0-9]*$/.test(v) || "กรอกได้เฉพาะตัวเลข",
          (v) => v.length == 10 || "กรุณากรอกเลขบัญชีธนาคาร 10 หลัก",
        ],
      },
      //select
      items: [
        { value: "ธนาคารกรุงเทพ", viewValue: "ธนาคารกรุงเทพ" },
        { value: "ธนาคารกรุงไทย", viewValue: "ธนาคารกรุงไทย" },
        { value: "ธนาคารกรุงศรีอยุธยา", viewValue: "ธนาคารกรุงศรีอยุธยา" },
        { value: "ธนาคารกสิกรไทย", viewValue: "ธนาคารกสิกรไทย" },
        { value: "ธนาคารทหารไทย", viewValue: "ธนาคารทหารไทย" },
        { value: "ธนาคารไทยพาณิชย์", viewValue: "ธนาคารไทยพาณิชย์" },
        { value: "ธนาคารธนชาต", viewValue: "ธนาคารธนชาต" },
        { value: "ธนาคารยูโอบี", viewValue: "ธนาคารยูโอบี" },
        { value: "ธนาคารออมสิน", viewValue: "ธนาคารออมสิน" },
        { value: "ธนาคารอาคารสงเคราะห์", viewValue: "ธนาคารอาคารสงเคราะห์" },
      ],
      data_edit_bank: {
        bank_name: "",
        bank_nameRules: [
          (v) => !!v || "กรุณาทำการเลือกชื่อธนาคาร",
          (v) => v != null || "กรุณาทำการเลือกชื่อธนาคาร",
        ],
      },
      form_edit_account_bank: {
        bank_number: "",
      },
      form: {
        valid: false,
        username: null,
        password: null,
        Company_name: null,
        email: null,
        phone: null,
        bank: null,
        accountnumber_bank: null,
        usernameRules: [
          (v) => !!v || "กรุณากรอก Username",
          (v) => v != null || "กรุณากรอก Username",
        ],
        passwordRules: [
          (v) => !!v || "กรุณากรอก Password",
          (v) => v != null || "กรุณากรอก Password",
        ],
        companyRules: [
          (v) => !!v || "กรุณากรอก Company",
          (v) => v != null || "กรุณากรอก Company",
        ],
        emailRules: [
          (v) => !!v || "กรุณากรอก Email",
          (v) => /.+@.+/.test(v) || "E-mail must be valid",
        ],
        phoneRules: [
          (v) => !!v || "กรุณากรอกหมายเลขโทรศัทพ์",
          (v) =>
            (v != null && v.length == 10) || "กรุณากรอกหมายเลขโทรศัทพ์ 10 หลัก",
          // (v) => !!v || "กรุณากรอกหมายเลขโทรศัทพ์",
          // v => v != null || "กรุณากรอกหมายเลขโทรศัทพ์",
          // v => !!v || "กรุณากรอกหมายเลขโทรศัทพ์",
          // v => v.length == 10 || "กรุณากรอกหมายเลขโทรศัทพ์ 10 หลัก",
        ],
        bankRules: [
          (v) => !!v || "กรุณาเลือกชื่อธนาคาร",
          (v) => v != null || "กรุณาเลือกชื่อธนาคาร",
        ],
        accountname_bankRules: [
          (v) => !!v || "กรุณากรอกหมายเลขธนาคาร",
          (v) =>
            (v != null && v.length == 13) || "กรุณากรอกหมายเลขธนาคาร 13 หลัก",

          // (v) => !!v || "กรุณากรอกหมายเลขธนาคาร",
          // v => v != null || "กรุณากรอกหมายเลขธนาคาร",
          // v => !!v || "กรุณากรอกหมายเลขธนาคาร",
          // v => v.length == 13 || "กรุณากรอกหมายเลขธนาคาร 13 หลัก",
        ],
      },
    };
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        console.log("test");
      }
    },
    cancle() {
      this.$router.push({ name: "TrackingPO" });
    },
    dialog_bank() {
      console.log("bank");
      this.dialog_edit_bank = true;
    },
    submit_dialog_bank() {
      if (this.$refs.data_edit_bank.validate()) {
        console.log("bank_name:", this.data_edit_bank.bank_name.value);
      }
    },
    cancle_dailog_bank() {
      console.log("cancle");
      this.$refs.data_edit_bank.reset();
      this.dialog_edit_bank = false;
    },
    dialog_account_bank() {
      this.dialogAccount_bank = true;
      console.log("bank");
    },
    submit_dialog_account_bank() {
      if (this.$refs.data_edit_account_bank.validate()) {
        console.log("account_bank:", this.form_edit_account_bank.bank_number);
      }
    },
    cancle_dialog_account_bank() {
      // this.$refs.data_edit_account_bank.reset();
      this.dialogAccount_bank = false;
    },
    get_profile() {
      {
        this.dialog_loader = true;
        this.axios
          .post(process.env.VUE_APP_API + "/api/v1/vender/getprofile", {
            access_token: localStorage.getItem("token"),
            biz_id: localStorage.getItem("biz_id"),
          })
          .then((response) => {
            console.log(response.data.biz_data[0]);
            this.bank_name = response.data.biz_data[0].bank_name;
            this.bank_number = response.data.biz_data[0].bank_number;
            console.log("bank", this.bank_number);
            this.data_biz_company = response.data.msg.data[0];
            console.log("company", this.data_biz_company);
            this.data_biz = response.data.msg.data[0].business_owner[0];
            console.log(this.data_biz);
            // business_owner;
            // console.log(response.data.msg.data);
            // console.log(response.data.msg.data[0].business_owner[0]);
            // console.log(response.data.msg.data[0].first_name_th);
            // console.log(response.data.msg.data[0].last_name_th);
            // console.log(response.data.msg.data[0].email);
            // console.log(response.data.msg.data[0].mobile_no);
            // console.log(response.data.msg.data[0].account_title_th);
            // console.log(response.data.msg.data[0].name_on_document_th);
            // console.log(response.data.msg.data[0].address.house_no);

            this.email = response.data.msg.data[0].email;
            this.mobile = response.data.msg.data[0].mobile_no;
            this.company = response.data.msg.data[0].address.building_name;
            this.address_name = response.data.msg.data[0].address.building_name;
            this.house_no = response.data.msg.data[0].address.house_no;
            this.zipcode_tambon =
              response.data.msg.data[0].address.zipcode_tambon;
            this.zipcode_amphoe =
              response.data.msg.data[0].address.zipcode_amphoe;
            this.zipcode_province =
              response.data.msg.data[0].address.zipcode_province;
            this.zipcode_zipcode =
              response.data.msg.data[0].address.zipcode_zipcode;
            this.first_name_th =
              response.data.msg.data[0].business_owner[0].first_name_th;
            this.last_name_th =
              response.data.msg.data[0].business_owner[0].last_name_th;
            this.id_card_num =
              response.data.msg.data[0].business_owner[0].id_card_num;
            this.username =
              response.data.msg.data[0].business_owner[0].username;
            this.dialog_loader = false;
          })
          .catch((error) => {
            console.log(error.response);
            this.dialog_loader = false;
          });
      }
    },
  },
  mounted() {
    this.get_profile();
  },
};
</script>

<style scoped>
.container {
  min-height: 530px;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(253deg, white 0, white 100%);
  color: rgba(0, 0, 0, 0.87);
}

.form-wrapper {
  min-width: 50%;
}

.layout.wrap {
  height: 100vh;
}

.active {
  background: #fff;
  color: #40ae9f;
}

#sign-in {
  width: 60%;
}

#sign-up {
  min-width: 25%;
}

.form-wrapper .v-input__control > .v-input__slot {
  background: rgba(244, 248, 247, 1);
}

.form-wrapper .v-text-field.v-text-field--enclosed .v-text-field__details {
  margin-bottom: 0px;
  height: 0px;
}
.pointer {
  cursor: pointer;
}
</style>
