<template>
  <v-app>
    <!-- spinner -->
    <div class="text-center">
      <v-dialog v-model="dialog_loader" hide-overlay persistent width="300">
        <v-card color="primary" dark>
          <v-card-text style="text-align:center">
            รอสักครู่ . . .
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <div>
      <v-btn
        class="btn-ocr"
        color="primary"
        @click="crop"
        style="width:135px;max-width:100%"
        ><v-icon>mdi-crop</v-icon> <span class="ml-1">อ่านรายการ</span>
      </v-btn>

      <v-btn
        dark
        class="btn-ocr"
        color="#15a5bad9"
        @click="crop_total()"
        style="width:135px;max-width:100%"
        ><v-icon>mdi-crop</v-icon><span class="ml-1">อ่านผลรวม</span>
      </v-btn>

      <!-- <v-btn dark class="btn-ocr" color="red" @click="crop_total()"
        ><v-icon>mdi-crop</v-icon>custom</v-btn
      > -->
    </div>
    <div>
      <!-- <v-container>
        <v-btn class="btn-ocr" color="primary" @click="crop"
          ><v-icon>mdi-crop</v-icon>อ่านรายการ</v-btn
        >

        <v-btn style="" class="btn-ocr" color="primary" @click="crop_total()"
          ><v-icon>mdi-crop</v-icon>อ่านผลรวม</v-btn
        >
      </v-container> -->
      <v-row class="mb-6" no-gutters>
        <v-col cols="12" lg="6" class="px-5">
          <div>
            <v-tabs v-model="tab" class="tabs" :grow="grow">
              <v-tab
                v-for="(img, index) in data_crop.data.base64"
                :key="index"
                :href="'#tab-' + index"
              >
                หน้า-{{ index + 1 }}
              </v-tab>
            </v-tabs>

            <v-tabs-items
              v-model="tab"
              v-for="(img, index) in data_crop.data.base64"
              :key="index"
            >
              <v-tab-item :value="'tab-' + index">
                <div>
                  <img :ref="'tab-' + index" :src="img" width="100%" />
                </div>
              </v-tab-item>
            </v-tabs-items>
          </div>
        </v-col>
        <v-col cols="12" lg="6" class="px-5">
          <!-- ฟอร์มรายละเอียดใบแจ้งหนี้ -->
          <v-card>
            <v-form ref="form_crop">
              <v-container>
                <!-- รายละเอียดผู้ขาย -->
                <v-row>
                  <v-col cols="6">
                    <v-card class="pa-2" elevation="0" tile height="162px">
                      <span><b>ผู้ขาย</b></span> <br />
                      <span style="font-size:13px">
                        <B>ชื่อผู้ขาย</B> : {{ vender_name }}
                        <!-- <input
                          type="text"
                          v-model="vender_name"
                          style="border: 1px solid black;width:50%;border: none;border-bottom: 1px solid #000000;"
                        /> -->
                      </span>
                      <br />
                      <span style="font-size:13px">
                        <B>เลขเสียภาษี </B>
                        <span class="ml-1"> : {{ tax_id }}</span>
                        <!-- <input
                          type="number"
                          v-model="tax_id"
                          class="ml-1"
                          style="border: 1px solid black;width:50%;background: transparent;border: none;border-bottom: 1px solid #000000;"
                        /> -->
                      </span>
                      <br />
                      <span style="font-size:13px">
                        <B>ที่อยู่ผู้ขาย </B> : เลขที่
                        {{ profile.address.house_no }} ชั้น
                        {{ profile.address.floor }} ตึก
                        {{ profile.address.building_name }} หมู่ที่
                        {{ profile.address.moo_no }} แยก
                        {{ profile.address.yaek }} ซอย
                        {{ profile.address.soi }} ถนน
                        {{ profile.address.street }} ตำบน
                        {{ profile.address.zipcode_tambon }} อำเภอ
                        {{ profile.address.zipcode_amphoe }} จังหวัด
                        {{ profile.address.zipcode_province }} จังหวัด
                        {{ profile.address.zipcode_zipcode }}
                      </span>
                      <br />
                      <!-- <span style="font-size:13px" class="mt-4">
                        <B>Zipcode </B> :
                        {{ profile.address.zipcode_zipcode }}
                      </span> -->
                      <!-- <span style="font-size:13px" class="mt-4">
                        <B>Zipcode </B> :
                        {{ profile.address.zipcode_zipcode }}
                      </span> -->

                      <!-- <br />
                      <v-textarea
                        name="input-7-1"
                        label="Mailing Address : "
                        style="font-size:13px"
                        row-height="25"
                        rows="2"
                        :value="address"
                      >
                      </v-textarea>
                      <span style="font-size:13px" class="mt-4">
                        <B>Zipcode </B> :
                        <input
                          type="text"
                          v-model="zipcode"
                          style="border: 1px solid black;width:20%;border: none;border-bottom: 1px solid #000000;"
                        />
                        &nbsp;
                        <B>Branch No.</B> :
                        <input
                          type="number"
                          v-model="branch_id"
                          style="border: 1px solid black;width:30%;border: none;border-bottom: 1px solid #000000;"
                        />
                      </span> -->
                    </v-card>
                  </v-col>
                  <v-col cols="6">
                    <v-card class="pa-2" elevation="0" tile height="auto">
                      <span><b>ผู้ซื้อ</b></span> <br />
                      <span style="font-size:13px"
                        ><B>ชื่อผู้ซื้อ</B> <span class="ml-7"></span> :
                        <input
                          type="text"
                          v-model="customer_name"
                          style="border: 1px solid black;width:50%;border: none;border-bottom: 1px solid #000000;"
                      /></span>
                      <br />
                      <span style="font-size:13px" class="mt-1">
                        <B>เลขเสียภาษี </B>
                        <span class="ml-1"></span> :
                        <input
                          type="text"
                          v-model="tax_id_customer"
                          style="border: 1px solid black;width:50%;border: none;border-bottom: 1px solid #000000;"
                        />
                      </span>
                      <br />
                      <!-- <span style="font-size:13px">
                        <B>Invoice Date </B> <span class="ml-5"></span>:
                        <input
                          type="text"
                          v-model="date_invoice"
                          style="border: 1px solid black;width:50%;border: none;border-bottom: 1px solid #000000;"
                        />
                      </span> -->

                      <v-textarea
                        name="input-7-1"
                        label="ที่อยู่ผู้ซื้อ : "
                        style="font-size:13px"
                        row-height="18"
                        rows="2"
                        v-model="customer_address"
                      >
                      </v-textarea>

                      <!-- <span style="font-size:13px" class="mt-1">
                        <B>Zipcode </B> :
                        <input
                          type="text"
                          v-model="zipcode"
                          style="border: 1px solid black;width:20%;border: none;border-bottom: 1px solid #000000;"
                        />
                        &nbsp;
                        <B>Branch No.</B> :
                        <input
                          type="number"
                          v-model="branch_id"
                          style="border: 1px solid black;width:30%;border: none;border-bottom: 1px solid #000000;"
                        />
                      </span> -->
                      <!-- <span style="font-size:13px" class="mt-4">
                        <B>Zipcode </B> :
                        <input
                          type="text"
                          v-model="zipcode"
                          style="border: 1px solid black;width:20%;border: none;border-bottom: 1px solid #000000;"
                        />
                      </span> -->
                    </v-card>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-text-field
                      v-model="po"
                      :rules="poRules"
                      label="เลขใบสั่งซื้อ"
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="period"
                      :rules="periodRules"
                      label="งวดชำระ"
                      outlined
                      dense
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="date_invoice"
                      label="วันออกใบแจ้งหนี้"
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      v-model="invoice"
                      :rules="invoiceRules"
                      label="เลขใบแจ้งหนี้"
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      v-model="contract"
                      :rules="contractRules"
                      label="เลขสัญญา"
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
            <!-- ฟอร์มรายละเอียดใบแจ้งหนี้ -->
            <v-data-table
              :headers="headers"
              :items="desserts"
              :items-per-page="5"
              sort-by="calories"
              class="elevation-1"
            >
              <!-- dialog_edit -->
              <template v-slot:top>
                <v-dialog v-model="dialog" max-width="500px">
                  <v-card>
                    <v-card-title>
                      <!-- <span class="headline">{{ formTitle }}</span> -->
                      <span class="headline">แก้ไข</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-textarea
                          outlined
                          v-model="editedItem.detail"
                          label="รายการสินค้า"
                        ></v-textarea>

                        <v-text-field
                          v-model="editedItem.quantity"
                          label="จำนวน"
                          type="number"
                        ></v-text-field>

                        <v-text-field
                          v-model="editedItem.unitprice"
                          label="ราคา/หน่วย"
                          type="number"
                        ></v-text-field>

                        <v-text-field
                          v-model="editedItem.amount"
                          label="จำนวนเงิน"
                          type="number"
                        ></v-text-field>
                      </v-container>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="error darken-1" dark @click="close"
                        >ยกเลิก</v-btn
                      >
                      <v-btn color="green darken-1" dark @click="save"
                        >บันทึก</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)" color="teal">
                  mdi-pencil
                </v-icon>
                <v-icon small @click="deleteItem(item)" color="pink">
                  mdi-delete
                </v-icon>
              </template>

              <template v-slot:body.append style="float:right">
                <tr style="text-align:right">
                  <td colspan="7">
                    <!-- <h4>ยอดเงินไม่รวม VAT : {{ price.toFixed(2) }}</h4>
                    <h4>
                      VAT(%) :<input
                        v-model="vat"
                        type="number"
                        style="border: 1px solid black;width:7%"
                      />
                    </h4>
                    <h4>จำนวนเงิน VAT (บาท) : {{ vat_price.toFixed(2) }}</h4>
                    <h4>
                      ภาษีหัก ณ ที่จ่าย (%) :
                      <input
                        v-model="withholdingtax"
                        type="number"
                        style="border: 1px solid black;width:7%"
                      />
                    </h4>
                    <h4>
                      คิดเป็นเงิน (บาท) : {{ withholdingtax_price.toFixed(2) }}
                    </h4>
                    <h4>จำนวนเงินสุทธิ : {{ total.toFixed(2) }}</h4>
                    ------------------------------------------------------------ -->
                    <h4>
                      รวมเป็นเงิน :
                      <input
                        v-model="price_final"
                        type="number"
                        style="border: 1px solid black;width:12%;border-radius: 4px;"
                      />
                    </h4>
                    <h4 class="mt-1">
                      ภาษีมูลค่าเพิ่ม :
                      <input
                        v-model="price_vat_final"
                        type="number"
                        style="border: 1px solid black;width:12%;border-radius: 4px;"
                      />
                    </h4>
                    <h4 class="mt-1">
                      ยอดเงินสุทธิ :
                      <input
                        v-model="total_final"
                        type="number"
                        style="border: 1px solid black;width:12%;border-radius: 4px;"
                      />
                    </h4>
                  </td>

                  <!-- <td colspan="7">
                    <h4>
                      รวมเป็นเงิน :
                      <input
                        v-model="price_final"
                        type="number"
                        style="border: 1px solid black;width:12%;border-radius: 4px;"
                      />
                    </h4>
                    <h4 class="mt-1">
                      ภาษีมูลค่าเพิ่ม :
                      <input
                        v-model="price_vat_final"
                        type="number"
                        style="border: 1px solid black;width:12%;border-radius: 4px;"
                      />
                    </h4>
                    <h4 class="mt-1">
                      ยอดเงินสุทธิ :
                      <input
                        v-model="total_final"
                        type="number"
                        style="border: 1px solid black;width:12%;border-radius: 4px;"
                      />
                    </h4>
                  </td> -->
                </tr>
              </template>
            </v-data-table>
          </v-card>
          <v-container>
            <div style="float: right;">
              <v-btn color="error" class="mr-2 mb-2" @click="cancel_crop">
                ยกเลิก
              </v-btn>
              <v-btn color="primary" class="mb-2" @click="confirm_crop">
                ตกลง
              </v-btn>
            </div>
          </v-container>
        </v-col>
      </v-row>
    </div>
  </v-app>
</template>

<script>
import Cropper from "cropperjs";

export default {
  name: "Cropper",
  props: {
    src: String,
  },

  data() {
    return {
      invoice_no: "",
      customer_address: "",
      customer_name: "",
      date_invoice: "",
      profile: "",
      vender_name: "",
      tax_id: "",
      tax_id_customer: "",
      address: "",
      zipcode: "",
      branch_id: "",
      //
      price_final: 0.0,
      price_vat_final: 0.0,
      total_final: 0.0,
      tab: null,
      grow: true,
      dialog_loader: false,
      // variable form po
      po: "",
      poRules: [(v) => !!v || "กรุณากรอกเลขใบสั่งซื้อ"],
      period: Number,
      periodRules: [
        (v) => /^[0-9]*$/.test(v) || "กรอกได้เฉพาะตัวเลข",
        // (v) => !!v || "กรุณากรอกงวดชำระ",
      ],
      invoice: "",
      invoiceRules: [(v) => !!v || "กรุณากรอกเลขใบแจ้งหนี้"],
      contract: "",
      contractRules: [(v) => !!v || "กรุณากรอกเลขสัญญา"],
      // variable form po
      vat: 7,
      price: 0,
      vat_price: 0,
      withholdingtax: 0,
      withholdingtax_price: 0,
      total: 0,
      //
      dialog: false,
      cropper: {},
      destination: {},
      pic_crop: {},
      image: [],
      data_crop: JSON.parse(localStorage.getItem("data_crop")),
      // check_list_all_po: JSON.parse(localStorage.getItem("list_all_po")),
      bill_id: localStorage.getItem("bill_id"),
      list_all_po: [],
      // headers table
      headers: [
        {
          text: "	รายการสินค้า ",
          align: "start",
          sortable: false,
          value: "detail",
        },
        { text: "จำนวน", value: "quantity" },
        { text: "ราคา/หน่วย", value: "unitprice" },
        { text: "จำนวนเงิน", value: "amount" },

        { text: "Actions", value: "actions", sortable: false },
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        number: "",
        detail: "",
        quantity: 0,
        unitprice: 0,
        amount: 0,
      },
      defaultItem: {
        number: "",
        detail: "",
        quantity: 0,
        unitprice: 0,
        amount: 0,
      },
    };
  },

  watch: {
    tab(val) {
      // console.log(val);
      this.cal_auto();
      setTimeout(() => {
        this.images = this.$refs[val];
        console.log("images", this.images);
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },
    vat: function(vat) {
      if (this.desserts.length != 0) {
        this.vat = vat;
        this.price = 0;
        this.vat_price = 0;
        this.withholdingtax_price = 0;
        this.total = 0;
        for (let i = 0; i < this.desserts.length; i++) {
          this.price =
            parseFloat(this.price) + parseFloat(this.desserts[i].amount);
          this.vat_price = parseFloat(this.price) * (this.vat / 100);
          this.withholdingtax_price =
            parseFloat(this.price) * (this.withholdingtax / 100);
          this.total =
            parseFloat(this.price) + this.vat_price - this.withholdingtax_price;
        }
      }
    },
    withholdingtax: function(withholdingtax) {
      if (this.desserts.length != 0) {
        this.price = 0;
        this.vat_price = 0;
        this.withholdingtax = withholdingtax;
        this.withholdingtax_price = 0;
        this.total = 0;
        for (let i = 0; i < this.desserts.length; i++) {
          this.price =
            parseFloat(this.price) + parseFloat(this.desserts[i].amount);
          this.vat_price = parseFloat(this.price) * (this.vat / 100);
          this.withholdingtax_price =
            parseFloat(this.price) * (this.withholdingtax / 100);
          this.total =
            parseFloat(this.price) + this.vat_price - this.withholdingtax_price;
        }
      }
    },
  },
  mounted() {},
  created() {
    const get_detail_crop = JSON.parse(localStorage.getItem("detail_crop"));
    // console.log(get_detail_crop);
    if (get_detail_crop != null) {
      this.desserts = get_detail_crop;
    }
    console.log("data_for_crop", this.data_crop.data);
    // console.log("header", this.data_crop.data.header);
    this.invoice_no = this.data_crop.data.header.invoice;
    this.date_invoice = this.data_crop.data.header.date_invoice;
    this.customer_address = this.data_crop.data.customer.address;
    this.customer_name = this.data_crop.data.customer.customer_name;
    this.tax_id_customer = this.data_crop.data.customer.tax_id;
    // console.log("profile_vender", this.data_crop.data.vender.data[0]);
    this.profile = this.data_crop.data.vender.data[0];
    this.vender_name =
      " " + this.profile.account_title_th + "" + this.profile.first_name_th;
    this.tax_id = this.profile.id_card_num;
    this.po = this.data_crop.data.header.po;
    this.period = this.data_crop.data.header.period;
    this.invoice = this.data_crop.data.header.invoice;
    this.contract = this.data_crop.data.header.contract_number;
  },
  methods: {
    cancel_crop() {
      this.axios
        .delete(
          process.env.VUE_APP_API + "/api/v1/bill/s3?bill_id=" + this.bill_id
        )
        .then((res) => {
          console.log(res);
          localStorage.removeItem("bill_id");
          this.$router.push({ name: "TrackingPO" });
        })
        .catch((error) => {
          console.log("error", error);
        });
    },

    confirm_crop() {
      if (!this.$refs.form_crop.validate()) {
        return;
      }
      // check case
      if (this.price.toFixed(2) != parseFloat(this.price_final)) {
        console.log("error");
        this.$swal({
          title: "ผิดพลาด",
          type: "error",
          html:
            "จำนวนเงิน(ไม่รวมvat) หรือ จำนวนเงินในแต่ละรายการ<br/> <b>ไม่ถูกต้อง </b>กรุณาตรวจสอบอีกครั้ง",
          confirmButtonText: "ตกลง",
          confirmButtonColor: "#d33",
          allowOutsideClick: false,
        }).then(() => {
          console.log("sweetalert is closed");
        });
        return;
      } else {
        // check case 2
        console.log(this.vat_price.toFixed(2));
        console.log(this.price_vat_final);
        console.log("==>check->case2");
        if (this.vat_price.toFixed(2) != parseFloat(this.price_vat_final)) {
          this.$swal({
            title: "ผิดพลาด",
            type: "error",
            html:
              "ภาษีมูลค่าเพิ่ม หรือ จำนวนเงินในแต่ละรายการ<br/> <b>ไม่ถูกต้อง </b>กรุณาตรวจสอบอีกครั้ง",
            confirmButtonText: "ตกลง",
            confirmButtonColor: "#d33",
            allowOutsideClick: false,
          }).then(() => {
            console.log("sweetalert is closed2");
          });
        }
        // check case 3
        else {
          if (this.total.toFixed(2) != parseFloat(this.total_final)) {
            this.$swal({
              title: "ผิดพลาด",
              type: "error",
              html:
                "ยอดเงินสุทธิ หรือ จำนวนเงินในแต่ละรายการ<br/> <b>ไม่ถูกต้อง </b>กรุณาตรวจสอบอีกครั้ง",
              confirmButtonText: "ตกลง",
              confirmButtonColor: "#d33",
              allowOutsideClick: false,
            }).then(() => {
              console.log("sweetalert is closed2");
            });
          } else {
            console.log("ผ่าน");
            this.list_all_po.push({
              header: {
                po_number: this.po,
                period: this.period,
                invoice: this.invoice,
                contract_number: this.contract,
                date_invoice: this.date_invoice,
              },
              customer: {
                address: this.customer_address,
                customer_name: this.customer_name,
                tax_id: this.tax_id_customer,
              },
              file_path: this.data_crop.data.file_path,
              detail: this.desserts,
              vat: 7,
              price: this.price_final,
              vat_price: this.price_vat_final,
              withholdingtax: 0,
              withholdingtax_price: 0,
              total: this.total_final,
            });
            console.log("list_all_po", this.list_all_po);
            this.axios
              .post(process.env.VUE_APP_API + "/api/v1/bill/addpo_ocr", {
                all_po: this.list_all_po,
                bill_id: this.bill_id,
              })
              .then((response) => {
                console.log("confirm_newbill", response);
                this.$swal({
                  title: "สำเร็จ !",
                  type: "success",
                  confirmButtonText: "ตกลง",
                  allowOutsideClick: false,
                }).then(() => {
                  this.$router.push({ name: "TrackingPO" });
                });
              })
              .catch((error) => {
                console.log("error", error.response);
                console.log(error.response.data.msg);
                this.$swal({
                  title: "ผิดพลาด!",
                  type: "error",
                  text: error.response.data.msg,
                  confirmButtonText: "ตกลง",
                  confirmButtonColor: "#d33",
                  allowOutsideClick: false,
                }).then(() => {
                  this.list_all_po = [];
                });
              });
          }
        }
      }

      // this.list_all_po.push({
      //   header: {
      //     po_number: this.po,
      //     period: this.period,
      //     invoice: this.invoice,
      //     contract_number: this.contract,
      //   },
      //   file_path: this.data_crop.data.file_path,
      //   detail: this.desserts,
      //   vat: 7,
      //   price: this.price_final,
      //   vat_price: this.price_vat_final,
      //   withholdingtax: 0,
      //   withholdingtax_price: 0,
      //   total: this.total_final,
      // });
      // this.axios
      //   .post(process.env.VUE_APP_API + "/api/v1/bill/addpo_ocr", {
      //     all_po: this.list_all_po,
      //     bill_id: this.bill_id,
      //   })
      //   .then((response) => {
      //     console.log("confirm_newbill", response);
      //     this.$swal({
      //       title: "สำเร็จ !",
      //       type: "success",
      //       confirmButtonText: "ตกลง",
      //       allowOutsideClick: false,
      //     }).then(() => {
      //       this.$router.push({ name: "TrackingPO" });
      //     });
      //   })
      //   .catch((error) => {
      //     console.log("error", error.response);
      //     console.log(error.response.data.msg);
      //     this.$swal({
      //       title: "ผิดพลาด!",
      //       type: "error",
      //       // text: "ระบบมีปัญหาโปรดแจ้งเจ้าหน้าที่รักผิดชอบ!",
      //       text: error.response.data.msg,
      //       confirmButtonText: "ตกลง",
      //       confirmButtonColor: "#d33",
      //       allowOutsideClick: false,
      //     });
      //     // this.dialog_loader = false;
      //   });
    },

    crop() {
      this.dialog_loader = true;
      // console.log(this.cropper);
      const canvas = this.cropper.getCroppedCanvas();
      this.destination = canvas.toDataURL("image/png");
      console.log(this.destination);
      // }

      this.pic_crop = {
        base64_crop: this.destination,
        name_preset: localStorage.getItem("name_preset"),
        biz_id: localStorage.getItem("biz_id"),
        file_path: this.data_crop.data.file_path,
        mode: "vartical",
      };
      // console.log(this.pic_crop);
      this.axios
        .post(process.env.VUE_APP_API + "/api/v1/preset/mapping", this.pic_crop)
        .then((res) => {
          console.log("detail_crop", res);
          this.dialog_loader = false;
          this.desserts.push(res.data.detail);
          localStorage.setItem("detail_crop", JSON.stringify(this.desserts));
          this.cal_auto();
          this.cropper.clear();
        })
        .catch((error) => {
          console.log("error", error.res);
          this.dialog_loader = false;
        });
    },

    crop_total() {
      this.dialog_loader = true;
      const canvas = this.cropper.getCroppedCanvas();
      this.destination = canvas.toDataURL("image/png");
      console.log(this.destination);
      this.pic_crop = {
        base64_crop: this.destination,
        name_preset: localStorage.getItem("name_preset"),
        biz_id: localStorage.getItem("biz_id"),
        file_path: this.data_crop.data.file_path,
        mode: "horizontal",
      };
      this.axios
        .post(process.env.VUE_APP_API + "/api/v1/preset/mapping", this.pic_crop)
        .then((res) => {
          console.log("crop_total", res);
          this.price_final = res.data.footer.price.toFixed(2);
          this.price_vat_final = res.data.footer.price_vat.toFixed(2);
          this.total_final = res.data.footer.total.toFixed(2);
          this.dialog_loader = false;
          this.cropper.clear();
          // this.desserts.push(res.data.detail);
          // localStorage.setItem("detail_crop", JSON.stringify(this.desserts));
          // this.cal_auto();
        })
        .catch((error) => {
          console.log("error", error);
          this.dialog_loader = false;
        });
    },

    editItem(item) {
      this.dialog = true;
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      // console.log(this.editedItem);
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.desserts.splice(index, 1);
      this.cal_auto();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      localStorage.setItem("detail_crop", JSON.stringify(this.desserts));
      this.cal_auto();
      this.close();
    },
    cal_auto() {
      // console.log('vat----->',vat);
      // console.log('withholdingtax----->',withholdingtax);

      if (this.desserts.length != 0) {
        // console.log(event.target.value);
        this.vat = 7;
        // console.log("vat", this.vat);
        this.price = 0;
        this.vat_price = 0;
        this.withholdingtax = 0;
        // console.log("withholdingtax", this.withholdingtax);
        this.withholdingtax_price = 0;
        this.total = 0;
        for (let i = 0; i < this.desserts.length; i++) {
          this.price =
            parseFloat(this.price) + parseFloat(this.desserts[i].amount);
          this.vat_price = parseFloat(this.price) * (this.vat / 100);
          this.withholdingtax_price =
            parseFloat(this.price) * (this.withholdingtax / 100);
          this.total =
            parseFloat(this.price) + this.vat_price - this.withholdingtax_price;
        }
      }
      console.log("price", this.price);
      console.log("vat_price", this.vat_price);
      console.log("total", this.total);
    },
  },
};
</script>

<style>
.img-container {
  width: 100%;
  height: 740px;
  /* float: left; */
}
.img-preview {
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 10px;
}
.btn-ocr {
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.color-total-button {
  color: #fff !important;
  background-color: aqua !important;
  border-color: aqua !important;
}
</style>
