<template>
  <v-app>
    <!-- spinner -->
    <div class="text-center">
      <v-dialog v-model="dialog_loader" persistent width="20%">
        <v-card>
          <v-card-text>
            <img src="https://i.gifer.com/S2Ra.gif" style="width:100%" />
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <!-- icon-top -->
    <v-btn
      v-scroll="onScroll"
      v-show="fab"
      fab
      dark
      fixed
      bottom
      right
      color="#15a5bad9"
      @click="toTop"
    >
      <v-icon>mdi-chevron-up</v-icon>
    </v-btn>

    <div>
      <v-card>
        <v-card-title v-if="wait_data">
          <v-spacer></v-spacer>
          <div>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="ค้นหา"
              single-line
              hide-details
            ></v-text-field>
          </div>
        </v-card-title>

        <v-data-table
          v-if="wait_data"
          :headers="headers"
          :items="desserts"
          :search="search"
          :items-per-page="10"
        >
          <!-- <template v-slot:item.PO="{ item }">
            <v-btn text small @click="detail_bill(item)">
              <span style="color:blue">{{ item.PO }}</span>
            </v-btn>
          </template> -->

          <template v-slot:item.invoice="{ item }">
            <v-btn text small @click="detail_po(item)">
              <span style="color:blue">{{ item.invoice }}</span>
            </v-btn>
          </template>

          <template v-slot:item.status="{ item }">
            <v-btn
              small
              color="white"
              style="width:115px"
              v-if="item.status == 'Waiting'"
            >
              {{ item.status }}
              <v-icon dark right style="font-size:16px">mdi-av-timer </v-icon>
            </v-btn>
            <v-btn
              small
              color="error"
              style="width:115px"
              v-if="item.status == 'Reject'"
            >
              {{ item.status }}
              <v-icon dark right style="font-size:16px">mdi-cancel</v-icon>
            </v-btn>
            <v-btn
              small
              color="success"
              style="width:115px"
              v-if="item.status == 'Approve'"
            >
              {{ item.status }}
              <v-icon dark right style="font-size:16px"
                >mdi-checkbox-marked-circle</v-icon
              >
            </v-btn>
          </template>

          <template v-slot:item.end="{ item }">
            <span v-if="item.status == 'Approve'">{{ item.end }}</span>
          </template>

          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="print(item)"
              color="primary"
              v-if="item.status == 'Approve'"
            >
              mdi-printer
            </v-icon>
          </template>
        </v-data-table>
      </v-card>
    </div>
  </v-app>
</template>

<script>
export default {
  name: "TrackingPO",
  created() {
    localStorage.removeItem("baes64_crop");
    localStorage.removeItem("name_preset");
    localStorage.removeItem("data_crop");
    localStorage.removeItem("bill_id");
    localStorage.removeItem("all_po");
    localStorage.removeItem("viewItem");
    localStorage.removeItem("detail_crop");
    localStorage.removeItem("list_all_po");
    localStorage.removeItem("printItem");
    // this.get_all_tracking();
    localStorage.removeItem("base64_preset");
    localStorage.removeItem("s3link");
    localStorage.removeItem("list_preset");
  },
  mounted() {
    this.get_all_tracking();
    // console.log('biz_id',this.get_biz_id)
  },
  methods: {
    onScroll(e) {
      if (typeof window === "undefined") return;
      const top = window.pageYOffset || e.target.scrollTop || 0;
      this.fab = top > 20;
    },
    toTop() {
      this.$vuetify.goTo(0);
    },
    print(item) {
      // console.log(item);
      localStorage.setItem("printItem", JSON.stringify(item));
      window.open("/print/report");
      // this.$router.push({ name: "PagePrintReport" });
    },
    detail_po(item) {
      // console.log(item);
      this.axios
        .get(
          process.env.VUE_APP_API +
            "/api/v1/bill/getpo?po_id=" +
            item.id +
            "&access_token=" +
            localStorage.getItem("token") +
            "&biz_id=" +
            localStorage.getItem("biz_id")
        )
        .then((res) => {
          console.log("info_bill===>", res);
          localStorage.setItem("viewItem", JSON.stringify(res.data.msg));
          localStorage.setItem(
            "viewItem_vender",
            JSON.stringify(res.data.vender)
          );
          this.$router.push({ name: "PageDetailPO" });
        })
        .catch((error) => {
          console.log("error", error);
        });
    },
    // detail_bill(item) {
    //   // console.log(item.bill_id);
    //   this.axios
    //     .get(process.env.VUE_APP_API + "/api/v1/bill?bill_id=" + item.bill_id)
    //     .then((res) => {
    //       // console.log("info_bill===>", res);
    //       localStorage.setItem("all_po", JSON.stringify(res.data));
    //       localStorage.setItem("bill_id", item.bill_id);
    //       this.$router.push({ name: "PageDetailBill" });
    //     })
    //     .catch((error) => {
    //       console.log("error", error);
    //     });
    // },
    get_all_tracking() {
      this.dialog_loader = true;
      this.get_biz_id;
      this.axios
        .get(
          process.env.VUE_APP_API +
            "/api/v1/bill/trackbilling?biz_id=" +
            this.get_biz_id
        )
        .then((res) => {
          this.wait_data = true;
          this.dialog_loader = false;
          // this.isProgress = false;
          console.log("tracking", res);
          for (let index = 0; index < res.data.msg.length; index++) {
            this.desserts.push(res.data.msg[index]);
          }
        })
        .catch((error) => {
          console.log("error", error);
          this.dialog_loader = true;
        });
    },
  },
  data() {
    return {
      fab: false,
      dialog_loader: false,
      options: {
        color: "primary",
        width: 500,
        zIndex: 200,
      },
      // isProgress: true,
      wait_data: false,
      get_biz_id: localStorage.getItem("biz_id"),
      search: "",
      headers: [
        { text: "เลขใบแจ้งหนี้", value: "invoice" },
        {
          text: "ใบสั่งซื้อ",
          align: "start",
          value: "PO",
        },
        { text: "งวด", value: "period" },
        { text: "สถานะ", value: "status" },
        { text: "วันที่วางบิล", value: "start" },
        { text: "รอบวาง", value: "allow" },
        { text: "รอบจ่าย", value: "end" },
        { text: "พิมพ์เอกสาร", value: "actions" },
      ],
      desserts: [],
    };
  },
};
</script>

<style scoped>
.spinner {
  margin-left: 47%;
  margin-top: 4%;
}

/* @media (max-width: 767px) .back_to_top {
  position: fixed;
  right: 10px;
  bottom: 440px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  color: #43484d;
  text-align: center;
  z-index: 113;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
} */
/* @media only screen and (max-width: 600px) {
  .back_to_top {
    position: fixed;
    right: 10px;
    bottom: 440px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #43484d;
    color: #43484d;
    text-align: center;
    z-index: 113;
    cursor: pointer;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
} */
</style>
