<template>
  <div id="login">
    <PageLogin />
  </div>
</template>

<script>
import PageLogin from "../components/PageLogin/page-login";

export default {
  name: "Login",
  components: {
    PageLogin,
  },
};
</script>

<style></style>
