<template>
  <v-app>
    <Menu />
    <Preset />
  </v-app>
</template>

<script>
import Menu from "../components/Menu/Menu";
import Preset from "../components/PageSetPreset/Preset";
export default {
  components: {
    Menu,
    Preset,
  },
};
</script>

<style></style>
