<template>
  <v-app>
    <Menu />
    <v-container class="mt-12">
      <PresetStepperTab />
    </v-container>
  </v-app>
</template>

<script>
import Menu from "../components/Menu/Menu";
import PresetStepperTab from "../components/PageSetPreset/PresetStepperTab";
export default {
  components: {
    Menu,
    PresetStepperTab,
  },
};
</script>

<style></style>
