<template>
  <PrintReport />
</template>

<script>
import PrintReport from "../components/PagePrintReport/PrintReport";
export default {
  components:{
    PrintReport
  }
};
</script>

<style></style>
