<template>
  <div>
    <Menu />
      <Cropper/>
  </div>
</template>

<script>
import Menu from "../components/Menu/Menu";
import Cropper from "../components/Cropper/Cropper";

export default {
  name: "PageCrop",
  components: {
    Menu,
    Cropper,
  },
  data() {
    return {
      src: JSON.parse(localStorage.getItem("data_crop")),
    };
  },
};
</script>

<style></style>
