<template>
  <v-app>
    <Menu />
    <PresetName />
    <Footer />
  </v-app>
</template>

<script>
import PresetName from "../components/PagePresetName/PresetName";
import Menu from "../components/Menu/Menu";
import Footer from "../components/Footer/Footer";
export default {
  components: {
    PresetName,
    Menu,
    Footer,
  },
};
</script>

<style></style>
