<template>
  <v-app>
    <Menu />
    <Profile />
    <Footer />
  </v-app>
</template>

<script>
import Menu from "../components/Menu/Menu";
import Profile from "../components/Profile/Profile";
import Footer from "../components/Footer/Footer";
export default {
  components: {
    Menu,
    Profile,
    Footer,
  },
};
</script>

<style></style>
