<template>
  <div>
    <Menu />
    <v-btn class="btn-ocr" color="primary" @click="dialog_edit_file"
      ><v-icon>mdi-pencil</v-icon>แก้ไขไฟล์</v-btn
    >
    <v-row>
      <v-col cols="12" lg="6" class="px-5">
        <div>
          <!-- tab bar -->
          <v-tabs v-model="tab" class="tabs" :grow="grow" dark>
            <v-tab href="#tab-1">
              ใบสั่งซื้อ
            </v-tab>
            <v-tab href="#tab-2">
              ใบแจ้งหนี้
            </v-tab>
            <v-tab href="#tab-3">
              ใบตรวจรับ
            </v-tab>
            <v-tab href="#tab-4">
              ใบสัญญา
            </v-tab>
          </v-tabs>
          <!-- tab bar -->
          <v-tabs-items v-model="tab">
            <!-- tab ใบสั่งซื้อ -->
            <v-tab-item :value="'tab-1'">
              <div>
                <embed
                  :src="s3link_po"
                  type="application/pdf"
                  height="640px"
                  width="100%"
                />
              </div>
            </v-tab-item>
            <!-- tab ใบสั่งซื้อ -->
            <!-- tab ใบแจ้งหนี้ -->
            <v-tab-item :value="'tab-2'">
              <div>
                <embed
                  :src="s3link_invoice"
                  type="application/pdf"
                  height="640px"
                  width="100%"
                />
              </div>
            </v-tab-item>
            <!-- tab ใบแจ้งหนี้ -->
            <!-- tab ใบตรวจรับ -->
            <v-tab-item :value="'tab-3'">
              <div>
                <embed
                  :src="s3link_receipt"
                  type="application/pdf"
                  height="640px"
                  width="100%"
                />
              </div>
            </v-tab-item>
            <!-- tab ใบตรวจรับ -->
            <!-- tab ใบสัญญา -->
            <v-tab-item :value="'tab-4'">
              <div>
                <embed
                  :src="s3link_agreement"
                  type="application/pdf"
                  height="640px"
                  width="100%"
                />
              </div>
            </v-tab-item>
            <!-- tab ใบสัญญา -->
          </v-tabs-items>
        </div>
      </v-col>
      <v-col cols="12" lg="6" class="px-5">
        <!-- ฟอร์มรายละเอียดใบแจ้งหนี้ -->
        <v-card>
          <v-form>
            <v-container>
              <v-row>
                <v-col cols="6">
                  <v-card class="pa-2" elevation="0" tile height="162px">
                    <span><b>ผู้ขาย</b></span>
                    <br />
                    <span style="font-size:13px">
                      <B>ชื่อผู้ขาย</B> : {{ vender_name }}
                    </span>
                    <br />
                    <span style="font-size:13px">
                      <B>เลขเสียภาษี </B>
                      <span class="ml-1"> : {{ tax_id }}</span>
                    </span>
                    <br />

                    <v-textarea
                      disabled=""
                      name="input-7-1"
                      label="ที่อยู่ผู้ขาย : "
                      style="font-size:13px"
                      row-height="18"
                      rows="2"
                      v-model="address"
                    >
                    </v-textarea>
                    <!-- <span style="font-size:13px">
                      <B>ที่อยู่ผู้ขาย </B> : เลขที่
                      {{ profile.address.house_no }} ชั้น
                      {{ profile.address.floor }} ตึก
                      {{ profile.address.building_name }} หมู่ที่
                      {{ profile.address.moo_no }} แยก
                      {{ profile.address.yaek }} ซอย
                      {{ profile.address.soi }} ถนน
                      {{ profile.address.street }} ตำบน
                      {{ profile.address.zipcode_tambon }} อำเภอ
                      {{ profile.address.zipcode_amphoe }} จังหวัด
                      {{ profile.address.zipcode_province }} จังหวัด
                      {{ profile.address.zipcode_zipcode }}
                    </span>
                    <br /> -->
                    <!-- <span style="font-size:13px" class="mt-4">
                      <B>Zipcode </B> :
                      <input
                        type="text"
                        v-model="zipcode"
                        style="border: 1px solid black;width:20%;border: none;border-bottom: 1px solid #000000;"
                      />
                      &nbsp;
                      <B>Branch No.</B> :
      
                      <input
                        type="number"
                        v-model="branch_id"
                        style="border: 1px solid black;width:30%;border: none;border-bottom: 1px solid #000000;"
                      />
                    </span> -->
                  </v-card>
                </v-col>
                <v-col cols="6">
                  <v-card class="pa-2" elevation="0" tile height="auto">
                    <span><b>ผู้ซื้อ</b></span> <br />
                    <span style="font-size:13px"
                      ><B>ชื่อผู้ซื้อ</B> <span class="ml-7"></span> :
                      <input
                        type="text"
                        v-model="customer_name"
                        style="border: 1px solid black;width:50%;border: none;border-bottom: 1px solid #000000;"
                    /></span>
                    <br />
                    <span style="font-size:13px" class="mt-1">
                      <B>เลขเสียภาษี </B> <span class="ml-2"></span>
                      :
                      <input
                        type="text"
                        v-model="tax_id_customer"
                        style="border: 1px solid black;width:50%;border: none;border-bottom: 1px solid #000000;"
                      />
                    </span>

                    <v-textarea
                      name="input-7-1"
                      label="ที่อยู่ผู้ซื้อ : "
                      style="font-size:13px"
                      row-height="18"
                      rows="2"
                      v-model="customer_address"
                    >
                    </v-textarea>

                    <!-- <span style="font-size:13px">
                      <B>วันออกใบแจ้งหนี้ </B> <span class="ml-2"></span>:
                      <input
                        type="text"
                        v-model="date_invoice"
                        style="border: 1px solid black;width:50%;border: none;border-bottom: 1px solid #000000;"
                      />
                    </span> -->

                    <!-- <span style="font-size:13px">
                      <B>Invoice Number</B> : {{ get_view_Item.po_id }}
                    </span>
                    <br />
                    <span style="font-size:13px">
                      <B>Invoice Date </B>: -
                    </span>
                    <br />
                    <span style="font-size:13px"> <B>Due Date </B>: - </span>
                    <br /> -->
                    <!-- <v-textarea
                      name="input-7-1"
                      label="Mailing Address : "
                      style="font-size:13px"
                      row-height="18"
                      rows="3"
                      :value="address"
                    >
                    </v-textarea> -->
                    <!-- <span style="font-size:13px">
                      <B>Billing Address </B> : เลขที่
                      {{ profile.address.house_no }} ชั้น
                      {{ profile.address.floor }} ตึก
                      {{ profile.address.building_name }} หมู่ที่
                      {{ profile.address.moo_no }} แยก
                      {{ profile.address.yaek }} ซอย
                      {{ profile.address.soi }} ถนน
                      {{ profile.address.street }} ตำบน
                      {{ profile.address.zipcode_tambon }} อำเภอ
                      {{ profile.address.zipcode_amphoe }} จังหวัด
                      {{ profile.address.zipcode_province }} จังหวัด
                      {{ profile.address.zipcode_zipcode }}
                    </span>
                    <br />
                    <span style="font-size:13px" class="mt-4">
                      <B>Zipcode </B> :
                      {{ profile.address.zipcode_zipcode }}
             
                    </span> -->
                  </v-card>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="4">
                  <v-text-field
                    v-model="po"
                    :rules="poRules"
                    label="เลขใบสั่งซื้อ"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="period"
                    :rules="periodRules"
                    label="งวดชำระ"
                    outlined
                    dense
                    type="number"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="date_invoice"
                    label="วันออกใบแจ้งหนี้"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    v-model="invoice"
                    :rules="invoiceRules"
                    label="เลขใบสั่งซื้อ"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    v-model="contract"
                    :rules="contractRules"
                    label="เลขสัญญา"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <!-- ฟอร์มรายละเอียดใบแจ้งหนี้ -->
          <v-data-table
            :headers="headers"
            :items="desserts"
            :items-per-page="5"
            sort-by="calories"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-dialog v-model="dialog" max-width="500px">
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <!-- <v-row> -->
                      <!-- <v-col cols="12" sm="6" md="4"> -->
                      <v-textarea
                        v-model="editedItem.detail"
                        label="รายการสินค้า"
                      ></v-textarea>
                      <!-- </v-col> -->
                      <!-- <v-col cols="12" sm="6" md="4"> -->
                      <v-text-field
                        v-model="editedItem.amount"
                        label="จำนวน"
                        type="number"
                      ></v-text-field>
                      <!-- </v-col> -->
                      <!-- <v-col cols="12" sm="6" md="4"> -->
                      <v-text-field
                        v-model="editedItem.price"
                        label="ราคา/หน่วย"
                        type="number"
                      ></v-text-field>
                      <!-- </v-col> -->
                      <!-- <v-col cols="12" sm="6" md="4"> -->
                      <v-text-field
                        v-model="editedItem.total"
                        label="จำนวนเงิน"
                        type="number"
                      ></v-text-field>
                      <!-- </v-col> -->
                      <!-- </v-row> -->
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error darken-1" @click="close">ยกเลิก</v-btn>
                    <v-btn color="success darken-1" @click="save">บันทึก</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)" color="teal">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deleteItem(item)" color="pink">
                mdi-delete
              </v-icon>
            </template>
            <template v-slot:body.append style="float:right">
              <tr style="text-align:right">
                <td colspan="6">
                  <h4>
                    รวมเป็นเงิน :
                    <input
                      v-model="price_final"
                      type="number"
                      style="border: 1px solid black;width:12%;border-radius: 4px;"
                    />
                  </h4>
                  <!-- <h4>VAT(%) : {{ vat }} %</h4> -->
                  <h4>
                    ภาษีมูลค่าเพิ่ม :
                    <input
                      v-model="price_vat_final"
                      type="number"
                      style="border: 1px solid black;width:12%;border-radius: 4px;"
                    />
                  </h4>
                  <!-- <h4>ภาษีหัก ณ ที่จ่าย (%) : {{ withholdingtax }}</h4> -->
                  <!-- <h4>
                    คิดเป็นเงิน (บาท) : {{ withholdingtax_price.toFixed(2) }}
                  </h4> -->
                  <h4>
                    ยอดเงินสุทธิ :
                    <input
                      v-model="total_final"
                      type="number"
                      style="border: 1px solid black;width:12%;border-radius: 4px;"
                    />
                  </h4>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-card>
        <v-container>
          <div style="float: right;">
            <v-btn color="error" class="mr-2 mb-2" @click="cancel_detailPO">
              ยกเลิก
            </v-btn>
            <v-btn color="primary" class="mb-2" @click="confirm_detailPO">
              ตกลง
            </v-btn>
          </div>
        </v-container>
      </v-col>
    </v-row>

    <!-- dialog_file -->
    <v-dialog v-model="dialog_file" max-width="600px">
      <v-card>
        <v-container>
          <v-card-title>
            <span class="headline">เลือกแก้ไขไฟล์หรืออัพโหลดไฟล์เพิ่ม</span>
          </v-card-title>
          <v-radio-group :row="true" :mandatory="false" v-model="file">
            <v-radio
              label="ไฟล์สั่งซื้อ"
              color="primary"
              value="file_po"
            ></v-radio>
            <v-radio
              label="ไฟล์แจ้งหนี้"
              color="primary"
              value="file_invoice"
            ></v-radio>
            <v-radio
              label="ไฟล์ใบตรวจรับ"
              color="primary"
              value="file_bill"
            ></v-radio>
            <v-radio
              label="ไฟล์สัญญา"
              color="primary"
              value="file_promise"
            ></v-radio>
          </v-radio-group>
          <v-form ref="all_file">
            <v-file-input
              v-if="file == 'file_po'"
              v-model="file_po"
              accept="application/pdf"
              label="ไฟล์สั่งซื้อ"
              dense
              :rules="filePoRules"
              prepend-icon="mdi-file-document-outline"
            ></v-file-input>
            <v-file-input
              v-if="file == 'file_invoice'"
              v-model="file_invoice"
              accept="application/pdf"
              label="ไฟล์แจ้งหนี้"
              dense
              :rules="fileInvoiceRules"
              prepend-icon="mdi-file-document-outline"
            ></v-file-input>
            <v-file-input
              v-if="file == 'file_bill'"
              v-model="file_bill"
              accept="application/pdf"
              label="ไฟล์ใบตรวจรับ"
              dense
              :rules="fileReceiptRules"
              prepend-icon="mdi-file-document-outline"
            ></v-file-input>
            <v-file-input
              v-if="file == 'file_promise'"
              v-model="file_promise"
              accept="application/pdf"
              label="ไฟล์สัญญา"
              dense
              :rules="fileContractRules"
              prepend-icon="mdi-file-document-outline"
            ></v-file-input>
          </v-form>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error darken-1" @click="dialog_file = false"
            >ยกเลิก</v-btn
          >
          <v-btn color="success darken-1" @click="send_file_edit">ตกลง</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- dialog_file -->
  </div>
</template>

<script>
import Menu from "../components/Menu/Menu";

export default {
  name: "PageDetailPO",
  components: {
    Menu,
  },
  data() {
    return {
      cal_price: 0,
      cal_price_vat: 7,
      cal_price_total: 0,
      customer_name: "",
      tax_id_customer: "",
      customer_address: "",
      date_invoice: "",
      profile: "",
      zipcode: "",
      vender_name: "",
      tax_id: "",
      branch_id: "",
      address: "",
      price_final: 0,
      price_vat_final: 0,
      total_final: 0,
      // form edit file
      file_po: null,
      filePoRules: [
        (v) => !!v || "กรุณาทำการเลือกไฟล์สั่งซื้อ",
        (v) => v != null || "กรุณาทำการเลือกไฟล์สั่งซื้อ",
      ],
      file_invoice: null,
      fileInvoiceRules: [
        (v) => !!v || "กรุณาทำการเลือกไฟล์แจ้งหนี้",
        (v) => v != null || "กรุณาทำการเลือกไฟล์แจ้งหนี้",
      ],
      file_bill: null,
      fileReceiptRules: [
        (v) => !!v || "กรุณาทำการเลือกไฟล์ตรวจรับ",
        (v) => v != null || "กรุณาทำการเลือกไฟล์ตรวจรับ",
      ],
      file_promise: null,
      fileContractRules: [
        (v) => !!v || "กรุณาทำการเลือกไฟล์สัญญา",
        (v) => v != null || "กรุณาทำการเลือกไฟล์ใบสัญญา",
      ],
      // form edit file
      file: "",
      get_view_Item: JSON.parse(localStorage.getItem("viewItem")),
      get_view_Item_vender: JSON.parse(localStorage.getItem("viewItem_vender")),
      s3link_po: "",
      s3link_invoice: "",
      s3link_receipt: "",
      s3link_agreement: "",
      valid: false,
      // variable form po
      po: "",
      poRules: [(v) => !!v || "กรุณากรอกเลขใบสั่งซื้อ"],
      period: Number,
      periodRules: [
        (v) => /^[0-9]*$/.test(v) || "กรอกได้เฉพาะตัวเลข",
        // (v) => !!v || "กรุณากรอกงวดชำระ",
      ],
      invoice: "",
      invoiceRules: [(v) => !!v || "กรุณากรอกเลขใบแจ้งหนี้"],
      contract: "",
      contractRules: [(v) => !!v || "กรุณากรอกเลขสัญญา"],
      // variable form po
      // variable form amount
      vat: 7,
      price: 0,
      vat_price: 0,
      withholdingtax: 0,
      withholdingtax_price: 0,
      total: 0,
      // variable form amount
      tab: null,
      grow: true,
      dialog: false,
      dialog_file: false,
      // headers table
      headers: [
        {
          text: "	รายการสินค้า ",
          align: "start",
          sortable: false,
          value: "detail",
        },
        { text: "จำนวน", value: "amount" },
        { text: "ราคา/หน่วย", value: "price" },
        { text: "จำนวนเงิน", value: "total" },

        { text: "Actions", value: "actions", sortable: false },
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        detail: "",
        amount: 0,
        price: 0,
        total: 0,
      },
      defaultItem: {
        detail: "",
        amount: 0,
        price: 0,
        total: 0,
      },
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },
  //   watch: {
  //     dialog(val) {
  //       console.log(val);
  //       val || this.close();
  //     },
  //   },
  mounted() {
    console.log("get_view_item", this.get_view_Item);
    // console.log("get_view_vender", this.get_view_Item_vender.data[0]);
    this.profile = this.get_view_Item_vender.data[0];
    this.address =
      "เลขที่ " +
      this.profile.address.house_no +
      " ชั้น " +
      this.profile.address.floor +
      " ตึก " +
      this.profile.address.building_name +
      " หมู่ที่ " +
      this.profile.address.moo_no +
      " แยก " +
      this.profile.address.yaek +
      " ซอย " +
      this.profile.address.soi +
      " ถนน " +
      this.profile.address.street +
      " ตำบล " +
      this.profile.address.zipcode_tambon +
      " อำเภอ " +
      this.profile.address.zipcode_amphoe +
      " จังหวัด " +
      this.profile.address.zipcode_province;
    this.vender_name =
      " " + this.profile.account_title_th + "" + this.profile.first_name_th;
    this.tax_id = this.profile.id_card_num;
    this.date_invoice = this.get_view_Item.date_invoice;
    this.customer_address = this.get_view_Item.customer.address;
    this.customer_name = this.get_view_Item.customer.customer_name;
    this.tax_id_customer = this.get_view_Item.customer.tax_id;
    this.desserts = this.get_view_Item.orderdetail;
    this.po = this.get_view_Item.po_number;
    this.period = this.get_view_Item.period;
    this.invoice = this.get_view_Item.invoice;
    this.contract = this.get_view_Item.contract_number;
    this.price_final = this.get_view_Item.price;
    this.price_vat_final = this.get_view_Item.price_vat;
    this.total_final = this.get_view_Item.total;
    this.s3link_po = this.get_view_Item.file_s3.file_po;
    this.s3link_invoice = this.get_view_Item.file_s3.file_invoice;
    if (this.get_view_Item.file_s3.file_receipt == "null") {
      this.s3link_receipt = require("../assets/no_upload.jpg");
    } else {
      this.s3link_receipt = this.get_view_Item.file_s3.file_receipt;
    }
    if (this.get_view_Item.file_s3.file_agreement == "null") {
      this.s3link_agreement = require("../assets/no_upload.jpg");
    } else {
      this.s3link_agreement = this.get_view_Item.file_s3.file_receipt;
    }
    // this.cal_auto();
    for (let i = 0; i < this.desserts.length; i++) {
      // console.log("ราคา", this.get_view_Item.orderdetail[i].price);
      this.cal_price = this.cal_price + this.desserts[i].price;
    }
    console.log("cal_price", this.cal_price);
    this.cal_price_vat = (this.cal_price * this.cal_price_vat) / 100;
    console.log("cal_price_vat", this.cal_price_vat);
    this.cal_price_total = this.cal_price + this.cal_price_vat;
    console.log("cal_price_total", this.cal_price_total);
  },
  methods: {
    swal_alert() {
      this.$swal({
        title: "สำเร็จ !",
        type: "success",
        confirmButtonText: "ตกลง",
        allowOutsideClick: false,
      }).then(() => {
        console.log("triggered redirect here");
        this.$router.push({ name: "TrackingPO" });
      });
    },
    cancel_detailPO() {
      this.$router.push({ name: "TrackingPO" });
    },
    confirm_detailPO() {
      const check_all_po = localStorage.getItem("all_po");
      if (this.cal_price != this.price_final) {
        console.log("err_price");
        this.$swal({
          title: "ผิดพลาด",
          type: "error",
          html:
            "จำนวนเงิน(ไม่รวมvat) หรือ จำนวนเงินในแต่ละรายการ<br/> <b>ไม่ถูกต้อง </b>กรุณาตรวจสอบอีกครั้ง",
          confirmButtonText: "ตกลง",
          confirmButtonColor: "#d33",
          allowOutsideClick: false,
        }).then(() => {
          console.log("sweetalert is closed");
        });
        return;
      } else {
        if (this.cal_price_vat != this.price_vat_final) {
          console.log("error_price_vat");
          this.$swal({
            title: "ผิดพลาด",
            type: "error",
            html:
              "ภาษีมูลค่าเพิ่ม หรือ จำนวนเงินในแต่ละรายการ<br/> <b>ไม่ถูกต้อง </b>กรุณาตรวจสอบอีกครั้ง",
            confirmButtonText: "ตกลง",
            confirmButtonColor: "#d33",
            allowOutsideClick: false,
          }).then(() => {
            console.log("sweetalert is closed2");
          });
        } else {
          if (this.cal_price_total != this.total_final) {
            console.log("err_price_total");
            this.$swal({
              title: "ผิดพลาด",
              type: "error",
              html:
                "ยอดเงินสุทธิ หรือ จำนวนเงินในแต่ละรายการ<br/> <b>ไม่ถูกต้อง </b>กรุณาตรวจสอบอีกครั้ง",
              confirmButtonText: "ตกลง",
              confirmButtonColor: "#d33",
              allowOutsideClick: false,
            }).then(() => {
              console.log("sweetalert is closed2");
            });
          } else {
            if (check_all_po == null) {
              console.log(this.get_view_Item);
              this.axios
                .put(process.env.VUE_APP_API + "/api/v1/bill/updatepo_detail", {
                  contract_number: this.contract,
                  file_s3: this.get_view_Item.file_s3,
                  invoice: this.invoice,
                  orderdetail: this.desserts,
                  period: this.period,
                  po_id: this.get_view_Item.po_id,
                  po_number: this.po,
                  // price: this.price,
                  price: this.price_final,
                  status: "Waiting",
                  // total: this.total,
                  total: this.total_final,
                  vat_price: this.price_vat_final,
                  vat: this.vat,
                  withholdingtax: this.withholdingtax,
                  withholdingtax_price: this.withholdingtax_price,
                  date_invoice: this.date_invoice,
                  customer: {
                    address: this.customer_address,
                    customer_name: this.customer_name,
                    tax_id: this.tax_id_customer,
                  },
                })
                .then((res) => {
                  console.log("confirm_detailPO", res);
                  this.swal_alert();
                  // this.$router.push({ name: "TrackingPO" });
                })
                .catch((error) => {
                  console.log("error", error);
                });
            } else {
              this.$router.push({ name: "PageDetailBill" });
            }
          }
        }
      }

      // if (check_all_po == null) {
      //   console.log(this.get_view_Item);
      //   this.axios
      //     .put(process.env.VUE_APP_API + "/api/v1/bill/updatepo_detail", {
      //       contract_number: this.contract,
      //       file_s3: this.get_view_Item.file_s3,
      //       invoice: this.invoice,
      //       orderdetail: this.desserts,
      //       period: this.period,
      //       po_id: this.get_view_Item.po_id,
      //       po_number: this.po,
      //       // price: this.price,
      //       price: this.price_final,
      //       status: "Waiting",
      //       // total: this.total,
      //       total: this.total_final,
      //       vat_price: this.price_vat_final,
      //       vat: this.vat,
      //       withholdingtax: this.withholdingtax,
      //       withholdingtax_price: this.withholdingtax_price,
      //       date_invoice: this.date_invoice,
      //       customer: {
      //         address: this.customer_address,
      //         customer_name: this.customer_name,
      //         tax_id: this.tax_id_customer,
      //       },
      //     })
      //     .then((res) => {
      //       console.log("confirm_detailPO", res);
      //       this.swal_alert();
      //       // this.$router.push({ name: "TrackingPO" });
      //     })
      //     .catch((error) => {
      //       console.log("error", error);
      //     });
      // } else {
      //   this.$router.push({ name: "PageDetailBill" });
      // }
    },
    dialog_edit_file() {
      this.dialog_file = true;
    },
    send_file_edit() {
      this.$refs.all_file.validate();
      let form_data = new FormData();
      form_data.append("bill_id", this.get_view_Item.bill_id);
      form_data.append("po_id", this.get_view_Item.po_id);
      if (this.file_po != null) {
        form_data.append("file_po", this.file_po);
        this.axios
          .put(process.env.VUE_APP_API + "/api/v1/bill/updatefile", form_data)
          .then((res) => {
            this.dialog_file = false;
            this.s3link_po = res.data.link_s3;
            this.$refs.all_file.reset();
          })
          .catch((error) => {
            console.log("error", error);
          });
      }
      if (this.file_invoice != null) {
        form_data.append("file_invoice", this.file_invoice);
        this.axios
          .put(process.env.VUE_APP_API + "/api/v1/bill/updatefile", form_data)
          .then((res) => {
            this.dialog_file = false;
            this.s3link_invoice = res.data.link_s3;
            this.$refs.all_file.reset();
          })
          .catch((error) => {
            console.log("error", error);
          });
      }
      if (this.file_bill != null) {
        form_data.append("file_bill", this.file_bill);
        this.axios
          .put(process.env.VUE_APP_API + "/api/v1/bill/updatefile", form_data)
          .then((res) => {
            this.dialog_file = false;
            this.s3link_receipt = res.data.link_s3;
            this.$refs.all_file.reset();
          })
          .catch((error) => {
            console.log("error", error);
          });
      }
      if (this.file_promise != null) {
        form_data.append("file_promise", this.file_promise);
        this.axios
          .put(process.env.VUE_APP_API + "/api/v1/bill/updatefile", form_data)
          .then((res) => {
            this.dialog_file = false;
            this.s3link_agreement = res.data.link_s3;
            this.$refs.all_file.reset();
          })
          .catch((error) => {
            console.log("error", error);
          });
      } else {
        console.log("no_file_po");
      }
    },

    cal_auto() {
      console.log("price_final", this.price_final);
      console.log("price_vat_final", this.price_vat_final);
      console.log("total_final", this.total_final);
    },

    // cal_auto() {
    //   this.vat = this.get_view_Item.vat;
    //   this.price = 0;
    //   this.vat_price = 0;
    //   this.withholdingtax = this.get_view_Item.withholdingtax;
    //   this.withholdingtax_price = 0;
    //   this.total = 0;
    //   for (let i = 0; i < this.desserts.length; i++) {
    //     this.price =
    //       parseFloat(this.price) + parseFloat(this.desserts[i].total);
    //     this.vat_price = parseFloat(this.price) * (this.vat / 100);
    //     this.withholdingtax_price =
    //       parseFloat(this.price) * (this.withholdingtax / 100);
    //     this.total =
    //       parseFloat(this.price) + this.vat_price - this.withholdingtax_price;
    //   }
    // },

    editItem(item) {
      this.dialog = true;
      this.editedIndex = this.desserts.indexOf(item);
      console.log(this.editedIndex);
      this.editedItem = Object.assign({}, item);
      console.log(this.editedItem);
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.desserts.splice(index, 1);
      //
      this.cal_price = 0;
      this.cal_price_vat = 7;
      this.cal_price_total = 0;
      console.log("delete", this.desserts);
      for (let i = 0; i < this.desserts.length; i++) {
        this.cal_price = this.cal_price + this.desserts[i].price;
      }
      console.log("cal_price", this.cal_price);
      this.cal_price_vat = (this.cal_price * this.cal_price_vat) / 100;
      console.log("cal_price_vat", this.cal_price_vat);
      this.cal_price_total = this.cal_price + this.cal_price_vat;
      console.log("cal_price_total", this.cal_price_total);
      // this.cal_auto();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      // this.cal_auto();
      this.close();
    },
  },
};
</script>

<style scoped>
.img-container {
  margin-left: 15%;
  /* align-items: center;
  justify-items: center; */
}
</style>
