<template>
  <v-app>
    <Menu />
    <v-container class="mt-12">
      <PresetStepper />
    </v-container>
  </v-app>
</template>

<script>
import Menu from "../components/Menu/Menu";
import PresetStepper from "../components/PageSetPreset/PresetStepper";
export default {
  components: {
    Menu,
    PresetStepper,
  },
};
</script>

<style></style>
