<template>
  <v-app>
    <Menu />
    <v-container class="mt-12">
    <PresetSteppers />
    </v-container>
  </v-app>
</template>

<script>
import Menu from "../components/Menu/Menu";
import PresetSteppers from "../components/PageSetPreset/PresetSteppers";
export default {
  components: {
    Menu,
    PresetSteppers,
  },
};
</script>

<style></style>
