<template>
  <v-app>
    <Menu />
    <!-- spinner -->
    <div class="text-center">
      <v-dialog v-model="dialog_loader" hide-overlay persistent width="300">
        <v-card color="primary" dark>
          <v-card-text style="text-align:center">
            รอสักครู่ . . .
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <v-container>
      <v-dialog v-model="dialog" persistent max-width="540">
        <template v-slot:activator="{ on }">
          <v-btn
            class="btn-ocr"
            color="primary"
            dark
            v-on="on"
            @click="get_preset()"
            ><v-icon>mdi-plus</v-icon>เพิ่มเลขบิล OCR</v-btn
          >
        </template>
        <v-card>
          <v-container>
            <v-card-title class="headline">กรุณาทำการเลือกไฟล์</v-card-title>
            <v-form ref="all_file">
              <v-select
                v-model="all_file.name_preset"
                :items="preset"
                item-text="preset_name"
                return-object=""
                label="เลือกแบบฟอร์ม"
                :rules="all_file.selectRules"
                prepend-icon="mdi-file-cabinet"
              ></v-select>
              <br />
              <v-file-input
                v-model="all_file.file_po"
                accept="application/pdf"
                label="ไฟล์สั่งซื้อ"
                dense
                :rules="all_file.filePoRules"
                prepend-icon="mdi-file-document-outline"
              ></v-file-input>
              <br />
              <v-file-input
                v-model="all_file.file_invoice"
                accept="application/pdf"
                label="ไฟล์แจ้งหนี้"
                dense
                :rules="all_file.fileInvoiceRules"
                prepend-icon="mdi-file-document-outline"
              ></v-file-input>
              <br />
              <v-file-input
                v-model="all_file.file_bill"
                accept="application/pdf"
                label="ไฟล์ใบตรวจรับ"
                dense
                prepend-icon="mdi-file-document-outline"
              ></v-file-input>
              <br />
              <v-file-input
                v-model="all_file.file_promise"
                accept="application/pdf"
                label="ไฟล์สัญญา"
                dense
                prepend-icon="mdi-file-document-outline"
              ></v-file-input>
            </v-form>
          </v-container>
          <v-divider></v-divider>
          <v-card-actions class="d-flex justify-end">
            <v-btn color="error" dark @click="cancle()">ยกเลิก</v-btn>
            <v-btn color="green darken-1" dark @click="go_to_crop">ตกลง</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
    <v-container>
      <div>
        <v-tabs v-model="tab" class="tabs" :grow="grow">
          <v-tab v-for="item in items" :key="item.tab" :to="item.route" exact>
            {{ item.name }}
          </v-tab>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
        </v-tabs>
        <router-view></router-view>
      </div>
    </v-container>
    <Footer />
  </v-app>
</template>

<script>
import Menu from "../components/Menu/Menu";
import Footer from "../components/Footer/Footer";
export default {
  name: "TableDedail",
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      dialog_loader: false,
      all_file: {
        name_preset: [],
        file_po: null,
        file_invoice: null,
        file_bill: null,
        file_promise: null,
        filePoRules: [
          (v) => !!v || "กรุณาทำการเลือกไฟล์สั่งซื้อ",
          (v) => v != null || "กรุณาทำการเลือกไฟล์สั่งซื้อ",
        ],
        fileInvoiceRules: [
          (v) => !!v || "กรุณาทำการเลือกไฟล์แจ้งหนี้",
          (v) => v != null || "กรุณาทำการเลือกไฟล์แจ้งหนี้",
        ],
        fileContractRules: [
          (v) => !!v || "กรุณาทำการเลือกไฟล์สัญญา",
          (v) => v != null || "กรุณาทำการเลือกไฟล์ใบสัญญา",
        ],
        fileReceiptRules: [
          (v) => !!v || "กรุณาทำการเลือกไฟล์ตรวจรับ",
          (v) => v != null || "กรุณาทำการเลือกไฟล์ตรวจรับ",
        ],
        selectRules: [
          (v) => !!v || "กรุณาทำการเลือกชื่อแบบฟอร์ม",
          (v) => v != null || "กรุณาทำการเลือกชื่อแบบฟอร์ม",
        ],
      },
      form: {
        file_po: null,
        file_invoice: null,
        file_bill: null,
        file_promise: null,
      },
      bill_id: "",
      get_biz_id: localStorage.getItem("biz_id"),
      preset: [],
      list_preset_name: [],
      dialog: false,
      tab: ``,
      grow: true,
      items: [
        { name: "ติดตามสถานะบิล", route: `/main/TrackingPO` },
        // { name: "PO Complate", route: "/main/POcomplate" },
      ],
    };
  },
  mounted() {
    // this.get_item();
  },
  methods: {
    cancle() {
      var get_bill_id = localStorage.getItem("bill_id");
      this.$refs.all_file.reset();
      this.axios
        .delete(process.env.VUE_APP_API + "/api/v1/bill?bill_id=" + get_bill_id)
        .then((res) => {
          console.log(res);
          localStorage.removeItem("bill_id");
          this.dialog = false;
        })
        .catch((error) => {
          console.log("error", error);
        });
    },

    go_to_crop() {
      if (this.$refs.all_file.validate()) {
        this.dialog = false;
        this.dialog_loader = true;
        console.log("test");
      }
      localStorage.setItem(
        "name_preset",
        this.all_file.name_preset.preset_name
      );
      console.log("name_preset", this.all_file.name_preset.preset_name);
      console.log(this.all_file.name_preset.preset_id);
      console.log("bill_id", this.bill_id);
      // sendfile
      let form_data = new FormData();
      form_data.append("preset_id", this.all_file.name_preset.preset_id);
      form_data.append("access_token", localStorage.getItem("token"));
      form_data.append("bill_id", this.bill_id);
      form_data.append("file_po", this.all_file.file_po);
      form_data.append("file_invoice", this.all_file.file_invoice);
      form_data.append("file_bill", this.all_file.file_bill);
      form_data.append("file_promise", this.all_file.file_promise);
      form_data.append("biz_id", localStorage.getItem("biz_id"));
      this.axios
        .post(process.env.VUE_APP_API + "/api/v1/bill/convertfile", form_data, {
          // this.axios
          //   .post("http://203.151.56.230:5500/api/v1/bill/convertfile", form_data, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((res) => {
          console.log(res);
          localStorage.setItem("data_crop", JSON.stringify(res));
          this.$router.push({ name: "Cropper" });
          this.dialog_loader = false;
        })
        .catch((error) => {
          console.log("error", error);
          this.dialog = true;
          this.dialog_loader = false;
        });
    },
    get_item() {
      this.items;
      console.log(this.items);
    },
    get_preset() {
      // getpreset
      this.axios
        .get(
          process.env.VUE_APP_API + "/api/v1/preset?biz_id=" + this.get_biz_id
        )
        .then((res) => {
          console.log(res);
          for (let index = 0; index < res.data.length; index++) {
            this.preset.push({
              preset_name: res.data[index].preset_name,
              preset_id: res.data[index].preset_id,
            });
            // this.list_preset_name.push(this.preset[index].preset_name);
            // console.log(this.list_preset_name);
          }
        })
        .catch((error) => {
          console.log("error", error);
        });
      // getbill
      this.axios
        .get(
          process.env.VUE_APP_API +
            "/api/v1/bill/genbill?biz_id=" +
            this.get_biz_id
        )
        .then((res) => {
          this.bill_id = res.data.bill_id;
          localStorage.setItem("bill_id", this.bill_id);
        })
        .catch((error) => {
          console.log("error", error);
        });
    },
  },
};
</script>

<style scoped>
.btn-ocr {
  float: right;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
</style>
