<template>
  <v-footer color="primary " padless>
    <v-row justify="center" no-gutters>
      <v-col class="primary  py-2 text-center white--text" cols="12">
        <!-- {{ new Date().getFullYear() }} — <strong>Vuetify</strong> -->
        <strong>
          <span style="font-size:13px">Billing Version 1.0.0</span>
        </strong>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {};
</script>

<style></style>
