<template>
  <div id="preset_step">
    <!-- icon-top -->
    <v-btn
      v-scroll="onScroll"
      v-show="fab"
      fab
      dark
      fixed
      bottom
      right
      color="#15a5bad9"
      @click="toTop"
    >
      <v-icon>mdi-chevron-up</v-icon>
    </v-btn>
    <!-- spinner -->
    <div class="text-center">
      <v-dialog v-model="dialog_loader" hide-overlay persistent width="300">
        <v-card color="primary" dark>
          <v-card-text style="text-align:center">
            รอสักครู่ . . .
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <!-- Dialog-suggest -->
    <v-dialog v-model="dialog_step" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">
          <v-icon style="color:	yellow">mdi-lightbulb-on-outline</v-icon>
          ระบุข้อมูลตาราง
        </v-card-title>
        <v-card-text>
          ให้ท่านระบุข้อมูลตารางรายการ ในแต่ละคอลัมน์ แล้วกด "ถัดไป"
          ดังภาพตัวอย่าง
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/12.gif"
            style="width:100%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            :value="dialog_step"
            @click="dialog_step_radio()"
            >เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog Radios -->
    <v-dialog v-model="dialog_radios" persistent width="100%">
      <v-card>
        <v-card-title>
          กรุณาทำการระบุชื่อคอลัมน์
          <v-spacer></v-spacer>
          <v-btn icon color="indigo" @click="cancle_dialog_detect()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card>
          <v-row no-gutters>
            <v-col cols="12" sm="6">
              <v-card :elevation="0" style="border-radius:0px">
                <v-alert
                  text
                  color="success"
                  style="border-radius:0px"
                  icon="mdi-check"
                >
                  <h3 class="headline">ถูกต้อง</h3>
                  <div>
                    <span> ตัวอย่างการตรวจจับคอลัมน์ที่ <B>ถูกต้อง</B></span>
                  </div>
                  <v-divider class="my-4 info" style="opacity: 0.22">
                  </v-divider>
                  <v-row no-gutters>
                    <div style="text-align:center">
                      <img src="../../assets/correct.png" width="50%" />
                    </div>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-alert>
              </v-card>
            </v-col>
            <v-col cols="12" sm="6">
              <v-card :elevation="0" style="border-radius:0px">
                <v-alert text color="error" icon="mdi-alert-circle-outline">
                  <h3 class="headline">ผิดพลาด</h3>
                  <div>
                    <span> ตัวอย่างการตรวจจับคอลัมน์ที่ <B>ผิดพลาด</B> </span>
                  </div>
                  <v-divider class="my-4 info" style="opacity: 0.22">
                  </v-divider>
                  <v-row no-gutters>
                    <div style="text-align:center">
                      <img src="../../assets/false.png" width="50%" />
                    </div>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-alert>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
        <v-card :elevation="0">
          <v-card-text>
            <v-row>
              <v-col cols="12" xl="9" lg="9" md="9" sm="12" xs="12">
                <div>
                  <img :src="table_loop[countt]" width="80%" />
                </div>
              </v-col>
              <v-col cols="12" xl="3" lg="3" md="3" sm="12" xs="12">
                <v-form ref="validator_radio">
                  <v-radio-group
                    v-model="validator_radio.radios"
                    :mandatory="false"
                    :rules="validator_radio.rule_radio"
                  >
                    <v-radio label="ลำดับ" value="ลำดับ"></v-radio>
                    <v-radio label="รายการ" value="รายการ"></v-radio>
                    <v-radio label="จำนวน" value="จำนวน"></v-radio>
                    <v-radio
                      label="ราคาต่อหน่วย"
                      value="ราคาต่อหน่วย"
                    ></v-radio>
                    <v-radio label="จำนวนเงิน" value="จำนวนเงิน"></v-radio>
                    <v-radio label="อื่นๆ" value="อื่นๆ"></v-radio>
                    <v-radio
                      label="ตรวจจับผิดพลาด"
                      value="ตรวจจับผิดพลาด"
                    ></v-radio>
                  </v-radio-group>
                </v-form>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="error darken-1"
            dark
            :disabled="countt == 0"
            :value="(check = 'back')"
            style="width:125px;max-width:100%"
            @click="pv()"
          >
            ย้อนกลับ
          </v-btn>
          <v-btn
            v-if="this.countt < this.table_loop.length - 1"
            color="green darken-1"
            dark
            style="width:125px;max-width:100%"
            @click="nx()"
          >
            ถัดไป
          </v-btn>
          <v-btn
            v-else
            color="green darken-1"
            dark
            style="width:125px;max-width:100%"
            @click="accept_list()"
            >ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-suggest-3 -->
    <v-dialog v-model="dialog_suggest3" persistent max-width="550">
      <v-card>
        <v-card-title class="headline">
          <v-icon style="color:yellow">mdi-lightbulb-on-outline</v-icon>
          ระบุข้อมูลตารางเงินรวม
          <br />
        </v-card-title>
        <v-card-text>
          ให้ท่านระบุข้อมูลตารางรายการ ในแต่ละคอลัมน์ แล้วกด "ถัดไป"
          ดังภาพตัวอย่าง
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/45.gif"
            style="width:80%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog_step_radio2()">
            เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-Radios-total-table -->
    <v-dialog v-model="dialog_total_table_radio" persistent width="100%">
      <v-card>
        <v-card-title>
          กรุณาทำการระบุชื่อคอลัมน์
          <v-spacer></v-spacer>
          <v-btn icon color="indigo" @click="cancle_dialog_detect2()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card>
          <v-row no-gutters>
            <v-col cols="12" sm="6">
              <v-card :elevation="0" style="border-radius:0px">
                <v-alert
                  text
                  color="success"
                  style="border-radius:0px"
                  icon="mdi-check"
                >
                  <h3 class="headline">ถูกต้อง</h3>
                  <div>
                    <span> ตัวอย่างการตรวจจับคอลัมน์ที่ <B>ถูกต้อง</B></span>
                  </div>
                  <v-divider class="my-4 info" style="opacity: 0.22">
                  </v-divider>
                  <v-row no-gutters>
                    <div style="text-align:center">
                      <img src="../../assets/correct.png" width="50%" />
                    </div>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-alert>
              </v-card>
            </v-col>
            <v-col cols="12" sm="6">
              <v-card :elevation="0" style="border-radius:0px">
                <v-alert text color="error" icon="mdi-alert-circle-outline">
                  <h3 class="headline">ผิดพลาด</h3>
                  <div>
                    <span> ตัวอย่างการตรวจจับคอลัมน์ที่ <B>ผิดพลาด</B> </span>
                  </div>
                  <v-divider class="my-4 info" style="opacity: 0.22">
                  </v-divider>
                  <v-row no-gutters>
                    <div style="text-align:center">
                      <img src="../../assets/false.png" width="50%" />
                    </div>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-alert>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
        <v-card :elevation="0">
          <v-card-text>
            <v-row>
              <v-col cols="12" xl="9" lg="9" md="9" sm="12" xs="12">
                <div>
                  <img :src="total_table_loop[countt_total]" width="80%" />
                </div>
              </v-col>
              <v-col cols="12" xl="3" lg="3" md="3" sm="12" xs="12">
                <v-form ref="validator_radio_total">
                  <v-radio-group
                    v-model="validator_radio_total.radios"
                    :mandatory="false"
                    :rules="validator_radio_total.rule_radio"
                  >
                    <v-radio label="รวมเป็นเงิน" value="รวมเป็นเงิน"></v-radio>
                    <v-radio
                      label="ภาษีมูลค่าเพิ่ม"
                      value="ภาษีมูลค่าเพิ่ม"
                    ></v-radio>
                    <v-radio
                      label="ยอดเงินสุทธิ"
                      value="ยอดเงินสุทธิ"
                    ></v-radio>
                    <v-radio label="อื่นๆ" value="อื่นๆ"></v-radio>
                    <v-radio
                      label="ตรวจจับผิดพลาด"
                      value="ตรวจจับผิดพลาด"
                    ></v-radio>
                  </v-radio-group>
                </v-form>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="error darken-1"
            dark
            :disabled="countt_total == 0"
            :value="(check = 'back')"
            style="width:125px;max-width:100%"
            @click="pv_total()"
          >
            ย้อนกลับ
          </v-btn>
          <v-btn
            v-if="this.countt_total < this.total_table_loop.length - 1"
            color="green darken-1"
            dark
            style="width:125px;max-width:100%"
            @click="nx_total()"
          >
            ถัดไป
          </v-btn>
          <v-btn
            v-else
            color="green darken-1"
            dark
            style="width:125px;max-width:100%"
            @click="accept_list_total_table()"
            >ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-STEP1 -->
    <v-dialog v-model="dialog_preset_name" persistent max-width="360">
      <v-card>
        <v-card-title class="headline">
          STEP 1. ตั้งชื่อแบบฟอร์ม
        </v-card-title>
        <v-card-text>
          กรุณากรอกชื่อแบบฟอร์ม
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/step_one.png"
            style="width:100%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="dialog_preset_name = false"
          >
            เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-STEP-7 -->
    <v-dialog v-model="dialog_step7" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">
          STEP 9. ระบุตำแหน่งตาราง
        </v-card-title>
        <v-card-text>
          ให้ท่านลากเมาส์ ในส่วนของตาราง แล้วกด "อ่านข้อมูลดังภาพตัวอย่าง"
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/gif_4.gif"
            style="width:80%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog_step7 = false"
            >เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-STEP-8 -->
    <v-dialog v-model="dialog_step8" persistent max-width="550">
      <v-card>
        <v-card-title class="headline">
          STEP 10. ระบุตำแหน่งตารางเงินรวม
          <br />
        </v-card-title>
        <v-card-text>
          ให้ท่านลากเมาส์ ในส่วนของตารางเงินรวมทั้งหมด แล้วกด
          "อ่านข้อมูลดังภาพตัวอย่าง"
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/23.gif"
            style="width:80%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog_step8 = false">
            เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- header -->
    <v-stepper v-model="e1" :alt-labels="altLabels">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1"
          >ตั้งชื่อแบบฟอร์ม</v-stepper-step
        >

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 2" step="2"
          >เลขใบแจ้งหนี้</v-stepper-step
        >

        <!-- ที่เพิ่มใหม่ -->
        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 3" step="3">เลขงวด</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 4" step="4"
          >เลขใบสั่งซื้อ</v-stepper-step
        >
        <!-- ที่เพิ่มใหม่ -->
        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 5" step="5">ชื่อผู้ซื้อ</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 6" step="6">ที่อยู่</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 7" step="7"
          >วันที่ใบแจ้งหนี้</v-stepper-step
        >
        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 8" step="8"
          >เลขผู้เสียภาษี</v-stepper-step
        >
        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 9" step="9">รายการ</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 10" step="10">ผลรวม</v-stepper-step>
      </v-stepper-header>

      <!-- content -->

      <v-stepper-items>
        <v-stepper-content step="1">
          <v-card class="pa-2" outlined tile>
            <v-row>
              <v-col style="text-align: right;">
                <v-btn
                  class="ma-2"
                  tile
                  outlined
                  color="primary"
                  style="text-align:center;"
                  @click="dialog_preset_name = true"
                >
                  <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                </v-btn>
              </v-col>
            </v-row>

            <div align="center">
              <h1>Step 1 ตั้งชื่อแบบฟอร์ม</h1>

              <v-form ref="form_preset">
                <v-text-field
                  label="ชื่อแบบฟอร์ม"
                  placeholder="กรุณากรอกชื่อแบบฟอร์ม"
                  v-model="name_preset"
                  :rules="form_preset.RulePresetName"
                  outlined
                  dense
                  style="margin:10px; max-width:20%; text-align: center;"
                ></v-text-field>
              </v-form>
            </div>
          </v-card>
          <v-btn
            style="float:right; margin-top:10px"
            color="primary"
            @click="submit_step1()"
            >ถัดไป</v-btn
          >
        </v-stepper-content>

        <v-stepper-content step="2">
          <v-card class="pa-2" outlined tile>
            <v-row>
              <v-col style="text-align: right;">
                <v-btn
                  class="ma-2"
                  tile
                  outlined
                  color="primary"
                  style="text-align:center;"
                >
                  <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                </v-btn>
              </v-col>
            </v-row>

            <v-row>
              <v-col>
                <div align="center">
                  <h1>Step 2 ทำการระบุตำแหน่งเลขใบแจ้งหนี้</h1>
                </div>
              </v-col>
            </v-row>

            <v-row>
              <v-col>
                <v-row>
                  <v-col cols="12" md="2"></v-col>
                  <v-col cols="12" md="8" align="center">
                    <div>
                      <v-tabs v-model="tab_step2" class="tabs" :grow="grow">
                        <v-tab
                          v-for="(img, index) in pic"
                          :key="index"
                          :href="'#tab_step2-' + index"
                        >
                          หน้า-{{ index + 1 }}
                        </v-tab>
                      </v-tabs>

                      <v-tabs-items
                        v-model="tab_step2"
                        v-for="(img, index) in pic"
                        :key="index"
                      >
                        <v-tab-item :value="'tab_step2-' + index">
                          <div>
                            <img
                              v-if="aaaa"
                              :ref="'tab_step2-' + index"
                              :src="img"
                              style="width:100%"
                            />
                          </div>
                        </v-tab-item>
                      </v-tabs-items>
                    </div>
                  </v-col>
                  <v-col cols="12" md="2"></v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
          <v-btn
            style="float:right;  margin-top:10px;"
            color="primary"
            @click="submit_step2()"
            >ถัดไป</v-btn
          >
          <!-- <v-btn text style="float:right;  margin-top:10px;" @click="e1 = 1"
            >ย้อนกลับ</v-btn
          > -->
          <v-btn
            text
            style="float:right;  margin-top:10px;"
            @click="skip_step2()"
            >ข้าม</v-btn
          >
        </v-stepper-content>

        <!-- ที่เพิ่มใหม่ -->
        <v-stepper-content step="3">
          <v-card class="pa-2" outlined tile>
            <v-row>
              <v-col style="text-align: right;">
                <v-btn
                  class="ma-2"
                  tile
                  outlined
                  color="primary"
                  style="text-align:center;"
                >
                  <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                </v-btn>
              </v-col>
            </v-row>

            <v-row>
              <v-col>
                <div align="center">
                  <h1>Step 3 ทำการระบุตำแหน่งเลขงวด</h1>
                </div>
              </v-col>
            </v-row>

            <v-row>
              <v-col>
                <v-row>
                  <v-col cols="12" md="2"></v-col>
                  <v-col cols="12" md="8" align="center">
                    <div>
                      <v-tabs
                        v-model="tab_step_period"
                        class="tabs"
                        :grow="grow"
                      >
                        <v-tab
                          v-for="(img, index) in pic"
                          :key="index"
                          :href="'#tab_step_period-' + index"
                        >
                          หน้า-{{ index + 1 }}
                        </v-tab>
                      </v-tabs>

                      <v-tabs-items
                        v-model="tab_step_period"
                        v-for="(img, index) in pic"
                        :key="index"
                      >
                        <v-tab-item :value="'tab_step_period-' + index">
                          <div>
                            <img
                              v-if="aaaa"
                              :ref="'tab_step_period-' + index"
                              :src="img"
                              style="width:100%"
                            />
                          </div>
                        </v-tab-item>
                      </v-tabs-items>
                    </div>
                  </v-col>
                  <v-col cols="12" md="2"></v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
          <v-btn
            style="float:right;  margin-top:10px;"
            color="primary"
            @click="submit_period()"
            >ถัดไป</v-btn
          >
          <!-- <v-btn text style="float:right;  margin-top:10px;" @click="e1 = 1"
            >ย้อนกลับ</v-btn
          > -->
          <v-btn
            text
            style="float:right;  margin-top:10px;"
            @click="skip_period()"
            >ข้าม</v-btn
          >
        </v-stepper-content>

        <!-- content-step-3 -->
        <v-stepper-content step="4">
          <v-card class="pa-2" outlined tile>
            <v-row>
              <v-col style="text-align: right;">
                <v-btn
                  class="ma-2"
                  tile
                  outlined
                  color="primary"
                  style="text-align:center;"
                >
                  <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="2"></v-col>
              <v-col cols="12" md="8">
                <div align="center">
                  <h1>Step 4 ทำการระบุตำแหน่งเลขใบสั่งซื้อ</h1>
                </div>
                <div>
                  <v-tabs v-model="tab_step3" class="tabs" :grow="grow">
                    <v-tab
                      v-for="(img, index) in pic"
                      :key="index"
                      :href="'#tab_step3-' + index"
                    >
                      หน้า-{{ index + 1 }}
                    </v-tab>
                  </v-tabs>

                  <v-tabs-items
                    v-model="tab_step3"
                    v-for="(img, index) in pic"
                    :key="index"
                  >
                    <v-tab-item :value="'tab_step3-' + index">
                      <div>
                        <img
                          v-if="aaaa"
                          :ref="'tab_step3-' + index"
                          :src="img"
                          style="width:100%"
                        />
                      </div>
                    </v-tab-item>
                  </v-tabs-items>
                </div>
              </v-col>
              <v-col cols="12" md="2"></v-col>
            </v-row>
          </v-card>

          <v-btn
            style="float:right; margin-top:10px"
            color="primary"
            @click="submit_step3()"
            >ถัดไป</v-btn
          >
          <!-- <v-btn text style="float:right; margin-top:10px" @click="e1 = 2"
            >ย้อนกลับ</v-btn
          > -->
          <v-btn
            text
            style="float:right;  margin-top:10px;"
            @click="skip_step3()"
            >ข้าม</v-btn
          >
        </v-stepper-content>

        <!-- ที่เพิ่มใหม่ -->
        <!-- content-step-5 -->
        <v-stepper-content step="5">
          <v-card class="pa-2" outlined tile>
            <v-row>
              <v-col style="text-align: right;">
                <v-btn
                  class="ma-2"
                  tile
                  outlined
                  color="primary"
                  style="text-align:center;"
                >
                  <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="2"></v-col>
              <v-col cols="12" md="8">
                <div align="center">
                  <h1>Step 5 ทำการระบุตำแหน่งชื่อผู้ซื้อ</h1>
                </div>
                <div>
                  <v-tabs v-model="tab_step_customer" class="tabs" :grow="grow">
                    <v-tab
                      v-for="(img, index) in pic"
                      :key="index"
                      :href="'#tab_step_customer-' + index"
                    >
                      หน้า-{{ index + 1 }}
                    </v-tab>
                  </v-tabs>

                  <v-tabs-items
                    v-model="tab_step_customer"
                    v-for="(img, index) in pic"
                    :key="index"
                  >
                    <v-tab-item :value="'tab_step_customer-' + index">
                      <div>
                        <img
                          v-if="aaaa"
                          :ref="'tab_step_customer-' + index"
                          :src="img"
                          style="width:100%"
                        />
                      </div>
                    </v-tab-item>
                  </v-tabs-items>
                </div>
              </v-col>
              <v-col cols="12" md="2"></v-col>
            </v-row>
          </v-card>

          <v-btn
            style="float:right; margin-top:10px"
            color="primary"
            @click="submit_customer()"
            >ถัดไป</v-btn
          >
          <!-- <v-btn text style="float:right; margin-top:10px" @click="e1 = 2"
            >ย้อนกลับ</v-btn
          > -->
          <v-btn
            text
            style="float:right;  margin-top:10px;"
            @click="skip_customer()"
            >ข้าม</v-btn
          >
        </v-stepper-content>

        <!-- content-step-4 -->

        <v-stepper-content step="6">
          <v-card class="pa-2" outlined tile>
            <v-row>
              <v-col style="text-align: right;">
                <v-btn
                  class="ma-2"
                  tile
                  outlined
                  color="primary"
                  style="text-align:center;"
                >
                  <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="2"></v-col>
              <v-col cols="12" md="8">
                <div align="center">
                  <h1>Step 6 ทำการระบุตำแหน่งที่อยู่</h1>
                </div>
                <div>
                  <v-tabs v-model="tab_step4" class="tabs" :grow="grow">
                    <v-tab
                      v-for="(img, index) in pic"
                      :key="index"
                      :href="'#tab_step4-' + index"
                    >
                      หน้า-{{ index + 1 }}
                    </v-tab>
                  </v-tabs>

                  <v-tabs-items
                    v-model="tab_step4"
                    v-for="(img, index) in pic"
                    :key="index"
                  >
                    <v-tab-item :value="'tab_step4-' + index">
                      <div>
                        <img
                          v-if="aaaa"
                          :ref="'tab_step4-' + index"
                          :src="img"
                          style="width:100%"
                        />
                      </div>
                    </v-tab-item>
                  </v-tabs-items>
                </div>
              </v-col>
              <v-col cols="12" md="2"></v-col>
            </v-row>
          </v-card>

          <v-btn
            style="float:right; margin-top:10px"
            color="primary"
            @click="submit_step4()"
            >ถัดไป</v-btn
          >
          <!-- <v-btn text style="float:right" @click="e1 = 3">ย้อนกลับ</v-btn> -->
          <v-btn
            text
            style="float:right;  margin-top:10px;"
            @click="skip_step4()"
            >ข้าม</v-btn
          >
        </v-stepper-content>

        <!-- contect-step-5 -->
        <v-stepper-content step="7">
          <v-card class="pa-2" outlined tile>
            <v-row>
              <v-col style="text-align: right;">
                <v-btn
                  class="ma-2"
                  tile
                  outlined
                  color="primary"
                  style="text-align:center;"
                >
                  <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="2"></v-col>
              <v-col cols="12" md="8">
                <div align="center">
                  <h1>Step 7 ทำการระบุตำแหน่งวันที่ใบแจ้งหนี้</h1>
                </div>
                <div>
                  <v-tabs v-model="tab_step5" class="tabs" :grow="grow">
                    <v-tab
                      v-for="(img, index) in pic"
                      :key="index"
                      :href="'#tab_step5-' + index"
                    >
                      หน้า-{{ index + 1 }}
                    </v-tab>
                  </v-tabs>

                  <v-tabs-items
                    v-model="tab_step5"
                    v-for="(img, index) in pic"
                    :key="index"
                  >
                    <v-tab-item :value="'tab_step5-' + index">
                      <div>
                        <img
                          v-if="aaaa"
                          :ref="'tab_step5-' + index"
                          :src="img"
                          style="width:100%"
                        />
                      </div>
                    </v-tab-item>
                  </v-tabs-items>
                </div>
              </v-col>
              <v-col cols="12" md="2"></v-col>
            </v-row>
          </v-card>

          <v-btn
            style="float:right; margin-top:10px"
            color="primary"
            @click="submit_step5()"
            >ถัดไป</v-btn
          >
          <!-- <v-btn text style="float:right" @click="e1 = 4">ย้อนกลับ</v-btn> -->
          <v-btn
            text
            style="float:right;  margin-top:10px;"
            @click="skip_step5()"
            >ข้าม</v-btn
          >
        </v-stepper-content>
        <!-- content-step-6 -->
        <v-stepper-content step="8">
          <v-card class="pa-2" outlined tile>
            <v-row>
              <v-col style="text-align: right;">
                <v-btn
                  class="ma-2"
                  tile
                  outlined
                  color="primary"
                  style="text-align:center;"
                >
                  <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="2"></v-col>
              <v-col cols="12" md="8">
                <div align="center">
                  <h1>Step 8 ทำการระบุตำแหน่งเลขประจำตัวผู้เสียภาษี</h1>
                </div>
                <div>
                  <v-tabs v-model="tab_step6" class="tabs" :grow="grow">
                    <v-tab
                      v-for="(img, index) in pic"
                      :key="index"
                      :href="'#tab_step6-' + index"
                    >
                      หน้า-{{ index + 1 }}
                    </v-tab>
                  </v-tabs>

                  <v-tabs-items
                    v-model="tab_step6"
                    v-for="(img, index) in pic"
                    :key="index"
                  >
                    <v-tab-item :value="'tab_step6-' + index">
                      <div>
                        <img
                          v-if="aaaa"
                          :ref="'tab_step6-' + index"
                          :src="img"
                          style="width:100%"
                        />
                      </div>
                    </v-tab-item>
                  </v-tabs-items>
                </div>
              </v-col>
              <v-col cols="12" md="2"></v-col>
            </v-row>
          </v-card>

          <v-btn
            style="float:right; margin-top:10px"
            color="primary"
            @click="submit_step6()"
            >ถัดไป</v-btn
          >
          <!-- <v-btn text style="float:right" @click="e1 = 5">ย้อนกลับ</v-btn> -->
          <v-btn
            text
            style="float:right;  margin-top:10px;"
            @click="skip_step6()"
            >ข้าม</v-btn
          >
        </v-stepper-content>

        <!-- content-step-7 -->
        <v-stepper-content step="9">
          <v-card class="pa-2" outlined tile>
            <v-row>
              <v-col style="text-align: right;">
                <v-btn
                  class="ma-2"
                  tile
                  outlined
                  color="primary"
                  style="text-align:center;"
                  @click="dialog_step7 = true"
                >
                  <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="2"></v-col>
              <v-col cols="12" md="8">
                <div align="center">
                  <h1>Step 9 ทำการระบุตำแหน่งตารางรายการ</h1>
                </div>
                <div>
                  <v-tabs v-model="tab_step7" class="tabs" :grow="grow">
                    <v-tab
                      v-for="(img, index) in pic"
                      :key="index"
                      :href="'#tab_step7-' + index"
                    >
                      หน้า-{{ index + 1 }}
                    </v-tab>
                  </v-tabs>

                  <v-tabs-items
                    v-model="tab_step7"
                    v-for="(img, index) in pic"
                    :key="index"
                  >
                    <v-tab-item :value="'tab_step7-' + index">
                      <div>
                        <img
                          v-if="aaaa"
                          :ref="'tab_step7-' + index"
                          :src="img"
                          style="width:100%"
                        />
                      </div>
                    </v-tab-item>
                  </v-tabs-items>
                </div>
              </v-col>
              <v-col cols="12" md="2"></v-col>
            </v-row>
          </v-card>

          <v-btn
            style="float:right; margin-top:10px"
            color="primary"
            @click="submit_step7()"
            >ถัดไป</v-btn
          >
          <!-- <v-btn text style="float:right" @click="e1 = 6">ย้อนกลับ</v-btn> -->
        </v-stepper-content>

        <!-- content-step-8 -->
        <v-stepper-content step="10">
          <v-card class="pa-2" outlined tile>
            <v-row>
              <v-col style="text-align: right;">
                <v-btn
                  class="ma-2"
                  tile
                  outlined
                  color="primary"
                  style="text-align:center;"
                  @click="dialog_step8 = true"
                >
                  <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="2"></v-col>
              <v-col cols="12" md="8">
                <div align="center">
                  <h1>Step 10 ทำการระบุตำแหน่งตารางผลรวม</h1>
                </div>
                <div>
                  <v-tabs v-model="tab_step8" class="tabs" :grow="grow">
                    <v-tab
                      v-for="(img, index) in pic"
                      :key="index"
                      :href="'#tab_step8-' + index"
                    >
                      หน้า-{{ index + 1 }}
                    </v-tab>
                  </v-tabs>

                  <v-tabs-items
                    v-model="tab_step8"
                    v-for="(img, index) in pic"
                    :key="index"
                  >
                    <v-tab-item :value="'tab_step8-' + index">
                      <div>
                        <img
                          v-if="aaaa"
                          :ref="'tab_step8-' + index"
                          :src="img"
                          style="width:100%"
                        />
                      </div>
                    </v-tab-item>
                  </v-tabs-items>
                </div>
              </v-col>
              <v-col cols="12" md="2"></v-col>
            </v-row>
          </v-card>

          <v-btn
            style="float:right; margin-top:10px"
            color="primary"
            @click="submit_step8()"
            >เสร็จสิ้น</v-btn
          >
          <!-- <v-btn text style="float:right" @click="e1 = 7">ย้อนกลับ</v-btn> -->
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
import Cropper from "cropperjs";
export default {
  name: "preset_step",
  data() {
    return {
      fab: false,
      dialog_preset_name: false,
      dialog_step7: false,
      dialog_step8: false,
      header: [],
      dialog_loader: false,
      dialog_suggest3: false,
      dialog_step: false,
      dialog_total_table_radio: false,
      namepreset: {},
      invoice: {},
      period: {},
      po: {},
      customer: {},
      address: {},
      date_invoice: {},
      tax_id: {},
      data_table: {},
      data_summary: {},
      altLabels: true,
      aaaa: false,
      e1: 1,
      tab_step2: "tab_step2-2",
      tab_step_period: "tab_step_period-2",
      tab_step3: "tab_step3-2",
      tab_step4: "tab_step4-2",
      tab_step_customer: "tab_step_customer-2",
      tab_step5: "tab_step5-2",
      tab_step6: "tab_step6-2",
      tab_step7: "tab_step7-2",
      tab_step8: "tab_step8-2",
      grow: true,
      cropper: {},
      s3link: JSON.parse(localStorage.getItem("s3link")),
      pic: JSON.parse(localStorage.getItem("base64_preset")),
      countt: 0,
      dialog_radios: false,
      validator_radio: {
        radios: "",
        rule_radio: [
          (v) => !!v || "กรุณาระบุข้อมูลให้ครบถ้วน*",
          (v) => v != null || "กรุณาระบุข้อมูลให้ครบถ้วน*",
        ],
      },
      countt_total: 0,
      validator_radio_total: {
        radios: "",
        rule_radio: [
          (v) => !!v || "กรุณาระบุข้อมูลให้ครบถ้วน*",
          (v) => v != null || "กรุณาระบุข้อมูลให้ครบถ้วน*",
        ],
      },
      list_preset: [],
      table_loop: [],
      total_table_loop: [],
      list_total_preset: [],
      name_preset: "",
      form_preset: {
        RulePresetName: [
          (v) => !!v || "กรุณากรอกชื่อแบบฟอร์ม*",
          (v) => v != null || "กรุณากรอกชื่อแบบฟอร์ม*",
        ],
      },
    };
  },
  mounted() {
    this.dialog_preset_name = true;
  },
  watch: {
    countt: function(new_val, old_val) {
      console.log("--->", new_val, "-->", old_val);
    },

    countt_total: function(new_val, old_val) {
      console.log("--->", new_val, "-->", old_val);
    },

    tab_step2(val) {
      // console.log("tab : ", val);
      setTimeout(() => {
        this.images = this.$refs[val];
        // console.log("images", this.images);
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },

    // ที่เพิ่มใหม่
    tab_step_period(val) {
      // console.log("tab : ", val);
      setTimeout(() => {
        this.images = this.$refs[val];
        // console.log("images", this.images);
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },

    tab_step3(val) {
      // console.log("tab : ", val);
      setTimeout(() => {
        this.images = this.$refs[val];
        // console.log("images", this.images);
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },

    tab_step4(val) {
      // console.log("tab : ", val);
      setTimeout(() => {
        this.images = this.$refs[val];
        // console.log("images", this.images);
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },
    // ที่เพิ่มใหม่
    tab_step_customer(val) {
      // console.log("tab : ", val);
      setTimeout(() => {
        this.images = this.$refs[val];
        // console.log("images", this.images);
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },

    tab_step5(val) {
      // console.log("tab : ", val);
      setTimeout(() => {
        this.images = this.$refs[val];
        // console.log("images", this.images);
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },

    tab_step6(val) {
      setTimeout(() => {
        this.images = this.$refs[val];
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },

    tab_step7(val) {
      setTimeout(() => {
        this.images = this.$refs[val];
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },

    tab_step8(val) {
      setTimeout(() => {
        this.images = this.$refs[val];
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },
  },
  methods: {
    onScroll(e) {
      if (typeof window === "undefined") return;
      const top = window.pageYOffset || e.target.scrollTop || 0;
      this.fab = top > 20;
    },
    toTop() {
      this.$vuetify.goTo(0);
    },
    pv() {
      if (this.countt > 0) {
        this.countt--;
        this.validator_radio.radios = this.list_preset[this.countt].label;
        console.log("this.list_preset----->1", this.list_preset);
      }
    },

    async nx() {
      if (
        this.countt < this.table_loop.length + 1 &&
        this.$refs.validator_radio.validate()
      ) {
        if (this.validator_radio.radios == "ตรวจจับผิดพลาด") {
          this.dialog_radios = false;
          this.$swal({
            title: "ผิดพลาด!",
            type: "error",
            text: "กรุณาทำการครอปตารางอีกครั้ง !",
            confirmButtonText: "ตกลง",
            confirmButtonColor: "#d33",
            allowOutsideClick: false,
          }).then(() => {
            this.list_preset = [];
            this.countt = 0;
            this.table_loop = [];
            this.$refs.validator_radio.reset();
            // this.event_crop = 1;
          });
          return;
        } else {
          this.list_preset.splice(this.countt, 1, {
            // pic_preset: this.table_loop[this.countt],
            pic_preset: "0",
            label: this.validator_radio.radios,
          });
          this.countt++;
          if (this.list_preset[this.countt] == undefined) {
            this.$refs.validator_radio.reset();
          } else {
            this.validator_radio.radios = this.list_preset[this.countt].label;
          }
        }
      }
    },
    accept_list() {
      if (!this.$refs.validator_radio.validate()) return;
      if (this.validator_radio.radios == "ตรวจจับผิดพลาด") {
        this.dialog_radios = false;
        this.$swal({
          title: "ผิดพลาด!",
          type: "error",
          text: "กรุณาทำการครอปตารางอีกครั้ง !",
          confirmButtonText: "ตกลง",
          confirmButtonColor: "#d33",
          allowOutsideClick: false,
        }).then(() => {
          this.list_preset = [];
          this.countt = 0;
          this.table_loop = [];
          this.$refs.validator_radio.reset();
        });
        return;
      }
      this.list_preset.splice(this.countt, 1, {
        pic_preset: "0",
        label: this.validator_radio.radios,
      });
      console.log("this.list_preset------->", this.list_preset);
      this.dialog_radios = false;
      console.log(">>", this.list_preset);
      for (let i = 0; i < this.list_preset.length; i++) {
        if (this.list_preset[i]["label"] == "รายการ") {
          this.detail = i + 1;
        } else if (this.list_preset[i]["label"] == "จำนวน") {
          this.quantity = i + 1;
        } else if (this.list_preset[i]["label"] == "ราคาต่อหน่วย") {
          this.unitprice = i + 1;
        } else if (this.list_preset[i]["label"] == "จำนวนเงิน") {
          this.amount = i + 1;
        }
        console.log(this.list_preset[i]["label"]);
      }
      // this.count = 0;
      // this.table_loop = [];
      // this.$refs.validator_radio.reset();
      // this.aaaa = true;
      this.list_preset = [];
      this.countt = 0;
      this.table_loop = [];
      this.$refs.validator_radio.reset();
      this.e1 = 10;
      // this.dialog_suggest_step3 = true;
      this.tab_step8 = "tab_step8-0";
      console.log("----->", this.tab_step8);
      this.images = this.$refs[this.tab_step8];
      this.dialog_step8 = true;
      this.toTop();
    },
    cancle_dialog_detect() {
      this.dialog_radios = false;
      this.list_preset = [];
      this.countt = 0;
      this.table_loop = [];
      this.$refs.validator_radio.reset();
      return;
    },

    pv_total() {
      if (this.countt_total > 0) {
        this.countt_total--;
        this.validator_radio_total.radios = this.list_total_preset[
          this.countt_total
        ].label;
        console.log("this.list_total_preset----->1", this.list_total_preset);
      }
    },

    async nx_total() {
      if (
        this.countt_total < this.total_table_loop.length + 1 &&
        this.$refs.validator_radio_total.validate()
      ) {
        if (this.validator_radio_total.radios == "ตรวจจับผิดพลาด") {
          this.dialog_total_table_radio = false;
          this.$swal({
            title: "ผิดพลาด!",
            type: "error",
            text: "กรุณาทำการครอปตารางอีกครั้ง !",
            confirmButtonText: "ตกลง",
            confirmButtonColor: "#d33",
            allowOutsideClick: false,
          }).then(() => {
            this.list_total_preset = [];
            this.countt_total = 0;
            this.total_table_loop = [];
            this.$refs.validator_radio_total.reset();
            // this.event_crop = 1;
          });
          return;
        } else {
          this.list_total_preset.splice(this.countt_total, 1, {
            // pic_preset: this.table_loop[this.countt],
            pic_preset: "0",
            label: this.validator_radio_total.radios,
          });
          this.countt_total++;
          if (this.list_total_preset[this.countt_total] == undefined) {
            this.$refs.validator_radio_total.reset();
          } else {
            this.validator_radio_total.radios = this.list_total_preset[
              this.countt_total
            ].label;
          }
        }
      }
    },

    accept_list_total_table() {
      if (!this.$refs.validator_radio_total.validate()) return;
      if (this.validator_radio_total.radios == "ตรวจจับผิดพลาด") {
        this.dialog_total_table_radio = false;
        this.$swal({
          title: "ผิดพลาด!",
          type: "error",
          text: "กรุณาทำการครอปตารางอีกครั้ง !",
          confirmButtonText: "ตกลง",
          confirmButtonColor: "#d33",
          allowOutsideClick: false,
        }).then(() => {
          this.list_total_preset = [];
          this.countt_total = 0;
          this.total_table_loop = [];
          this.$refs.validator_radio_total.reset();
        });
        return;
      }
      this.list_total_preset.splice(this.countt_total, 1, {
        pic_preset: "0",
        label: this.validator_radio_total.radios,
      });
      console.log("this.list_total_preset------->", this.list_total_preset);
      this.dialog_total_table_radio = false;
      console.log(">>", this.list_total_preset);
      for (let i = 0; i < this.list_total_preset.length; i++) {
        if (this.list_total_preset[i]["label"] == "รวมเป็นเงิน") {
          this.price = i + 1;
        } else if (this.list_total_preset[i]["label"] == "ภาษีมูลค่าเพิ่ม") {
          this.price_vat = i + 1;
        } else if (this.list_total_preset[i]["label"] == "ยอดเงินสุทธิ") {
          this.total = i + 1;
        }
        console.log(this.list_total_preset[i]["label"]);
        console.log("for+index_price", this.price);
      }
      this.finish();
      this.countt_total = 0;
      this.total_table_loop = [];
      this.$refs.validator_radio_total.reset();
    },

    dialog_step_radio2() {
      this.dialog_suggest3 = false;
      this.dialog_total_table_radio = true;
    },

    cancle_dialog_detect2() {
      this.dialog_total_table_radio = false;
      this.countt_total = 0;
      this.list_total_preset = [];
      this.total_table_loop = [];
      this.$refs.validator_radio_total.reset();
      return;
    },
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    submit_step1() {
      if (this.$refs.form_preset.validate()) {
        this.namepreset = {
          name_preset: this.name_preset,
        };
        this.e1 = 2;
        this.aaaa = true;
        this.tab_step2 = "tab_step2-0";
        // console.log("----->", this.tab_step2);
        this.images = this.$refs[this.tab_step2];
      }
    },
    skip_step2() {
      this.invoice = {
        x: 0,
        y: 0,
        w: 0,
        h: 0,
      };
      console.log("skip2:invoice", this.invoice);
      this.e1 = 3;
      // this.tab_step3 = "tab_step3-0";
      // // console.log("----->", this.tab_step3);
      // this.images = this.$refs[this.tab_step3];
      this.tab_step_period = "tab_step_period-0";
      // console.log("----->", this.tab_step_period);
      this.images = this.$refs[this.tab_step_period];

      this.toTop();
    },
    submit_step2() {
      this.invoice = {
        x: this.cropper.getData().x,
        y: this.cropper.getData().y,
        w: this.cropper.getData().width,
        h: this.cropper.getData().height,
      };
      console.log("invoice", this.invoice);
      if (
        this.invoice.x == 0 ||
        this.invoice.y == 0 ||
        this.invoice.w == 0 ||
        this.invoice.h == 0
      ) {
        this.$swal({
          title: "ผิดพลาด!",
          text: "กรุณาทำการระบุตำแหน่งข้อมูลให้ถูกต้อง",
          type: "warning",
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "ตกลง",
          closeOnConfirm: false,
        });
      } else {
        console.log(this.invoice);
        this.e1 = 3;
        // this.tab_step3 = "tab_step3-0";
        // // console.log("----->", this.tab_step3);
        // this.images = this.$refs[this.tab_step3];
        //////////////////////////////////////////////////////
        this.tab_step_period = "tab_step_period-0";
        // console.log("----->", this.tab_step_period);
        this.images = this.$refs[this.tab_step_period];
        this.toTop();
      }
    },
    skip_period() {
      this.period = {
        x: 0,
        y: 0,
        w: 0,
        h: 0,
      };
      console.log("skip:period", this.period);
      this.e1 = 4;
      this.tab_step3 = "tab_step3-0";
      // console.log("----->", this.tab_step3);
      this.images = this.$refs[this.tab_step3];
      this.toTop();
    },

    submit_period() {
      this.period = {
        x: this.cropper.getData().x,
        y: this.cropper.getData().y,
        w: this.cropper.getData().width,
        h: this.cropper.getData().height,
      };
      console.log("period", this.period);
      if (
        this.period.x == 0 ||
        this.period.y == 0 ||
        this.period.w == 0 ||
        this.period.h == 0
      ) {
        this.$swal({
          title: "ผิดพลาด!",
          text: "กรุณาทำการระบุตำแหน่งข้อมูลให้ถูกต้อง",
          type: "warning",
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "ตกลง",
          closeOnConfirm: false,
        });
      } else {
        console.log(this.period);
        this.e1 = 4;
        this.tab_step3 = "tab_step3-0";
        // console.log("----->", this.tab_step3);
        this.images = this.$refs[this.tab_step3];
        this.toTop();
      }
    },

    skip_step3() {
      this.po = {
        x: 0,
        y: 0,
        w: 0,
        h: 0,
      };
      console.log("skip3:po", this.po);
      this.e1 = 5;
      // this.tab_step4 = "tab_step4-0";
      // // console.log("----->", this.tab_step4);
      // this.images = this.$refs[this.tab_step4];
      //
      this.tab_step_customer = "tab_step_customer-0";
      // console.log("----->", this.tab_step_customer);
      this.images = this.$refs[this.tab_step_customer];
      this.toTop();
    },
    submit_step3() {
      this.po = {
        x: this.cropper.getData().x,
        y: this.cropper.getData().y,
        w: this.cropper.getData().width,
        h: this.cropper.getData().height,
      };
      console.log("po", this.po);
      //
      if (
        this.po.x == 0 ||
        this.po.y == 0 ||
        this.po.w == 0 ||
        this.po.h == 0
      ) {
        this.$swal({
          title: "ผิดพลาด!",
          text: "กรุณาทำการระบุตำแหน่งข้อมูลให้ถูกต้อง",
          type: "warning",
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "ตกลง",
          closeOnConfirm: false,
        });
      } else {
        console.log(this.po);
        this.e1 = 5;
        // this.tab_step4 = "tab_step4-0";
        // // console.log("----->", this.tab_step4);
        // this.images = this.$refs[this.tab_step4];
        //
        this.tab_step_customer = "tab_step_customer-0";
        // console.log("----->", this.tab_step_customer);
        this.images = this.$refs[this.tab_step_customer];
        this.toTop();
      }
    },
    skip_customer() {
      this.customer = {
        x: 0,
        y: 0,
        w: 0,
        h: 0,
      };
      console.log("skip:customer", this.customer);
      this.e1 = 6;
      this.tab_step4 = "tab_step4-0";
      // console.log("----->", this.tab_step4);
      this.images = this.$refs[this.tab_step4];
      //

      this.toTop();
    },
    submit_customer() {
      this.customer = {
        x: this.cropper.getData().x,
        y: this.cropper.getData().y,
        w: this.cropper.getData().width,
        h: this.cropper.getData().height,
      };
      console.log("customer", this.customer);
      //
      if (
        this.customer.x == 0 ||
        this.customer.y == 0 ||
        this.customer.w == 0 ||
        this.customer.h == 0
      ) {
        this.$swal({
          title: "ผิดพลาด!",
          text: "กรุณาทำการระบุตำแหน่งข้อมูลให้ถูกต้อง",
          type: "warning",
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "ตกลง",
          closeOnConfirm: false,
        });
      } else {
        console.log(this.customer);
        this.e1 = 6;
        this.tab_step4 = "tab_step4-0";
        // console.log("----->", this.tab_step4);
        this.images = this.$refs[this.tab_step4];

        this.toTop();
      }
    },
    skip_step4() {
      this.address = {
        x: 0,
        y: 0,
        w: 0,
        h: 0,
      };
      console.log("skip4:address", this.address);
      this.e1 = 7;
      this.tab_step5 = "tab_step5-0";
      this.images = this.$refs[this.tab_step5];
      this.toTop();
    },
    submit_step4() {
      this.address = {
        x: this.cropper.getData().x,
        y: this.cropper.getData().y,
        w: this.cropper.getData().width,
        h: this.cropper.getData().height,
      };
      console.log("address", this.address);
      if (
        this.address.x == 0 ||
        this.address.y == 0 ||
        this.address.w == 0 ||
        this.address.h == 0
      ) {
        this.$swal({
          title: "ผิดพลาด!",
          text: "กรุณาทำการระบุตำแหน่งข้อมูลให้ถูกต้อง",
          type: "warning",
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "ตกลง",
          closeOnConfirm: false,
        });
      } else {
        console.log(this.address);
        this.e1 = 7;
        this.tab_step5 = "tab_step5-0";
        // console.log("----->", this.tab_step5);
        this.images = this.$refs[this.tab_step5];
        this.toTop();
      }
    },
    skip_step5() {
      this.date_invoice = {
        x: 0,
        y: 0,
        w: 0,
        h: 0,
      };
      console.log("skip5:date_invoice", this.date_invoice);
      this.e1 = 8;
      this.tab_step6 = "tab_step6-0";
      this.images = this.$refs[this.tab_step6];
      this.toTop();
    },
    submit_step5() {
      // this.e1 = 6;
      this.date_invoice = {
        x: this.cropper.getData().x,
        y: this.cropper.getData().y,
        w: this.cropper.getData().width,
        h: this.cropper.getData().height,
      };
      console.log("date_invoice", this.date_invoice);
      if (
        this.date_invoice.x == 0 ||
        this.date_invoice.y == 0 ||
        this.date_invoice.w == 0 ||
        this.date_invoice.h == 0
      ) {
        this.$swal({
          title: "ผิดพลาด!",
          text: "กรุณาทำการระบุตำแหน่งข้อมูลให้ถูกต้อง",
          type: "warning",
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "ตกลง",
          closeOnConfirm: false,
        });
      } else {
        console.log(this.date_invoice);
        this.e1 = 8;
        this.tab_step6 = "tab_step6-0";
        // console.log("----->", this.tab_step6);
        this.images = this.$refs[this.tab_step6];
        this.toTop();
      }
    },

    skip_step6() {
      this.tax_id = {
        x: 0,
        y: 0,
        w: 0,
        h: 0,
      };
      console.log("skip6:tax_id", this.tax_id);
      this.e1 = 9;
      this.tab_step7 = "tab_step7-0";
      // console.log("----->", this.tab_step7);
      this.images = this.$refs[this.tab_step7];
      this.dialog_step7 = true;
      this.toTop();
    },
    submit_step6() {
      // this.e1 = 7;
      this.tax_id = {
        x: this.cropper.getData().x,
        y: this.cropper.getData().y,
        w: this.cropper.getData().width,
        h: this.cropper.getData().height,
      };
      console.log("tax_id", this.tax_id);
      if (
        this.tax_id.x == 0 ||
        this.tax_id.y == 0 ||
        this.tax_id.w == 0 ||
        this.tax_id.h == 0
      ) {
        this.$swal({
          title: "ผิดพลาด!",
          text: "กรุณาทำการระบุตำแหน่งข้อมูลให้ถูกต้อง",
          type: "warning",
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "ตกลง",
          closeOnConfirm: false,
        });
      } else {
        console.log(this.tax_id);
        this.e1 = 9;
        this.tab_step7 = "tab_step7-0";
        // console.log("----->", this.tab_step7);
        this.images = this.$refs[this.tab_step7];
        this.toTop();
      }
    },

    submit_step7() {
      this.data_table = {
        x: this.cropper.getData().x,
        y: this.cropper.getData().y,
        w: this.cropper.getData().width,
        h: this.cropper.getData().height,
      };
      console.log("data_table", this.data_table);
      if (
        this.data_table.x == 0 ||
        this.data_table.y == 0 ||
        this.data_table.w == 0 ||
        this.data_table.h == 0
      ) {
        this.$swal({
          title: "ผิดพลาด!",
          text: "กรุณาทำการระบุตำแหน่งข้อมูลให้ถูกต้อง",
          type: "warning",
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "ตกลง",
          closeOnConfirm: false,
        });
      } else {
        console.log(this.data_table);
        this.dialog_loader = true;
        //crop
        const canvas = this.cropper.getCroppedCanvas();
        this.destination = canvas.toDataURL("image/png");
        console.log(this.destination);
        this.axios
          .post("http://quanta3.manageai.co.th:7777/tesseract/billing/preset", {
            image: this.destination,
            mode: "vartical",
          })
          .then((res) => {
            console.log("detail_crop", res);
            this.table_loop = res.data.result;
            this.cropper.clear();
            console.log("table_loop--->", this.table_loop);
            this.dialog_step = true;
            for (let index = 0; index < this.table_loop.length; index++) {
              this.pic_preset = this.table_loop[index];
              break;
            }
            this.dialog_loader = false;
            // this.e1 = 8;
            // this.dialog_suggest_step3 = true;
            // this.tab_step8 = "tab_step8-0";
            // console.log("----->", this.tab_step8);
            // this.images = this.$refs[this.tab_step8];
          })
          .catch((error) => {
            console.log("error", error);
            this.dialog_loader = false;
          });
      }
    },

    dialog_step_radio() {
      this.dialog_step = false;
      this.dialog_radios = true;
    },
    submit_step8() {
      this.data_summary = {
        x: this.cropper.getData().x,
        y: this.cropper.getData().y,
        w: this.cropper.getData().width,
        h: this.cropper.getData().height,
      };
      console.log("data_summary", this.data_summary);
      if (
        this.data_summary.x == 0 ||
        this.data_summary.y == 0 ||
        this.data_summary.w == 0 ||
        this.data_summary.h == 0
      ) {
        this.$swal({
          title: "ผิดพลาด!",
          text: "กรุณาทำการระบุตำแหน่งข้อมูลให้ถูกต้อง",
          type: "warning",
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "ตกลง",
          closeOnConfirm: false,
        });
      } else {
        this.dialog_loader = true;
        //crop
        const canvas = this.cropper.getCroppedCanvas();
        this.destination = canvas.toDataURL("image/png");
        console.log(this.destination);
        this.dialog_suggest3 = true;
        console.log("three");
        this.axios
          .post("http://quanta3.manageai.co.th:7777/tesseract/billing/preset", {
            image: this.destination,
            mode: "horizontal",
          })
          .then((res) => {
            this.dialog_loader = false;
            console.log(res);
            this.total_table_loop = res.data.result;
            console.log("total_table_loop--->", this.total_table_loop);
            for (let index = 0; index < this.total_table_loop.length; index++) {
              this.pic_preset_total = this.total_table_loop[index];
              // this.dialog_total_table_radio = true;
              // this.count++;
              // console.log(this.pic_preset);
              //  e1 = 4
              break;
            }
          })
          .catch((error) => {
            console.log("error", error);
            this.dialog_loader = false;
          });
      }
    },

    finish() {
      this.header = {
        invoice: this.invoice,
        period: this.period,
        po: this.po,
        customer_name: this.customer,
        address: this.address,
        date_invoice: this.date_invoice,
        tax_id: this.tax_id,
      };
      console.log("header", this.header);
      console.log("price_finish", this.price);
      console.log("price_vat_finish", this.price_vat);
      console.log("total_finish", this.total);
      if (
        this.name_preset == "" ||
        this.detail == "" ||
        this.quantity == "" ||
        this.unitprice == "" ||
        this.amount == "" ||
        this.price == "" ||
        this.price_vat == "" ||
        this.total == ""
      ) {
        console.log("error");
        // this.dialog_suggest = true;
        return;
      } else {
        this.axios
          .post(process.env.VUE_APP_API + "/api/v1/preset/setcolumn", {
            biz_id: localStorage.getItem("biz_id"),
            name_preset: this.name_preset,
            detail: parseInt(this.detail),
            quantity: parseInt(this.quantity),
            unitprice: parseInt(this.unitprice),
            amount: parseInt(this.amount),
            price: parseInt(this.price),
            price_vat: parseInt(this.price_vat),
            total: parseInt(this.total),
            s3link: this.s3link,
            header: this.header,
          })
          .then((response) => {
            console.log(response);
            // localStorage.removeItem("base64_po_preset");
            // this.$router.push({ name: "TrackingPO" });
            this.$swal({
              title: "สำเร็จ !",
              type: "success",
              confirmButtonText: "ตกลง",
              allowOutsideClick: false,
            }).then(() => {
              console.log("triggered redirect here");
              localStorage.removeItem("base64_po_preset");
              this.$router.push({ name: "TrackingPO" });
            });
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
};
</script>
