<template>
  <div id="preset_step">
    <!-- spinner -->
    <div class="text-center">
      <v-dialog v-model="dialog_loader" hide-overlay persistent width="300">
        <v-card color="primary" dark>
          <v-card-text style="text-align:center">
            รอสักครู่ . . .
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <!-- Dialog-STEP1 -->
    <v-dialog v-model="dialog_preset_name" persistent max-width="360">
      <v-card>
        <v-card-title class="headline">
          STEP 1. ตั้งชื่อแบบฟอร์ม
        </v-card-title>
        <v-card-text>
          กรุณากรอกชื่อแบบฟอร์ม
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/step_one.png"
            style="width:100%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="dialog_preset_name = false"
          >
            เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-STEP-2 -->
    <v-dialog v-model="dialog_suggest" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">
          STEP 2. ระบุตำแหน่งตาราง
        </v-card-title>
        <v-card-text>
          ให้ท่านลากเมาส์ ในส่วนของตาราง แล้วกด "อ่านข้อมูลดังภาพตัวอย่าง"
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/gif_4.gif"
            style="width:80%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog_suggest = false"
            >เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-suggest -->
    <v-dialog v-model="dialog_step" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">
          <v-icon style="color:	yellow">mdi-lightbulb-on-outline</v-icon>
          ระบุข้อมูลตาราง
        </v-card-title>
        <v-card-text>
          ให้ท่านระบุข้อมูลตารางรายการ ในแต่ละคอลัมน์ แล้วกด "ถัดไป"
          ดังภาพตัวอย่าง
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/12.gif"
            style="width:100%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            :value="dialog_step"
            @click="dialog_step_radio()"
            >เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog Radios -->
    <v-dialog v-model="dialog_radios" persistent width="100%">
      <v-card>
        <v-card-title>
          กรุณาทำการระบุชื่อคอลัมน์
          <v-spacer></v-spacer>
          <v-btn icon color="indigo" @click="cancle_dialog_detect()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card>
          <v-row no-gutters>
            <v-col cols="12" sm="6">
              <v-card :elevation="0" style="border-radius:0px">
                <v-alert
                  text
                  color="success"
                  style="border-radius:0px"
                  icon="mdi-check"
                >
                  <h3 class="headline">ถูกต้อง</h3>
                  <div>
                    <span> ตัวอย่างการตรวจจับคอลัมน์ที่ <B>ถูกต้อง</B></span>
                  </div>
                  <v-divider class="my-4 info" style="opacity: 0.22">
                  </v-divider>
                  <v-row no-gutters>
                    <div style="text-align:center">
                      <img src="../../assets/correct.png" width="50%" />
                    </div>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-alert>
              </v-card>
            </v-col>
            <v-col cols="12" sm="6">
              <v-card :elevation="0" style="border-radius:0px">
                <v-alert text color="error" icon="mdi-alert-circle-outline">
                  <h3 class="headline">ผิดพลาด</h3>
                  <div>
                    <span> ตัวอย่างการตรวจจับคอลัมน์ที่ <B>ผิดพลาด</B> </span>
                  </div>
                  <v-divider class="my-4 info" style="opacity: 0.22">
                  </v-divider>
                  <v-row no-gutters>
                    <div style="text-align:center">
                      <img src="../../assets/false.png" width="50%" />
                    </div>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-alert>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
        <v-card :elevation="0">
          <v-card-text>
            <v-row>
              <v-col cols="12" xl="9" lg="9" md="9" sm="12" xs="12">
                <div>
                  <img :src="table_loop[countt]" width="80%" />
                </div>
              </v-col>
              <v-col cols="12" xl="3" lg="3" md="3" sm="12" xs="12">
                <v-form ref="validator_radio">
                  <v-radio-group
                    v-model="validator_radio.radios"
                    :mandatory="false"
                    :rules="validator_radio.rule_radio"
                  >
                    <v-radio label="ลำดับ" value="ลำดับ"></v-radio>
                    <v-radio label="รายการ" value="รายการ"></v-radio>
                    <v-radio label="จำนวน" value="จำนวน"></v-radio>
                    <v-radio
                      label="ราคาต่อหน่วย"
                      value="ราคาต่อหน่วย"
                    ></v-radio>
                    <v-radio label="จำนวนเงิน" value="จำนวนเงิน"></v-radio>
                    <v-radio label="อื่นๆ" value="อื่นๆ"></v-radio>
                    <v-radio
                      label="ตรวจจับผิดพลาด"
                      value="ตรวจจับผิดพลาด"
                    ></v-radio>
                  </v-radio-group>
                </v-form>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="error darken-1"
            dark
            :disabled="countt == 0"
            :value="(check = 'back')"
            style="width:125px;max-width:100%"
            @click="pv()"
          >
            ย้อนกลับ
          </v-btn>
          <v-btn
            v-if="this.countt < this.table_loop.length - 1"
            color="green darken-1"
            dark
            style="width:125px;max-width:100%"
            @click="nx()"
          >
            ถัดไป
          </v-btn>
          <v-btn
            v-else
            color="green darken-1"
            dark
            style="width:125px;max-width:100%"
            @click="accept_list()"
            >ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-suggest-3 -->
    <v-dialog v-model="dialog_suggest_step3" persistent max-width="550">
      <v-card>
        <v-card-title class="headline">
          STEP 3. ระบุตำแหน่งตารางเงินรวม
          <br />
        </v-card-title>
        <v-card-text>
          ให้ท่านลากเมาส์ ในส่วนของตารางเงินรวมทั้งหมด แล้วกด
          "อ่านข้อมูลดังภาพตัวอย่าง"
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/23.gif"
            style="width:80%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="dialog_suggest_step3 = false"
          >
            เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-suggest-3 -->
    <v-dialog v-model="dialog_suggest3" persistent max-width="550">
      <v-card>
        <v-card-title class="headline">
          <v-icon style="color:yellow">mdi-lightbulb-on-outline</v-icon>
          ระบุข้อมูลตารางเงินรวม
          <br />
        </v-card-title>
        <v-card-text>
          ให้ท่านระบุข้อมูลตารางรายการ ในแต่ละคอลัมน์ แล้วกด "ถัดไป"
          ดังภาพตัวอย่าง
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/45.gif"
            style="width:80%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog_step_radio2()">
            เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-Radios-total-table -->
    <v-dialog v-model="dialog_total_table_radio" persistent width="100%">
      <v-card>
        <v-card-title>
          กรุณาทำการระบุชื่อคอลัมน์
          <v-spacer></v-spacer>
          <v-btn icon color="indigo" @click="cancle_dialog_detect2()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card>
          <v-row no-gutters>
            <v-col cols="12" sm="6">
              <v-card :elevation="0" style="border-radius:0px">
                <v-alert
                  text
                  color="success"
                  style="border-radius:0px"
                  icon="mdi-check"
                >
                  <h3 class="headline">ถูกต้อง</h3>
                  <div>
                    <span> ตัวอย่างการตรวจจับคอลัมน์ที่ <B>ถูกต้อง</B></span>
                  </div>
                  <v-divider class="my-4 info" style="opacity: 0.22">
                  </v-divider>
                  <v-row no-gutters>
                    <div style="text-align:center">
                      <img src="../../assets/correct.png" width="50%" />
                    </div>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-alert>
              </v-card>
            </v-col>
            <v-col cols="12" sm="6">
              <v-card :elevation="0" style="border-radius:0px">
                <v-alert text color="error" icon="mdi-alert-circle-outline">
                  <h3 class="headline">ผิดพลาด</h3>
                  <div>
                    <span> ตัวอย่างการตรวจจับคอลัมน์ที่ <B>ผิดพลาด</B> </span>
                  </div>
                  <v-divider class="my-4 info" style="opacity: 0.22">
                  </v-divider>
                  <v-row no-gutters>
                    <div style="text-align:center">
                      <img src="../../assets/false.png" width="50%" />
                    </div>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-alert>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
        <v-card :elevation="0">
          <v-card-text>
            <v-row>
              <v-col cols="12" xl="9" lg="9" md="9" sm="12" xs="12">
                <div>
                  <img :src="total_table_loop[countt_total]" width="80%" />
                </div>
              </v-col>
              <v-col cols="12" xl="3" lg="3" md="3" sm="12" xs="12">
                <v-form ref="validator_radio_total">
                  <v-radio-group
                    v-model="validator_radio_total.radios"
                    :mandatory="false"
                    :rules="validator_radio_total.rule_radio"
                  >
                    <v-radio label="รวมเป็นเงิน" value="รวมเป็นเงิน"></v-radio>
                    <v-radio
                      label="ภาษีมูลค่าเพิ่ม"
                      value="ภาษีมูลค่าเพิ่ม"
                    ></v-radio>
                    <v-radio
                      label="ยอดเงินสุทธิ"
                      value="ยอดเงินสุทธิ"
                    ></v-radio>
                    <v-radio label="อื่นๆ" value="อื่นๆ"></v-radio>
                    <v-radio
                      label="ตรวจจับผิดพลาด"
                      value="ตรวจจับผิดพลาด"
                    ></v-radio>
                  </v-radio-group>
                </v-form>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="error darken-1"
            dark
            :disabled="countt_total == 0"
            :value="(check = 'back')"
            style="width:125px;max-width:100%"
            @click="pv_total()"
          >
            ย้อนกลับ
          </v-btn>
          <v-btn
            v-if="this.countt_total < this.total_table_loop.length - 1"
            color="green darken-1"
            dark
            style="width:125px;max-width:100%"
            @click="nx_total()"
          >
            ถัดไป
          </v-btn>
          <v-btn
            v-else
            color="green darken-1"
            dark
            style="width:125px;max-width:100%"
            @click="accept_list_total_table()"
            >ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Stepper -->
    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1"
          >Step 1 ตั้งชื่อแบบฟอร์ม</v-stepper-step
        >

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 2" step="2"
          >ระบุตำแหน่งตารางรายการ</v-stepper-step
        >

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 3" step="3"
          >ระบุตำแหน่งตารางผลรวม</v-stepper-step
        >

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 4" step="4"
          >ระบุตำแหน่งเลขใบแจ้งหนี้</v-stepper-step
        >

        <!-- <v-divider></v-divider> -->

        <!-- <v-stepper-step :complete="e1 > 5" step="5"
          >ระบุข้อมูลผลรวม</v-stepper-step
        > -->
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">
          <div class="animate__animated animate__fadeInRightBig animate__slow">
            <v-card class="pa-2" outlined tile>
              <v-row>
                <v-col style="text-align: right;">
                  <v-btn
                    class="ma-2"
                    tile
                    outlined
                    color="primary"
                    style="text-align:center;"
                    @click="dialog_preset_name = true"
                  >
                    <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                  </v-btn>
                </v-col>
              </v-row>

              <div align="center">
                <h1>Step 1 ตั้งชื่อแบบฟอร์ม</h1>
                <v-form ref="form_preset">
                  <v-text-field
                    label="ชื่อแบบฟอร์ม"
                    placeholder="กรุณากรอกชื่อแบบฟอร์ม"
                    v-model="name_preset"
                    :rules="form_preset.RulePresetName"
                    outlined
                    dense
                    style="margin:10px; max-width:20%; text-align: center;"
                  ></v-text-field>
                </v-form>
              </div>
            </v-card>
            <v-btn
              style="float:right; margin-top:10px"
              color="primary"
              @click="submit_step_one()"
              >ถัดไป</v-btn
            >
          </div>
        </v-stepper-content>

        <v-stepper-content step="2">
          <div class="animate__animated animate__fadeInRightBig animate__slow">
            <v-card class="pa-2" outlined tile>
              <v-row>
                <v-col style="text-align: right;">
                  <v-btn
                    class="ma-2"
                    tile
                    outlined
                    color="primary"
                    style="text-align:center;"
                    @click="dialog_suggest = true"
                  >
                    <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                  </v-btn>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <div align="center">
                    <h1>Step 2 กำหนดรูปแบบตารางรายการ</h1>
                  </div>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-row>
                    <v-col align="center">
                      <v-container>
                        <div>
                          <v-tabs v-model="tab" class="tabs" :grow="grow">
                            <v-tab
                              v-for="(img, index) in pic"
                              :key="index"
                              :href="'#tab-' + index"
                            >
                              หน้า-{{ index + 1 }}
                            </v-tab>
                          </v-tabs>

                          <v-tabs-items
                            v-model="tab"
                            v-for="(img, index) in pic"
                            :key="index"
                          >
                            <v-tab-item :value="'tab-' + index">
                              <div>
                                <img
                                  v-if="aaaa"
                                  :ref="'tab-' + index"
                                  :src="img"
                                  style="width:100%"
                                />
                              </div>
                            </v-tab-item>
                          </v-tabs-items>
                        </div>
                      </v-container>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-card>
            <v-btn
              style="float:right;  margin-top:10px;"
              color="primary"
              @click="submit_step_two()"
              e1="3"
              >ถัดไป</v-btn
            >
          </div>
        </v-stepper-content>

        <v-stepper-content step="3">
          <div class="animate__animated animate__fadeInRightBig animate__slow">
            <v-card class="pa-2" outlined tile>
              <v-row>
                <v-col style="text-align: right;">
                  <v-btn
                    class="ma-2"
                    tile
                    outlined
                    color="primary"
                    style="text-align:center;"
                    @click="dialog_suggest_step3 = true"
                  >
                    <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                  </v-btn>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <div align="center">
                    <h1>Step 3 ระบุตำแหน่งตารางผลรวม</h1>
                  </div>
                  <v-container>
                    <div>
                      <v-tabs v-model="tab2" class="tabs" :grow="grow">
                        <v-tab
                          v-for="(img, index) in pic"
                          :key="index"
                          :href="'#tab2-' + index"
                        >
                          หน้า-{{ index + 1 }}
                        </v-tab>
                      </v-tabs>

                      <v-tabs-items
                        v-model="tab2"
                        v-for="(img, index) in pic"
                        :key="index"
                      >
                        <v-tab-item :value="'tab2-' + index">
                          <div>
                            <img
                              v-if="aaaa"
                              :ref="'tab2-' + index"
                              :src="img"
                              style="width:100%"
                            />
                          </div>
                        </v-tab-item>
                      </v-tabs-items>
                    </div>
                  </v-container>
                </v-col>
              </v-row>
            </v-card>

            <v-btn
              style="float:right; margin-top:10px"
              color="primary"
              @click="submit_step_three()"
              >ถัดไป</v-btn
            >
            <v-btn text style="float:right; margin-top:10px" @click="e1 = 2"
              >ย้อนกลับ</v-btn
            >
          </div>
        </v-stepper-content>

        <v-stepper-content step="4">
          <div class="animate__animated animate__fadeInRightBig animate__slow">
            <v-card class="pa-2" outlined tile>
              <v-row>
                <v-col style="text-align: right;">
                  <v-btn
                    class="ma-2"
                    tile
                    outlined
                    color="primary"
                    style="text-align:center;"
                    @click="dialog_suggest = true"
                  >
                    <v-icon left>mdi-tooltip</v-icon>คำแนะนำ
                  </v-btn>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <div align="center">
                    <h1>Step 4 กำหนดรูปแบบเลขใบแจ้งหนี้</h1>
                  </div>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-row>
                    <v-col align="center">
                      <v-container>
                        <div>
                          <v-tabs v-model="tab_step4" class="tabs" :grow="grow">
                            <v-tab
                              v-for="(img, index) in pic"
                              :key="index"
                              :href="'#tab_step4-' + index"
                            >
                              หน้า-{{ index + 1 }}
                            </v-tab>
                          </v-tabs>

                          <v-tabs-items
                            v-model="tab_step4"
                            v-for="(img, index) in pic"
                            :key="index"
                          >
                            <v-tab-item :value="'tab_step4-' + index">
                              <div>
                                <img
                                  v-if="aaaa"
                                  :ref="'tab_step4-' + index"
                                  :src="img"
                                  style="width:100%"
                                />
                              </div>
                            </v-tab-item>
                          </v-tabs-items>
                        </div>
                      </v-container>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-card>
            <v-btn
              style="float:right;  margin-top:10px;"
              color="primary"
              @click="submit_step_four()"
              >ถัดไป</v-btn
            >
          </div>
        </v-stepper-content>

        <v-stepper-content step="5">
          <v-card class="mb-12" color="grey lighten-1" height="200px"></v-card>

          <v-btn style="float:right" color="primary">เสร็จสิ้น</v-btn>
          <v-btn text style="float:right" @click="e1 = 4">ย้อนกลับ</v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
import Cropper from "cropperjs";
export default {
  props: {
    src: String,
  },
  // created() {
  //   setTimeout(() => {
  //     this.aaaa = true;
  //   }, 1000 * 3);
  // },
  data() {
    return {
      dialog_preset_name: false,
      aaaa: false,
      tab: "tab-2",
      tab2: "tab-2",
      tab_step4: "tab_step4-2",
      grow: true,
      dialog_loader: false,
      dialog_step: false,
      dialog_radios: false,
      dialog_suggest_step3: false,
      dialog_suggest: false,
      dialog_suggest3: false,
      dialog_total_table_radio: false,
      countt: 0,
      countt_total: 0,
      validator_radio: {
        radios: "",
        rule_radio: [
          (v) => !!v || "กรุณาระบุข้อมูลให้ครบถ้วน*",
          (v) => v != null || "กรุณาระบุข้อมูลให้ครบถ้วน*",
        ],
      },
      validator_radio_total: {
        radios: "",
        rule_radio: [
          (v) => !!v || "กรุณาระบุข้อมูลให้ครบถ้วน*",
          (v) => v != null || "กรุณาระบุข้อมูลให้ครบถ้วน*",
        ],
      },
      e1: 1,
      list_preset: [],
      table_loop: [],
      total_table_loop: [],
      list_total_preset: [],
      cropper: {},
      s3link: JSON.parse(localStorage.getItem("s3link")),
      pic: JSON.parse(localStorage.getItem("base64_preset")),
      name_preset: "",
      form_preset: {
        RulePresetName: [
          (v) => !!v || "กรุณากรอกชื่อแบบฟอร์ม*",
          (v) => v != null || "กรุณากรอกชื่อแบบฟอร์ม*",
        ],
      },
      dropdown_list: ["ลำดับ", "รายการ", "ราคาต่อหน่วย", "จำนวนเงิน"],
    };
  },
  watch: {
    countt: function(new_val, old_val) {
      console.log("--->", new_val, "-->", old_val);
    },
    countt_total: function(new_val, old_val) {
      console.log("--->", new_val, "-->", old_val);
    },
    tab(val) {
      console.log("tab : ", val);
      setTimeout(() => {
        this.images = this.$refs[val];
        console.log("images", this.images);
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },

    tab2(val) {
      console.log("tab2 : ", val);
      setTimeout(() => {
        this.images = this.$refs[val];
        console.log("images", this.images);
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },

    tab_step4(val) {
      console.log("tab2 : ", val);
      setTimeout(() => {
        this.images = this.$refs[val];
        console.log("images", this.images);
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },
  },
  mounted() {
    this.dialog_preset_name = true;
  },
  methods: {
    // submit() {
    //   alert("มองไรจ๊ะ");
    // },
    dialog_step_radio() {
      this.dialog_step = false;
      this.dialog_radios = true;
    },
    submit_step_one() {
      this.$refs.form_preset.validate();
      if (this.name_preset != "") {
        console.log("success");
        this.e1 = 2;
        this.dialog_suggest = true;
        this.aaaa = true;
        this.tab = "tab-0";
        console.log("----->", this.tab);
        this.images = this.$refs[this.tab];
        console.log("images", this.images);
        // this.cropper = new Cropper(this.images[0], {
        //   autoCrop: false,
        //   zoomable: false,
        //   scalable: false,
        //   aspectRatio: "free",
        // });
        // if (this.pic[0]) {
        //   this.images = this.$refs.image;
        //   // console.log(this.images);
        //   this.cropper = new Cropper(this.images, {
        //     autoCrop: false,
        //     zoomable: false,
        //     scalable: false,
        //     aspectRatio: "free",
        //   });
        //   // console.log(this.cropper);
        // }
      }
    },

    pv() {
      if (this.countt > 0) {
        this.countt--;
        this.validator_radio.radios = this.list_preset[this.countt].label;
        console.log("this.list_preset----->1", this.list_preset);
      }
    },

    async nx() {
      if (
        this.countt < this.table_loop.length + 1 &&
        this.$refs.validator_radio.validate()
      ) {
        if (this.validator_radio.radios == "ตรวจจับผิดพลาด") {
          this.dialog = false;
          this.$swal({
            title: "ผิดพลาด!",
            type: "error",
            text: "กรุณาทำการครอปตารางอีกครั้ง !",
            confirmButtonText: "ตกลง",
            confirmButtonColor: "#d33",
            allowOutsideClick: false,
          }).then(() => {
            this.list_preset = [];
            this.countt = 0;
            this.table_loop = [];
            this.$refs.validator_radio.reset();
            this.event_crop = 1;
          });
          return;
        } else {
          this.list_preset.splice(this.countt, 1, {
            // pic_preset: this.table_loop[this.countt],
            pic_preset: "0",
            label: this.validator_radio.radios,
          });
          this.countt++;
          if (this.list_preset[this.countt] == undefined) {
            this.$refs.validator_radio.reset();
          } else {
            this.validator_radio.radios = this.list_preset[this.countt].label;
          }
        }
      }
    },

    accept_list() {
      if (!this.$refs.validator_radio.validate()) return;
      if (this.validator_radio.radios == "ตรวจจับผิดพลาด") {
        this.dialog_radios = false;
        this.$swal({
          title: "ผิดพลาด!",
          type: "error",
          text: "กรุณาทำการครอปตารางอีกครั้ง !",
          confirmButtonText: "ตกลง",
          confirmButtonColor: "#d33",
          allowOutsideClick: false,
        }).then(() => {
          this.list_preset = [];
          this.countt = 0;
          this.table_loop = [];
          this.$refs.validator_radio.reset();
          this.event_crop = 1;
        });
        return;
      }
      this.list_preset.splice(this.countt, 1, {
        // pic_preset: this.table_loop[this.countt],
        pic_preset: "0",
        label: this.validator_radio.radios,
      });
      console.log("this.list_preset------->", this.list_preset);
      this.dialog_radios = false;
      console.log(">>", this.list_preset);
      for (let i = 0; i < this.list_preset.length; i++) {
        if (this.list_preset[i]["label"] == "รายการ") {
          this.detail = i + 1;
        } else if (this.list_preset[i]["label"] == "จำนวน") {
          this.quantity = i + 1;
        } else if (this.list_preset[i]["label"] == "ราคาต่อหน่วย") {
          this.unitprice = i + 1;
        } else if (this.list_preset[i]["label"] == "จำนวนเงิน") {
          this.amount = i + 1;
        }
        console.log(this.list_preset[i]["label"]);
        this.dialog_suggest2 = true;
      }
      this.count = 0;
      this.table_loop = [];
      this.$refs.validator_radio.reset();
      this.e1 = 3;
      this.dialog_suggest_step3 = true;
      this.aaaa = true;
      this.tab2 = "tab-0";
      console.log("----->", this.tab2);
      this.images = this.$refs[this.tab2];
      console.log("images", this.images);
      // if (this.pic[0]) {
      //   this.images = this.$refs.image2;
      //   // console.log(this.images);
      //   this.cropper = new Cropper(this.images, {
      //     autoCrop: false,
      //     zoomable: false,
      //     scalable: false,
      //     aspectRatio: "free",
      //   });
      //   // console.log(this.cropper);
      // }
    },
    cancle_dialog_detect() {
      this.dialog_radios = false;
      this.list_preset = [];
      this.countt = 0;
      this.table_loop = [];
      this.$refs.validator_radio.reset();
      return;
    },
    submit_step_two() {
      this.dialog_loader = true;
      //crop
      const canvas = this.cropper.getCroppedCanvas();
      this.destination = canvas.toDataURL("image/png");
      console.log(this.destination);
      this.axios
        .post("http://quanta3.manageai.co.th:7777/tesseract/billing/preset", {
          image: this.destination,
          mode: "vartical",
        })
        .then((res) => {
          console.log("detail_crop", res);
          this.table_loop = res.data.result;
          this.cropper.clear();
          console.log("table_loop--->", this.table_loop);
          this.dialog_step = true;
          for (let index = 0; index < this.table_loop.length; index++) {
            this.pic_preset = this.table_loop[index];
            break;
          }
          this.dialog_loader = false;
          // this.e1 = 3;
        })
        .catch((error) => {
          console.log("error", error);
          this.dialog_loader = false;
        });
    },

    dialog_step_radio2() {
      this.dialog_suggest3 = false;
      this.dialog_total_table_radio = true;
    },

    cancle_dialog_detect2() {
      this.dialog_total_table_radio = false;
      this.countt_total = 0;
      this.list_total_preset = [];
      this.total_table_loop = [];
      this.$refs.validator_radio_total.reset();
      return;
    },

    pv_total() {
      if (this.countt_total > 0) {
        this.countt_total--;
        this.validator_radio_total.radios = this.list_total_preset[
          this.countt_total
        ].label;
        console.log("this.list_total_preset----->1", this.list_total_preset);
      }
    },

    async nx_total() {
      if (
        this.countt_total < this.total_table_loop.length + 1 &&
        this.$refs.validator_radio_total.validate()
      ) {
        if (this.validator_radio_total.radios == "ตรวจจับผิดพลาด") {
          this.dialog_total_table_radio = false;
          this.$swal({
            title: "ผิดพลาด!",
            type: "error",
            text: "กรุณาทำการครอปตารางอีกครั้ง !",
            confirmButtonText: "ตกลง",
            confirmButtonColor: "#d33",
            allowOutsideClick: false,
          }).then(() => {
            this.list_total_preset = [];
            this.countt_total = 0;
            this.total_table_loop = [];
            this.$refs.validator_radio_total.reset();
            // this.event_crop = 1;
          });
          return;
        } else {
          this.list_total_preset.splice(this.countt_total, 1, {
            // pic_preset: this.table_loop[this.countt],
            pic_preset: "0",
            label: this.validator_radio_total.radios,
          });
          this.countt_total++;
          if (this.list_total_preset[this.countt_total] == undefined) {
            this.$refs.validator_radio_total.reset();
          } else {
            this.validator_radio_total.radios = this.list_total_preset[
              this.countt_total
            ].label;
          }
        }
      }
    },

    accept_list_total_table() {
      if (!this.$refs.validator_radio_total.validate()) return;
      if (this.validator_radio_total.radios == "ตรวจจับผิดพลาด") {
        this.dialog_total_table_radio = false;
        this.$swal({
          title: "ผิดพลาด!",
          type: "error",
          text: "กรุณาทำการครอปตารางอีกครั้ง !",
          confirmButtonText: "ตกลง",
          confirmButtonColor: "#d33",
          allowOutsideClick: false,
        }).then(() => {
          this.list_total_preset = [];
          this.countt_total = 0;
          this.total_table_loop = [];
          this.$refs.validator_radio_total.reset();
          // this.event_crop = 1;
        });
        return;
      }
      this.list_total_preset.splice(this.countt, 1, {
        pic_preset: "0",
        label: this.validator_radio_total.radios,
      });
      console.log("this.list_total_preset------->", this.list_total_preset);
      this.dialog_total_table_radio = false;
      console.log(">>", this.list_total_preset);
      for (let i = 0; i < this.list_total_preset.length; i++) {
        if (this.list_total_preset[i]["label"] == "รวมเป็นเงิน") {
          this.price = i + 1;
        } else if (this.list_total_preset[i]["label"] == "ภาษีมูลค่าเพิ่ม") {
          this.price_vat = i + 1;
        } else if (this.list_total_preset[i]["label"] == "ยอดเงินสุทธิ") {
          this.total = i + 1;
        }
        console.log(this.list_total_preset[i]["label"]);
      }
      this.submit();
      this.countt_total = 0;
      this.total_table_loop = [];
      this.e1 = 4;
      this.tab_step4 = "tab_step4-0";
      this.$refs.validator_radio_total.reset();
    },

    submit_step_three() {
      this.dialog_loader = true;
      //crop
      const canvas = this.cropper.getCroppedCanvas();
      this.destination = canvas.toDataURL("image/png");
      console.log(this.destination);
      this.dialog_suggest3 = true;
      console.log("three");
      this.axios
        .post("http://quanta3.manageai.co.th:7777/tesseract/billing/preset", {
          image: this.destination,
          mode: "horizontal",
        })
        .then((res) => {
          this.dialog_loader = false;
          console.log(res);
          this.total_table_loop = res.data.result;
          console.log("total_table_loop--->", this.total_table_loop);
          for (let index = 0; index < this.total_table_loop.length; index++) {
            this.pic_preset_total = this.total_table_loop[index];
            // this.dialog_total_table_radio = true;
            // this.count++;
            // console.log(this.pic_preset);
            //  e1 = 4
            break;
          }
        })
        .catch((error) => {
          console.log("error", error);
          this.dialog_loader = false;
        });
    },

    submit_step_four() {
      //crop
      const canvas = this.cropper.getCroppedCanvas();
      this.destination = canvas.toDataURL("image/png");
      // console.log(this.destination);
      this.cropper.getData();
      console.log(this.cropper.getData());
    },

    submit() {
      if (
        this.name_preset == "" ||
        this.detail == "" ||
        this.quantity == "" ||
        this.unitprice == "" ||
        this.amount == "" ||
        this.price == "" ||
        this.price_vat == "" ||
        this.total == ""
      ) {
        console.log("error");
        // this.dialog_suggest = true;
        return;
      } else {
        // console.log("link", this.link);
        console.log("price", this.price);
        console.log("price_vat", this.price_vat);
        console.log("total", this.total);
        this.axios
          .post(process.env.VUE_APP_API + "/api/v1/preset/setcolumn", {
            biz_id: localStorage.getItem("biz_id"),
            name_preset: this.name_preset,
            // name_preset: this.form.name_preset,
            // detail: parseInt(this.form.detail),
            // quantity: parseInt(this.form.quantity),
            // unitprice: parseInt(this.form.unitprice),
            // amount: parseInt(this.form.amount),
            detail: parseInt(this.detail),
            quantity: parseInt(this.quantity),
            unitprice: parseInt(this.unitprice),
            amount: parseInt(this.amount),
            price: parseInt(this.price),
            price_vat: parseInt(this.price_vat),
            total: parseInt(this.total),
            s3link: this.s3link,
          })
          .then((response) => {
            console.log(response);
            // localStorage.removeItem("base64_po_preset");
            // this.$router.push({ name: "TrackingPO" });

            // this.$swal({
            //   title: "สำเร็จ !",
            //   type: "success",
            //   confirmButtonText: "ตกลง",

            //   allowOutsideClick: false,
            // }).then(() => {
            //   console.log("triggered redirect here");
            //   localStorage.removeItem("base64_po_preset");
            //   this.$router.push({ name: "TrackingPO" });
            // });
            // this.e1 = 4;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
};
</script>
