<template>
  <v-app>
    <!-- spinner -->
    <div class="text-center">
      <v-dialog v-model="dialog_loader" hide-overlay persistent width="300">
        <v-card color="primary" dark>
          <v-card-text style="text-align:center">
            รอสักครู่ . . .
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <!-- Dialog-STEP1-preset-name -->
    <v-dialog v-model="dialog_preset_name" persistent max-width="360">
      <v-card>
        <v-card-title class="headline">
          STEP 1. ตั้งชื่อแบบฟอร์ม
        </v-card-title>
        <v-card-text>
          กรุณากรอกชื่อแบบฟอร์ม
          <v-form ref="form_preset">
            <v-text-field
              filled
              clearable
              v-model="name_preset"
              :rules="form_preset.RulePresetName"
              label="ชื่อแบบฟอร์ม"
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="error darken-1"
            text
            @click="cancle_dialog_preset_name()"
          >
            ยกเลิก
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="submit_dialog_preset_name()"
          >
            ตกลง
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-STEP-1 -->
    <v-dialog v-model="dialog_suggest" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">
          STEP 2. ระบุตำแหน่งตาราง
        </v-card-title>
        <v-card-text>
          ให้ท่านลากเมาส์ ในส่วนของตาราง แล้วกด "อ่านข้อมูลดังภาพตัวอย่าง"
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/gif_4.gif"
            style="width:80%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog_suggest = false"
            >เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-suggest-2 -->
    <v-dialog v-model="dialog_step" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">
          STEP 3. ระบุข้อมูลตาราง
        </v-card-title>
        <v-card-text>
          ให้ท่านระบุข้อมูลตารางรายการ ในแต่ละคอลัมน์ แล้วกด "ถัดไป"
          ดังภาพตัวอย่าง
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/12.gif"
            style="width:100%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            :value="dialog_step"
            @click="dialog_step_radio()"
            >เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-suggest-3 -->
    <v-dialog v-model="dialog_suggest2" persistent max-width="550">
      <v-card>
        <v-card-title class="headline">
          STEP 4. ระบุตำแหน่งตารางเงินรวม
          <br />
        </v-card-title>
        <v-card-text>
          ให้ท่านลากเมาส์ ในส่วนของตารางเงินรวมทั้งหมด แล้วกด
          "อ่านข้อมูลดังภาพตัวอย่าง"
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/23.gif"
            style="width:80%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog_suggest2 = false">
            เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog-suggest-3 -->
    <v-dialog v-model="dialog_suggest3" persistent max-width="550">
      <v-card>
        <v-card-title class="headline">
          STEP 5. ระบุข้อมูลตารางเงินรวม
          <br />
        </v-card-title>
        <v-card-text>
          ให้ท่านระบุข้อมูลตารางรายการ ในแต่ละคอลัมน์ แล้วกด "ถัดไป"
          ดังภาพตัวอย่าง
        </v-card-text>
        <div style="text-align:center">
          <img
            src="../../assets/45.gif"
            style="width:80%;border-radius: 0px;"
          />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog_step_radio2()">
            เข้าใจแล้ว
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog Radios -->
    <v-dialog v-model="dialog" persistent width="100%">
      <v-card>
        <v-card-title>
          กรุณาทำการระบุชื่อคอลัมน์
          <v-spacer></v-spacer>
          <v-btn icon color="indigo" @click="cancle_dialog_detect()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card>
          <v-row no-gutters>
            <v-col cols="12" sm="6">
              <v-card :elevation="0" style="border-radius:0px">
                <v-alert
                  text
                  color="success"
                  style="border-radius:0px"
                  icon="mdi-check"
                >
                  <h3 class="headline">ถูกต้อง</h3>
                  <div>
                    <span> ตัวอย่างการตรวจจับคอลัมน์ที่ <B>ถูกต้อง</B></span>
                  </div>
                  <v-divider class="my-4 info" style="opacity: 0.22">
                  </v-divider>
                  <v-row no-gutters>
                    <div style="text-align:center">
                      <img src="../../assets/correct.png" width="50%" />
                    </div>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-alert>
              </v-card>
            </v-col>
            <v-col cols="12" sm="6">
              <v-card :elevation="0" style="border-radius:0px">
                <v-alert text color="error" icon="mdi-alert-circle-outline">
                  <h3 class="headline">ผิดพลาด</h3>
                  <div>
                    <span> ตัวอย่างการตรวจจับคอลัมน์ที่ <B>ผิดพลาด</B> </span>
                  </div>
                  <v-divider class="my-4 info" style="opacity: 0.22">
                  </v-divider>
                  <v-row no-gutters>
                    <div style="text-align:center">
                      <img src="../../assets/false.png" width="50%" />
                    </div>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-alert>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
        <v-card :elevation="0">
          <v-card-text>
            <v-row>
              <v-col cols="12" xl="9" lg="9" md="9" sm="12" xs="12">
                <div>
                  <img :src="table_loop[countt]" width="80%" />
                </div>
              </v-col>
              <v-col cols="12" xl="3" lg="3" md="3" sm="12" xs="12">
                <v-form ref="validator_radio">
                  <v-radio-group
                    v-model="validator_radio.radios"
                    :mandatory="false"
                    :rules="validator_radio.rule_radio"
                  >
                    <v-radio label="ลำดับ" value="ลำดับ"></v-radio>
                    <v-radio label="รายการ" value="รายการ"></v-radio>
                    <v-radio label="จำนวน" value="จำนวน"></v-radio>
                    <v-radio
                      label="ราคาต่อหน่วย"
                      value="ราคาต่อหน่วย"
                    ></v-radio>
                    <v-radio label="จำนวนเงิน" value="จำนวนเงิน"></v-radio>
                    <v-radio label="อื่นๆ" value="อื่นๆ"></v-radio>
                    <v-radio
                      label="ตรวจจับผิดพลาด"
                      value="ตรวจจับผิดพลาด"
                    ></v-radio>
                  </v-radio-group>
                </v-form>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="error darken-1"
            dark
            :disabled="countt == 0"
            :value="(check = 'back')"
            style="width:125px;max-width:100%"
            @click="pv()"
          >
            ย้อนกลับ
          </v-btn>
          <v-btn
            v-if="this.countt < this.table_loop.length - 1"
            color="green darken-1"
            dark
            style="width:125px;max-width:100%"
            @click="nx()"
          >
            ถัดไป
          </v-btn>
          <v-btn
            v-else
            color="green darken-1"
            dark
            style="width:125px;max-width:100%"
            @click="accept_list()"
            >ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog-Radios-total-table -->
    <v-dialog v-model="dialog_total_table_radio" persistent width="100%">
      <v-card>
        <v-card-title>
          กรุณาทำการระบุชื่อคอลัมน์
          <v-spacer></v-spacer>
          <v-btn icon color="indigo" @click="cancle_dialog_detect2()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card>
          <v-row no-gutters>
            <v-col cols="12" sm="6">
              <v-card :elevation="0" style="border-radius:0px">
                <v-alert
                  text
                  color="success"
                  style="border-radius:0px"
                  icon="mdi-check"
                >
                  <h3 class="headline">ถูกต้อง</h3>
                  <div>
                    <span> ตัวอย่างการตรวจจับคอลัมน์ที่ <B>ถูกต้อง</B></span>
                  </div>
                  <v-divider class="my-4 info" style="opacity: 0.22">
                  </v-divider>
                  <v-row no-gutters>
                    <div style="text-align:center">
                      <img src="../../assets/correct.png" width="50%" />
                    </div>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-alert>
              </v-card>
            </v-col>
            <v-col cols="12" sm="6">
              <v-card :elevation="0" style="border-radius:0px">
                <v-alert text color="error" icon="mdi-alert-circle-outline">
                  <h3 class="headline">ผิดพลาด</h3>
                  <div>
                    <span> ตัวอย่างการตรวจจับคอลัมน์ที่ <B>ผิดพลาด</B> </span>
                  </div>
                  <v-divider class="my-4 info" style="opacity: 0.22">
                  </v-divider>
                  <v-row no-gutters>
                    <div style="text-align:center">
                      <img src="../../assets/false.png" width="50%" />
                    </div>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-alert>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
        <v-card :elevation="0">
          <v-card-text>
            <v-row>
              <v-col cols="12" xl="9" lg="9" md="9" sm="12" xs="12">
                <div>
                  <img :src="total_table_loop[countt_total]" width="80%" />
                </div>
              </v-col>
              <v-col cols="12" xl="3" lg="3" md="3" sm="12" xs="12">
                <v-form ref="validator_radio_total">
                  <v-radio-group
                    v-model="validator_radio_total.radios"
                    :mandatory="false"
                    :rules="validator_radio_total.rule_radio"
                  >
                    <v-radio label="รวมเป็นเงิน" value="รวมเป็นเงิน"></v-radio>
                    <v-radio
                      label="ภาษีมูลค่าเพิ่ม"
                      value="ภาษีมูลค่าเพิ่ม"
                    ></v-radio>
                    <v-radio
                      label="ยอดเงินสุทธิ"
                      value="ยอดเงินสุทธิ"
                    ></v-radio>
                    <v-radio label="อื่นๆ" value="อื่นๆ"></v-radio>
                    <v-radio
                      label="ตรวจจับผิดพลาด"
                      value="ตรวจจับผิดพลาด"
                    ></v-radio>
                  </v-radio-group>
                </v-form>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="error darken-1"
            dark
            :disabled="countt_total == 0"
            :value="(check = 'back')"
            style="width:125px;max-width:100%"
            @click="pv_total()"
          >
            ย้อนกลับ
          </v-btn>
          <v-btn
            v-if="this.countt_total < this.total_table_loop.length - 1"
            color="green darken-1"
            dark
            style="width:125px;max-width:100%"
            @click="nx_total()"
          >
            ถัดไป
          </v-btn>
          <v-btn
            v-else
            color="green darken-1"
            dark
            style="width:125px;max-width:100%"
            @click="accept_list_total_table()"
            >ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-row>
      <v-col cols="12" md="3"></v-col>
      <v-col cols="12" md="6">
        <div>
          <v-container>
            <v-btn
              class="btn-ocr"
              color="primary"
              @click="crop(event_crop)"
              :value="event_crop"
              style="width:150px;max-width:100%"
            >
              <v-icon>mdi-crop</v-icon>อ่านข้อมูล
            </v-btn>
            <v-card style="text-align:center">
              <!-- <v-btn class="btn-ocr" color="primary" @click="crop">
              <v-icon>mdi-crop</v-icon>อ่านข้อมูล
            </v-btn> -->
              <!-- <img width="100%" :src="this.pic[0]" ref="image" /> -->
              <div>
                <v-tabs v-model="tab" class="tabs" :grow="grow">
                  <v-tab
                    v-for="(img, index) in pic"
                    :key="index"
                    :href="'#tab-' + index"
                  >
                    หน้า-{{ index + 1 }}
                  </v-tab>
                </v-tabs>

                <v-tabs-items
                  v-model="tab"
                  v-for="(img, index) in pic"
                  :key="index"
                >
                  <v-tab-item :value="'tab-' + index">
                    <div>
                      <img :ref="'tab-' + index" :src="img" width="100%" />
                    </div>
                  </v-tab-item>
                </v-tabs-items>
              </div>
            </v-card>
          </v-container>
        </div>
      </v-col>
      <v-col cols="12" md="3"></v-col>
      <!-- <v-col cols="12" md="6">
        <v-card class="mx-auto" width="95%">
          <v-alert icon="mdi-firework" prominent text type="info">
            <span style="font-size:13.5px">
              แนะนำ : การสร้างแบบฟอร์ม ขั้นตอนแรกจะต้องทำการระบุ
              <B><U>ตัวเลขคอลัมน์</U></B>
              * รายละเอียดข้อมูลของตารางใบ Invoice เพื่อที่จะสามารถทำการ OCR ได้
            </span>
          </v-alert>
          <v-card-text>
            <v-form v-model="form.valid" ref="form">
              <v-text-field
                v-model="form.name_preset"
                label="ชื่อแบบฟอร์ม"
                placeholder=""
                type="text"
                :rules="form.name_presetRules"
                required
              ></v-text-field> -->

      <!-- <v-text-field
                v-model="form.name_preset"
                label="ชื่อแบบฟอร์ม"
                placeholder=""
                type="text"
                :rules="form.name_presetRules"
                required
              ></v-text-field> -->

      <!-- <v-text-field
                v-model="form.detail"
                label="รายการ"
                placeholder=""
                type="number"
                :rules="form.detail_columnRules"
                required
              ></v-text-field>

              <v-text-field
                v-model="form.quantity"
                label="จำนวน"
                placeholder=""
                type="number"
                :rules="form.quantity_columnRules"
                required
              ></v-text-field>

              <v-text-field
                v-model="form.unitprice"
                label="ราคาต่อหน่วย"
                placeholder=""
                type="number"
                :rules="form.amount_columnRules"
                required
              ></v-text-field>

              <v-text-field
                v-model="form.amount"
                label="จำนวนเงิน"
                placeholder=""
                type="number"
                :rules="form.amount_columnRules"
                required
              ></v-text-field> -->
      <!-- </v-form>

            <div v-for="(item, i) in list_preset" :key="i">
              <v-text-field
                :label="item.label + 'อยู่คอลัมน์ที่'"
                :value="i"
                disabled
              ></v-text-field>
            </div>
          </v-card-text>
          <v-divider class="mt-6"></v-divider>
          <v-card-actions style="float:right">
            <v-btn
              style="width:115px"
              class="ma-2"
              tile
              color="error"
              dark
              @click="cancle()"
              >ยกเลิก</v-btn
            >
            <v-btn
              style="width:115px"
              class="ma-2"
              tile
              color="success"
              dark
              @click="submit"
            >
              ตกลง
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col> -->
    </v-row>
  </v-app>
</template>

<script>
import Cropper from "cropperjs";

export default {
  props: {
    src: String,
  },
  data: () => ({
    tab: null,
    grow: true,
    link: "http://cddfe6febe0d.ngrok.io/api/v1/preset/setcolumn",
    dialog_total_table_radio: false,
    // mode_preset: "vartical",
    event_crop: 1,
    dialog_step: false,
    dialog_suggest2: false,
    dialog_suggest3: false,
    dialog_preset_name: false,
    name_preset: "",
    form_preset: {
      RulePresetName: [
        (v) => !!v || "กรุณากรอกชื่อแบบฟอร์ม*",
        (v) => v != null || "กรุณากรอกชื่อแบบฟอร์ม*",
      ],
    },
    //
    before_state: false,
    countt: 0,
    countt_total: 0,
    check: "",
    disble_back: false,
    dialog_loader: false,
    total_table_loop: [],
    //
    detail: 0,
    quantity: 0,
    unitprice: 0,
    amount: 0,
    price: 0,
    price_vat: 0,
    total: 0,
    //
    validator_radio: {
      radios: "",
      rule_radio: [
        (v) => !!v || "กรุณาระบุข้อมูลให้ครบถ้วน*",
        (v) => v != null || "กรุณาระบุข้อมูลให้ครบถ้วน*",
      ],
    },
    validator_radio_total: {
      radios: "",
      rule_radio: [
        (v) => !!v || "กรุณาระบุข้อมูลให้ครบถ้วน*",
        (v) => v != null || "กรุณาระบุข้อมูลให้ครบถ้วน*",
      ],
    },
    dialog_suggest: false,
    item: 1,
    list_preset: [],
    list_total_preset: [],
    s3link: JSON.parse(localStorage.getItem("s3link")),
    table_loop: [],
    pic: JSON.parse(localStorage.getItem("base64_preset")),
    pic_show: "",
    pic_preset: "",
    pic_preset_total: "",
    cropper: {},
    destination: {},
    // image: {},
    dialog: false,
    count: 0,
    count_back: 0,
    minus_count: 0,
    form: {
      valid: false,
      name_preset: "",
      detail: "",
      quantity: "",
      unitprice: "",
      amount: "",
      name_presetRules: [
        (v) => !!v || "กรุณากรอกชื่อแบบฟอร์ม*",
        (v) => v != null || "กรุณากรอกชื่อแบบฟอร์ม*",
      ],
      // detail_columnRules: [
      //   (v) => !!v || "กรุณากรอกเลขคอลัมน์ของรายการ*",
      //   (v) => v != null || "กรุณากรอกเลขคอลัมน์ของรายการ*",
      // ],
      // quantity_columnRules: [
      //   (v) => !!v || "กรุณากรอกเลขคอลัมน์ของจำนวนที่*",
      //   (v) => v != null || "กรุณากรอกเลขคอลัมน์ของจำนวนที่*",
      // ],
      // unitprice_columnRules: [
      //   (v) => !!v || "กรุณากรอกเลขคอลัมน์ราคา/ต่อหน่วยที่*",
      //   (v) => v != null || "กรุณากรอกเลขคอลัมน์ราคา/ต่อหน่วยที่*",
      // ],
      // amount_columnRules: [
      //   (v) => !!v || "กรุณากรอกเลขคอลัมน์จำนวนเงินที่*",
      //   (v) => v != null || "กรุณากรอกเลขคอลัมน์จำนวนเงินที่*",
      // ],
    },
  }),
  watch: {
    countt: function(new_val, old_val) {
      console.log("--->", new_val, "-->", old_val);
    },

    countt_total: function(new_val, old_val) {
      console.log("--->", new_val, "-->", old_val);
    },

    tab(val) {
      // console.log(val);
      setTimeout(() => {
        this.images = this.$refs[val];
        this.cropper = new Cropper(this.images[0], {
          autoCrop: false,
          zoomable: false,
          scalable: false,
          aspectRatio: "free",
        });
      }, 1000);
    },
  },

  mounted() {
    this.dialog_preset_name = true;
    // if (this.pic[0]) {
    //   this.images = this.$refs.image;
    //   // console.log(this.images);
    //   this.cropper = new Cropper(this.images, {
    //     autoCrop: false,
    //     zoomable: false,
    //     scalable: false,
    //     aspectRatio: "free",
    //   });

    //   // console.log(this.cropper);
    // }
    this.check_list();
  },
  created() {},

  methods: {
    cancle_dialog_preset_name() {
      this.$router.push({ name: "PagePresetName" });
      this.dialog_preset_name = false;
    },

    submit_dialog_preset_name() {
      this.$refs.form_preset.validate();
      if (this.name_preset != "") {
        this.dialog_suggest = true;
        this.dialog_preset_name = false;
      }
    },

    cancle_dialog_detect() {
      this.dialog = false;
      this.event_crop = 1;
      this.list_preset = [];
      this.countt = 0;
      // this.count = 0;
      this.table_loop = [];
      this.$refs.validator_radio.reset();
      return;
    },

    cancle_dialog_detect2() {
      this.dialog_total_table_radio = false;
      this.event_crop = 2;
      this.countt_total = 0;
      this.list_total_preset = [];
      this.total_table_loop = [];
      this.$refs.validator_radio_total.reset();
      return;
    },

    check_list() {
      if (this.list_preset.length == 0) {
        console.log("emtpy");
        this.disble_back = true;
      }
    },

    pv() {
      if (this.countt > 0) {
        this.countt--;
        this.validator_radio.radios = this.list_preset[this.countt].label;

        console.log("this.list_preset----->1", this.list_preset);
      }
    },

    accept_list() {
      if (!this.$refs.validator_radio.validate()) return;
      if (this.validator_radio.radios == "ตรวจจับผิดพลาด") {
        this.dialog = false;
        this.$swal({
          title: "ผิดพลาด!",
          type: "error",
          text: "กรุณาทำการครอปตารางอีกครั้ง !",
          confirmButtonText: "ตกลง",
          confirmButtonColor: "#d33",
          allowOutsideClick: false,
        }).then(() => {
          this.list_preset = [];
          this.countt = 0;
          this.table_loop = [];
          this.$refs.validator_radio.reset();
          this.event_crop = 1;
        });
        return;
      }
      this.list_preset.splice(this.countt, 1, {
        // pic_preset: this.table_loop[this.countt],
        pic_preset: "0",
        label: this.validator_radio.radios,
      });
      console.log("this.list_preset------->", this.list_preset);
      this.dialog = false;
      console.log(">>", this.list_preset);
      for (let i = 0; i < this.list_preset.length; i++) {
        if (this.list_preset[i]["label"] == "รายการ") {
          this.detail = i + 1;
        } else if (this.list_preset[i]["label"] == "จำนวน") {
          this.quantity = i + 1;
        } else if (this.list_preset[i]["label"] == "ราคาต่อหน่วย") {
          this.unitprice = i + 1;
        } else if (this.list_preset[i]["label"] == "จำนวนเงิน") {
          this.amount = i + 1;
        }
        console.log(this.list_preset[i]["label"]);
        this.dialog_suggest2 = true;
      }
      this.count = 0;
      this.table_loop = [];
      this.$refs.validator_radio.reset();
      //////////////////////////////////////////////////////////////////////////////////
      // this.$swal({
      //   title: "สำเร็จ !",
      //   type: "success",
      //   confirmButtonText: "ตกลง",
      //   allowOutsideClick: false,
      // }).then(() => {
      //   console.log(">>", this.list_preset);
      //   for (let i = 0; i < this.list_preset.length; i++) {
      //     if (this.list_preset[i]["label"] == "รายการ") {
      //       this.detail = i + 1;
      //     } else if (this.list_preset[i]["label"] == "จำนวน") {
      //       this.quantity = i + 1;
      //     } else if (this.list_preset[i]["label"] == "ราคาต่อหน่วย") {
      //       this.unitprice = i + 1;
      //     } else if (this.list_preset[i]["label"] == "จำนวนเงิน") {
      //       this.amount = i + 1;
      //     }
      //     console.log(this.list_preset[i]["label"]);
      //     this.submit();
      //     // this.dialog_suggest2 = true;
      //   }
      //   this.count = 0;
      //   this.table_loop = [];
      //   this.$refs.validator_radio.reset();
      //   // console.log("triggered redirect here");
      // });
    },

    async nx() {
      if (
        this.countt < this.table_loop.length + 1 &&
        this.$refs.validator_radio.validate()
      ) {
        if (this.validator_radio.radios == "ตรวจจับผิดพลาด") {
          this.dialog = false;
          this.$swal({
            title: "ผิดพลาด!",
            type: "error",
            text: "กรุณาทำการครอปตารางอีกครั้ง !",
            confirmButtonText: "ตกลง",
            confirmButtonColor: "#d33",
            allowOutsideClick: false,
          }).then(() => {
            this.list_preset = [];
            this.countt = 0;
            this.table_loop = [];
            this.$refs.validator_radio.reset();
            this.event_crop = 1;
          });
          return;
        } else {
          this.list_preset.splice(this.countt, 1, {
            // pic_preset: this.table_loop[this.countt],
            pic_preset: "0",
            label: this.validator_radio.radios,
          });
          this.countt++;
          if (this.list_preset[this.countt] == undefined) {
            this.$refs.validator_radio.reset();
          } else {
            this.validator_radio.radios = this.list_preset[this.countt].label;
          }
        }
      }
    },
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    pv_total() {
      if (this.countt_total > 0) {
        this.countt_total--;
        this.validator_radio_total.radios = this.list_total_preset[
          this.countt_total
        ].label;
        console.log("this.list_total_preset----->1", this.list_total_preset);
      }
    },

    async nx_total() {
      if (
        this.countt_total < this.total_table_loop.length + 1 &&
        this.$refs.validator_radio_total.validate()
      ) {
        if (this.validator_radio_total.radios == "ตรวจจับผิดพลาด") {
          this.dialog_total_table_radio = false;
          this.$swal({
            title: "ผิดพลาด!",
            type: "error",
            text: "กรุณาทำการครอปตารางอีกครั้ง !",
            confirmButtonText: "ตกลง",
            confirmButtonColor: "#d33",
            allowOutsideClick: false,
          }).then(() => {
            this.list_total_preset = [];
            this.countt_total = 0;
            this.total_table_loop = [];
            this.$refs.validator_radio_total.reset();
            // this.event_crop = 1;
          });
          return;
        } else {
          this.list_total_preset.splice(this.countt_total, 1, {
            // pic_preset: this.table_loop[this.countt],
            pic_preset: "0",
            label: this.validator_radio_total.radios,
          });
          this.countt_total++;
          if (this.list_total_preset[this.countt_total] == undefined) {
            this.$refs.validator_radio_total.reset();
          } else {
            this.validator_radio_total.radios = this.list_total_preset[
              this.countt_total
            ].label;
          }
        }
      }
    },

    accept_list_total_table() {
      if (!this.$refs.validator_radio_total.validate()) return;
      if (this.validator_radio_total.radios == "ตรวจจับผิดพลาด") {
        this.dialog_total_table_radio = false;
        this.$swal({
          title: "ผิดพลาด!",
          type: "error",
          text: "กรุณาทำการครอปตารางอีกครั้ง !",
          confirmButtonText: "ตกลง",
          confirmButtonColor: "#d33",
          allowOutsideClick: false,
        }).then(() => {
          this.list_total_preset = [];
          this.countt_total = 0;
          this.total_table_loop = [];
          this.$refs.validator_radio_total.reset();
          // this.event_crop = 1;
        });
        return;
      }
      this.list_total_preset.splice(this.countt, 1, {
        pic_preset: "0",
        label: this.validator_radio_total.radios,
      });
      console.log("this.list_total_preset------->", this.list_total_preset);
      this.dialog_total_table_radio = false;
      console.log(">>", this.list_total_preset);
      for (let i = 0; i < this.list_total_preset.length; i++) {
        if (this.list_total_preset[i]["label"] == "รวมเป็นเงิน") {
          this.price = i + 1;
        } else if (this.list_total_preset[i]["label"] == "ภาษีมูลค่าเพิ่ม") {
          this.price_vat = i + 1;
        } else if (this.list_total_preset[i]["label"] == "ยอดเงินสุทธิ") {
          this.total = i + 1;
        }
        console.log(this.list_total_preset[i]["label"]);
      }
      this.submit();
      this.countt_total = 0;
      this.total_table_loop = [];
      this.$refs.validator_radio_total.reset();
    },

    ///////////////////////////////////////////////////////////////////////////////////////////////////////////

    back_preset() {
      if (this.count_back == 0) {
        this.disble_back = true;
      } else {
        this.count_back--;
        for (
          this.count_back;
          this.count_back < this.table_loop.length;
          this.count_back--
        ) {
          if (this.count_back == 0) {
            this.disble_back = true;
            break;
          } else {
            console.log("count_back", this.count_back);
            this.pic_preset = this.table_loop[this.count_back - 1];
            // this.list_preset.splice(index - 1, 1);
            console.log("splice", this.list_preset);
            this.validator_radio.radios = this.list_preset[
              this.count_back - 1
            ].label;
            this.dialog = true;
            break;
          }
        }
      }
    },

    submit_preset() {
      // if (check == "back") {
      //   console.log("back");
      //   if (this.list_preset.length == 0) {
      //     this.disble_back = true;
      //   }
      //   else {
      //     this.count--;
      //     console.log("--", this.count);
      //     for (let index = this.count;index < this.table_loop.length;index++) {
      //       if (this.count == -1) {
      //         this.disble_back = true;
      //         break;
      //       } else {
      //         this.pic_preset = this.table_loop[index];
      //         // this.list_preset.splice(index - 1, 1);
      //         // console.log("splice", this.list_preset);
      //         // console.log("index--splice", this.list_preset[index--]);
      //         this.validator_radio.radios = this.list_preset[index].label;
      //         this.dialog = true;
      //         break;
      //       }
      //     }
      //   }
      // }
      //////////
      // else {
      console.log("go");
      if (!this.$refs.validator_radio.validate()) return;
      if (this.validator_radio.radios == "ตรวจจับผิดพลาด") {
        this.dialog = false;
        this.$swal({
          title: "ผิดพลาด!",
          type: "error",
          text: "กรุณาทำการครอปตารางอีกครั้ง !",
          confirmButtonText: "ตกลง",
          confirmButtonColor: "#d33",
          allowOutsideClick: false,
        }).then(() => {
          this.list_preset = [];
          this.count = 0;
          this.table_loop = [];
          this.$refs.validator_radio.reset();
        });
        return;
      }

      // if (this.count < this.table_loop.length) {
      //   this.count++;
      if (
        this.count_back < this.count &&
        this.count_back < this.list_preset.length
      ) {
        console.log("a", this.count_back);
        console.log("b", this.count);
        console.log("if");
        this.pic_preset = this.table_loop[this.count_back];
        this.validator_radio.radios = this.list_preset[this.count_back].label;
        this.count_back++;
        console.log("y", this.count_back);
        console.log("z", this.count);
      } else {
        console.log("else");
        console.log("count", this.count);
        console.log(this.table_loop.length);

        for (let index = this.count; index <= this.table_loop.length; index++) {
          this.pic_preset = this.table_loop[index];
          this.dialog = true;
          // console.log("หลัง", this.count);
          this.list_preset.push({
            pic_preset: this.pic_preset,
            label: this.validator_radio.radios,
          });
          console.log(this.list_preset);
          this.count++;
          this.count_back = this.count;
          if (this.list_preset.length != 0) {
            this.disble_back = false;
          }
          this.$refs.validator_radio.reset();
          console.log("===>", this.count);
          console.log("===>", this.table_loop.length);
          if (this.count >= this.table_loop.length + 1) {
            this.dialog = false;
            this.$swal({
              title: "สำเร็จ !",
              type: "success",
              confirmButtonText: "ตกลง",
              allowOutsideClick: false,
            }).then(() => {
              console.log(">>", this.list_preset);
              console.log("test", this.dialog_suggest2);
              for (let i = 0; i < this.list_preset.length; i++) {
                if (this.list_preset[i]["label"] == "รายการ") {
                  this.detail = i + 1;
                } else if (this.list_preset[i]["label"] == "จำนวน") {
                  this.quantity = i + 1;
                } else if (this.list_preset[i]["label"] == "ราคาต่อหน่วย") {
                  this.unitprice = i + 1;
                } else if (this.list_preset[i]["label"] == "จำนวนเงิน") {
                  this.amount = i + 1;
                }
                console.log(this.list_preset[i]["label"]);
              }
              this.count = 0;
              this.table_loop = [];
              this.$refs.validator_radio.reset();
              console.log("เสร็จขั้นตอนการ Crop");
            });
          }
          break;
        }
      }
    },

    dialog_step_radio() {
      this.dialog_step = false;
      // console.log("========>dialog_step_radio");
      this.dialog = true;
    },

    dialog_step_radio2() {
      this.dialog_suggest3 = false;
      this.dialog_total_table_radio = true;
    },

    crop(event_crop) {
      console.log("event_crop", event_crop);
      this.count = 0;
      this.count_back = 0;
      this.table_loop = [];
      this.list_preset = [];
      this.list_total_preset = [];
      //
      this.dialog_loader = true;
      // console.log(this.cropper);
      const canvas = this.cropper.getCroppedCanvas();
      this.destination = canvas.toDataURL("image/png");
      console.log(this.destination);
      // }

      // this.pic_crop = {
      //   base64_crop: this.destination,
      //   name_preset: localStorage.getItem("name_preset"),
      //   biz_id: localStorage.getItem("biz_id"),
      //   file_path: this.data_crop.data.file_path,
      // };
      // // console.log(this.pic_crop);

      if (event_crop == 1) {
        console.log("1", event_crop);
        this.axios
          .post("http://quanta3.manageai.co.th:7777/tesseract/billing/preset", {
            image: this.destination,
            mode: "vartical",
          })
          .then((res) => {
            this.event_crop++;
            console.log("++", this.event_crop);
            console.log("detail_crop", res);
            this.table_loop = res.data.result;
            console.log("table_loop--->", this.table_loop);
            this.dialog_step = true;
            for (let index = 0; index < this.table_loop.length; index++) {
              console.log("dialog_step", this.dialog_step);
              this.pic_preset = this.table_loop[index];
              this.count++;
              this.count_back++;
              // this.dialog = true;
              // this.count++;
              // console.log(this.pic_preset);
              break;
            }
            this.dialog_loader = false;
            // this.desserts.push(res.data.detail);
            // localStorage.setItem("detail_crop", JSON.stringify(this.desserts));
            // this.cal_auto();
          })
          .catch((error) => {
            console.log("error", error);
            this.event_crop = 1;
            this.dialog_loader = false;
          });
      } else if (event_crop == 2) {
        console.log("2");
        this.dialog_suggest3 = true;
        this.axios
          .post("http://quanta3.manageai.co.th:7777/tesseract/billing/preset", {
            image: this.destination,
            mode: "horizontal",
          })
          .then((res) => {
            this.dialog_loader = false;
            console.log(res);
            this.total_table_loop = res.data.result;
            console.log("total_table_loop--->", this.total_table_loop);
            for (let index = 0; index < this.total_table_loop.length; index++) {
              this.pic_preset_total = this.total_table_loop[index];
              this.count++;
              this.count_back++;
              // this.dialog_total_table_radio = true;
              // this.count++;
              // console.log(this.pic_preset);
              break;
            }
          })
          .catch((error) => {
            console.log("error", error);
            this.dialog_loader = false;
            // this.event_crop = 1;
            // this.dialog_loader = false;
          });
      } else {
        console.log("error");
        location.reload();
      }
    },

    submit() {
      // if (this.$refs.form.validate()) {
      // console.log("OK");
      if (
        this.name_preset == "" ||
        this.detail == "" ||
        this.quantity == "" ||
        this.unitprice == "" ||
        this.amount == "" ||
        this.price == "" ||
        this.price_vat == "" ||
        this.total == ""
      ) {
        console.log("error");
        // this.dialog_suggest = true;
        return;
      } else {
        // console.log("link", this.link);
        console.log("price", this.price);
        console.log("price_vat", this.price_vat);
        console.log("total", this.total);
        this.axios
          .post(process.env.VUE_APP_API + "/api/v1/preset/setcolumn", {
            biz_id: localStorage.getItem("biz_id"),
            name_preset: this.name_preset,
            // name_preset: this.form.name_preset,
            // detail: parseInt(this.form.detail),
            // quantity: parseInt(this.form.quantity),
            // unitprice: parseInt(this.form.unitprice),
            // amount: parseInt(this.form.amount),
            detail: parseInt(this.detail),
            quantity: parseInt(this.quantity),
            unitprice: parseInt(this.unitprice),
            amount: parseInt(this.amount),
            price: parseInt(this.price),
            price_vat: parseInt(this.price_vat),
            total: parseInt(this.total),
            s3link: this.s3link,
          })
          .then((response) => {
            console.log(response);
            // localStorage.removeItem("base64_po_preset");
            // this.$router.push({ name: "TrackingPO" });
            this.$swal({
              title: "สำเร็จ !",
              type: "success",
              // text: "กดปุ่ม ตกลง เพื่อไปยังหน้า HOME",
              confirmButtonText: "ตกลง",
              // cancelButtonText: "ยกเลิก",
              // cancelButtonColor: "#d33",
              // showCancelButton: true,
              allowOutsideClick: false,
            }).then(() => {
              console.log("triggered redirect here");
              localStorage.removeItem("base64_po_preset");
              this.$router.push({ name: "TrackingPO" });
            });
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
  cancle() {
    this.$router.push({ name: "TrackingPO" });
  },
  swal_alert() {
    this.$swal({
      title: "สำเร็จ !",
      type: "success",
      // text: "กดปุ่ม ตกลง เพื่อไปยังหน้า HOME",
      confirmButtonText: "ตกลง",
      // cancelButtonText: "ยกเลิก",
      // cancelButtonColor: "#d33",
      // showCancelButton: true,
      allowOutsideClick: false,
    }).then(() => {
      console.log("triggered redirect here");
      localStorage.removeItem("base64_po_preset");
      this.$router.push({ name: "TrackingPO" });
    });
  },
  // },
};
</script>

<style></style>
