<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {

  },

  data: () => ({
    //
  }),
};
</script>

<style media="screen">
.v-application{
  /* font-family: 'Kanit', sans-serif !important; */
  font-family: 'Kanit', sans-serif !important;
}
</style>
